@charset "utf-8";
@font-face {
	font-family: 'Spoqa Han Sans';
	src:url("../fonts/Spoqa Han Sans Regular.ttf") format('truetype'),url("../fonts/Spoqa Han Sans Regular.woff") format('woff'),url("../fonts/Spoqa Han Sans Regular.woff2") format('woff2');
	src:url("../fonts/Spoqa Han Sans Regular.ttf") format('truetype'), url("../fonts/Spoqa Han Sans Boldr.woff") format('woff'),url("../fonts/Spoqa Han Sans Regular.woff2") format('woff2');
}
ul,ol { list-style: none; }
a { text-decoration: none; color: #555;}
h1,h2,ul,ol,p,textarea,fieldset,dd { margin: 0; padding: 0;}
fieldset { border:0; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {display: block;}
body {-webkit-text-size-adjust: 100%; margin: 0; overflow-x: hidden; font-family: 'Spoqa Han Sans', 'Sans-serif'; min-width: 320px;}
body,html { overflow-x: hidden; }
select {-webkit-border-radius:0; -moz-border-radius:0; -o-border-radius:0; border-radius:0;}
.cb::after {content: ""; display: block; clear: both;}
/* --------------- header --------------- */
header { width: 100%; height: 126px; position: fixed; top: 0; left: 0; transition: all .5s; z-index: 2; box-sizing: border-box; border-bottom: 1px solid transparent;}
header.active { background: #fff; border-bottom: 1px solid #ccc; }
header.active a { color: #555; }
header.active h1 a { color: #4874E8; }
header:hover { background: #fff; }
header:hover a { color: #555; }
header:hover h1 a { color:  #4874E8; }
header .wrap { width: 1200px;  margin: 0 auto;}
header .wrap:after { content:""; display: block; clear:both; }
header h1 { width: 20%; height: 100%; float: left;   }
header h1 a { color: #fff; font-size: 25px; transition: all .5s; line-height: 76px; display: block; width: 100%; height: 100%; text-align: left; box-sizing: border-box; padding-left: 18px;}
header nav { width: 80%; height: 76px; float: left; box-sizing: border-box; }
header nav > ul { text-align: right; }
header nav > ul > li { display: inline-block; height: 100%; box-sizing:border-box; padding: 0 14px; transition: all .5s; color: #fff;}
header:hover nav > ul > li { color: #ccc; }
header nav > ul > li > a { text-align: center; display: block; width: 100%; height: 74px; line-height: 74px; color: #fff; font-weight: 500; font-size: 14px; box-sizing: border-box; border-bottom: 2px solid transparent; transition: all .2s; letter-spacing: 1px;}
header nav > ul > li > a:hover { border-color:  #4874E8; color: #4874E8; }
header nav > ul > li > ul { display: none; }
header nav ul .member { padding: 0 7px; }
header nav ul .member a { width: auto; height: 32px; border:1px solid #fff; position: relative; top:0px; line-height:28px; border-radius: 5px; padding: 0 10px;}
header:hover nav ul .member a {border-color: #555; }
header nav ul .member a:hover { border-color: #4874E8; }
header.active nav ul .member a {border-color: #555; }
header.active nav ul .member a:hover { border-color: #4874E8; }
header .mobileMenu { display: none; }
header .xBtn { display: none; }

header nav ul li.mbview{display:none;}
/* --------------- //header --------------- */

/* --------------- footer ------------ */
footer { width: 100%; height: 150px; background-color: #212121; padding-top: 40px; }
footer .wrap { width: 1200px; margin: 0 auto; }
footer .wrap:after { content:""; display: block; clear: both;}
footer h2 { float: left; width: 20%; color: #ddd;}
footer .companyInfo { float: left; width: 30%; }
footer .companyIntro { float:left; width: 50%; }
footer p { font-size: 11px; color: #777; }
footer address { font-size: 11px; color: #777; font-style:inherit; }
/* --------------- //footer ------------ */

/* 상단광고 */
.topfixArea{width:100%;line-height:50px;box-sizing:border-box; background:rgba(0,0,0,.3); transition: all .5s; border-bottom: 1px solid transparent; }
header.active .topfixArea { background: #4874e8; border-bottom: 1px solid #ccc; }
header:hover .topfixArea { background: #4874e8; border-bottom: 1px solid #ccc;}
.topfixArea:after{display:block;visibility:hidden;clear:both;content:'';}
.topfixArea .topbtnArea{float:left; width:20%;}
.topfixArea .topbtnArea a{display:inline-block;text-align:center;font-size:14px; color: #ddd; padding: 0 20px; transition: all .5s;}
.topfixArea .topbtnArea a:hover { background-color: rgba(0,0,0,.5); color: #fff; }
.topfixArea ul{float:left; width: 45%; height: 50px; overflow: hidden; }
.topfixArea ul li { padding: 0 20px; box-sizing: border-box; animation:addPR 4s infinite ease-in-out normal;}
@keyframes addPR {
	0% { transform:translateY(0); }
	100% { transform:translateY(-50px); }
}
.topfixArea ul li a { color:#fff;font-size:14px; }
.topfixArea form#topSearch{width:35%;float:right; box-sizing: border-box; padding-right: 5px;}
.topfixArea form#topSearch fieldset{width:100%; text-align: right;	}
.topfixArea form#topSearch fieldset label{ color: #fff;  line-height: 30px; height: 30px; display: inline-block;	}
.topfixArea form#topSearch fieldset label input { width: 60px; height: 28px; border:1px solid #ccc; border-radius: 5px; margin-right: 3px; box-sizing: border-box; padding: 5px 7px; display: inline-block;	position: relative; top:-1px;}
.topfixArea form#topSearch fieldset button{ width: 80px; height: 28px;	border:1px solid #4874e8; color: #4874e8; background: #4874e8; border-radius: 5px;  color: #eee; cursor:pointer; line-height: 26px; box-sizing: border-box; margin-left: 5px; transition: all .5s; font-weight: bold;}
.topfixArea form#topSearch fieldset button:hover { background-color: #fff; color: #4874e8; }
header.active form#topSearch fieldset button { border-color:#9ca4e6; }
header:hover form#topSearch fieldset button { border-color:#9ca4e6; }
header:hover form#topSearch fieldset button:hover { background-color: #fff; color: #4874e8; }


@media only screen and (min-width: 1200px) {

	header nav ul li.main_con { padding: 0 20px; }

	header nav ul .submenu { position: relative; }
	header nav ul .submenu:hover ul {display: block; position: absolute; left: -17px;  border-radius: 0 0 5px 5px; overflow: hidden; border: 1px solid #ccc;}
	header nav ul .submenu:hover ul.l27 { left: -27px; }
	header nav ul .submenu:hover ul li { width: 120px; height: 45px; background-color: #fff;  transition: all .5s; padding: 0 10px;}
	header nav ul .submenu:hover ul li a { text-align: center; display: block; color: #777; font-weight: bold; font-size: 14px; line-height: 40px; height: 100%; border-bottom: 2px solid transparent; transition: all .5s; box-sizing: border-box;}
	header nav ul .submenu ul li:hover a { border-color: #4874e8; }

	header nav ul li.fl { margin-left: 120px; }
}

@media only screen and (min-width: 960px) and (max-width: 1200px) {

	/* --------------- header --------------- */
	header .wrap { width: 100%; }
	header nav > ul > li { padding: 0 10px; }

	header nav ul .submenu { position: relative; }
	header nav ul .submenu:hover ul {display: block; position: absolute; left: -22px;  border-radius: 0 0 5px 5px; overflow: hidden;}
	header nav ul .submenu:hover ul.l27 { left: -32px; }
	header nav ul .submenu:hover ul li { width: 120px; height: 45px; background-color: #fff;  transition: all .5s; padding: 0 10px;}
	header nav ul .submenu:hover ul li a { text-align: center; display: block; color: #777; font-weight: bold; font-size: 14px; line-height: 40px; height: 100%; border-bottom: 2px solid transparent; transition: all .5s; box-sizing: border-box;}
	header nav ul .submenu ul li:hover a { border-color: #4874e8; }

	.topfixArea .topbtnArea a { padding: 0 10px;}
	.topfixArea form#topSearch fieldset label input { width: 50px;}
	.topfixArea form#topSearch fieldset button{ width: 70px; margin-right: 5px;}
	/* --------------- //header --------------- */

	/* --------------- footer ------------ */
	footer .wrap { width: 100%; box-sizing: border-box; padding: 0 20px;}
	/* --------------- //footer ------------ */

}

@media only screen and (min-width: 768px) and (max-width: 959px) {
	/* --------------- header --------------- */
	header .wrap { width: 100%; }
	header h1 { width: 18%;}
	header h1 a { font-size: 20px;}
	header nav { width: 82%; }
	header nav > ul > li { padding: 0 8px; }
	header nav > ul > li > a { font-size: 13px; }

	header nav ul .member a { font-size: 11px;}

	header nav ul .submenu { position: relative; }
	header nav ul .submenu:hover ul {display: block; position: absolute; left: -27px;  border-radius: 0 0 5px 5px; overflow: hidden; border:1px solid #ccc;}
	header nav ul .submenu:hover ul.l27 { left: -35px; }
	header nav ul .submenu:hover ul li { width: 120px; height: 45px; background-color: #fff;  transition: all .5s; padding: 0 10px;}
	header nav ul .submenu:hover ul li a { text-align: center; display: block; color: #777; font-weight: bold; font-size: 14px; line-height: 40px; height: 100%; border-bottom: 2px solid transparent; transition: all .5s; box-sizing: border-box;}
	header nav ul .submenu ul li:hover a { border-color: #4874e8; }

	.topfixArea .topbtnArea { margin-right: 0; }
	.topfixArea .topbtnArea a{font-size: 12px; padding: 0 10px;}
	.topfixArea form#topSearch fieldset label input { width: 45px;}
	.topfixArea form#topSearch fieldset button{ width: 60px; margin-right: 5px; font-size: 11px;}

	.topfixArea ul li a{ font-size:12px;}

	/* --------------- //header --------------- */

	/* --------------- footer ------------ */
	footer { height: auto; padding-bottom: 30px;}
	footer .wrap { width: 100%; box-sizing: border-box; padding: 0 20px;}
	footer .companyInfo { box-sizing: border-box; padding: 0 10px; }
	footer .companyIntro { box-sizing: border-box; padding: 0 10px; }
	/* --------------- //footer ------------ */
}

@media only screen and (max-width: 767px) {

	/* --------------- header --------------- */
	header { height: 50px; width: 100%; }
	header:hover { background-color: transparent; }
	header:hover a { color: inherit; }
	header .wrap { width: 100%; }
	header h1 { width: 150px; }
	header h1 a { font-size: 18px; text-align: left; padding-left: 20px; line-height: 50px;}
	header:hover h1 a { color: #fff; }
	header nav { position: fixed; width: 100%; height: 100%; right:-768px; top: 0; background-color: #fff; transition: all .5s ease-in-out; overflow-y: scroll;}
	header nav li { display: block; height: 60px; float: none; width: 100%; }
	header nav > ul > li > a { color: #4874e8; font-weight: bold; text-align: left; padding-left: 10px; height: 60px;}
	header .mobileMenu { float: right; width: 30px; height: 35px; padding-top: 15px; padding-right: 15px;  cursor: pointer; display: block;}
	header nav > ul > li > a:hover { border-color: transparent; color: inherit; }
	header nav > ul > li.mlogo > a:hover { color: #4874e8; }
	header nav > ul > li.member > a:hover { color: #4874e8; }
	header:hover li.mlogo a { color: #4874e8; }
	header:hover li.member a { color: #4874e8; }
	header:hover nav > ul > li.mlogo > a:hover { color: #4874e8; }
	header:hover nav > ul > li.member > a:hover { color: #4874e8; }
	header .mobileMenu span { height: 3px; margin-bottom: 7px; background-color: #fff; display: block; float: right; transition: all .2s;}

	header .mobileMenu .menu_1 { width: 28px; }
	header .mobileMenu .menu_2 { width: 20px; }
	header .mobileMenu .menu_3 { width: 25px; }
	header .mobileMenu:hover .menu_1 { width: 100%; }
	header .mobileMenu:hover .menu_2 { width: 100%;  }
	header .mobileMenu:hover .menu_3 { width: 100%;  }
	header .xBtn { display: block; overflow: hidden;}
	header .xBtn .mobileXbtn { float: right; width: 30px; height: 35px; padding-top: 15px; cursor: pointer; }
	header .xBtn span { height: 3px; background-color: #4874E8;; display: block; margin-bottom: 7px; }
	header .xBtn .menu_1 { width: 100%; transform: rotate(135deg); position: relative; top: 15px;}
	header .xBtn .menu_2 { width: 100%; transform: rotate(-135deg); position: relative;top: 5px;}

	header.active .mobileMenu span { background-color:  #4874E8; }
	header.active:hover { background-color:#fff; }
	header.active:hover h1 a { color: #4874E8; }

	header .topfixArea { display: none; }

	/* mobile menu more */
    header nav ul li.mbview{display:block;border-bottom:1px solid #eee;width:100%; color: #777;}
    header nav ul li.mbview strong{display:block; text-align:center; padding-left:20px;font-size:14px;padding-top:10px;padding-bottom:10px;color:black;} /*의뢰인수정*/ 
    header nav ul li.mbview form{width:100%;padding:15px 0;}
    header nav ul li.mbview form fieldset { text-align: center; }
    header nav ul li.mbview form fieldset label{ text-align: center; }
    header nav ul li.mbview form fieldset label .mbPhone { overflow: hidden; display: block;	 }
    header nav ul li.mbview form fieldset label .mbPhone span { float:left; display: block; }
    header nav ul li.mbview form fieldset label .mbPhone .mbInput { width: 30%;	text-align: center;	 }
    header nav ul li.mbview form fieldset label .mbPhone .mbBetween { width: 5%; text-align: center; line-height: 25px;}
    header nav ul li.mbview form fieldset label .mbPhone .mbInput input { width: 100%; height: 35px;		border-radius: 5px; border:1px solid #ccc; -webkit-appearance: none; display: block; margin: 0 auto;	box-sizing: border-box;	}
    header nav ul li.mbview form fieldset label .mbPhone .mbButton { float: none; clear: both; display: block; width: 100%;	text-align: center;	 padding-top: 10px;}
    header nav ul li.mbview form fieldset label .mbPhone .mbButton button { width: 100%; height: 35px;	line-height: 30px;	color: #fff; background-color: #4874e8; border-radius: 5px; border:0; display: block;	}

	/* --------------- //header --------------- */

	/* --------------- footer ------------ */
	footer { height: auto; padding-bottom: 30px;}
	footer .wrap { width: 100%; box-sizing: border-box; padding: 0 20px;}
	footer h2 { float: none; width: 100%; padding: 0 10px;}
	footer .companyInfo { float: none; width: 100%; box-sizing: border-box; padding: 10px; }
	footer .companyIntro { float: none; width: 100%; box-sizing: border-box; padding: 10px; }
	/* --------------- //footer ------------ */
}
