input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* --------------- join bg ------------ */
@media only screen and (min-width: 1200px) {
	.join { min-height: 804px; }
}
.join .bgWrap { height: 126px; width: 100%; background-color: #4874E8; transition: all .5s; border-bottom: 1px solid #ccc;}
.join .contentWrap { width: 1200px; margin: 0 auto 20px; overflow: hidden;}
.join .contentWrap h3 { text-align: center; padding:10px 0;  font-size: 22px; color: #777; border:1px solid #ccc;}
.join .contentWrap p { text-align: center; color: #777; font-size: 20px;}

/* --------------- login ------------ */

.login .loginWrap { width: 1200px; margin: 150px auto 20px; }
.login .loginWrap::after {content:""; display: block; clear: both;}
.login .loginWrap .loginBox { width: 50%; float: left; box-sizing: border-box; padding: 0 20px;}
.login .loginWrap .loginBox .imgBox { width: 100%; height: 324px; background-color: #eee; }
.login .row .loginBtn { width: 100%; border-radius: 5px; font-size: 16px;}
.login .row .joinBtn { width: 100%;	border-radius: 5px;  }
.login .row .idBtn { width: 100%; border-radius: 5px; background-color: #999; }
.login .row .stepTitle { margin-top: 50px; }

/* --------------- privit ------------ */
.login .privitWrap { width: 555px;  margin: 70px auto 100px;}

/* --------------- join intro ------------ */
.join .video-container { position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden;} 
.join .video-container iframe,.join .video-container object,.join .video-container embed {    position: absolute; top: 0;left: 0; width: 100%; height: 100%;}

.join .boxWrap { width: 33.3333%; float: left; box-sizing: border-box; padding: 20px 10px 70px;}
.join .joinBox { width: 100%; height: 120px; border-radius: 10px; border:2px solid transparent; box-sizing: border-box; padding-top: 30px; transition: all .5s; padding: 22px 20px 0 100px;}
.join .joinBox.join_1 { background: url(../images/product_1_1.png) no-repeat 40px 32px; background-size: 
45px;  background-color: #4874e8; }
.join .joinBox.join_2 { background: url(../images/main_con_3.png) no-repeat 40px 32px; background-size: 
45px;  background-color: #4874e8;}
.join .joinBox.join_3 { background: url(../images/compaBtn.png) no-repeat 40px 32px; background-size: 
45px;  background-color: #4874e8; }
.join .joinBox a { display: block; width: 100%; height: 100%; }
.join .joinBox .joinTitle { text-align: center; font-size: 25px; color: #fff;  transition: all .5s;}
.join .joinBox .joinTitle span { display: block; font-size: 16px; color: #eee; }



/* --------------- step Navigation------------ */

.join .stepNavi_2 { width: 555px;margin: 0 auto; padding-top: 30px; }
.join .stepNavi_2 ul { position: relative; }
.join .stepNavi_2 ul::after {content:""; display: block; clear:both; }
.join .stepNavi_2 ul li { display: block; float: left; width: 20%; }
.join .stepNavi_2.navi6 ul li { width: 16.6666%; }
.join .stepNavi_2.navi6 ul li.activeBg { width: 85%; }
.join .stepNavi_2 ul li.activeBg { width: 80%; height: 4px; margin: 0 auto; float:none; position: relative; top: 5px; z-index: -1; background-color: #eee;}
.join .stepNavi_2 ul li.activeBg .activeBar { transition: all .5s; background-color: #4874e8; height: 100%; width: 0%; }
.join .stepNavi_2 ul li .naviBox { width: 15px; height: 15px; margin: 0 auto; background-color: #eee; transition: all .5s; font-size: 8px; text-align: center;}
.join .stepNavi_2 ul li.active .naviBox { background-color: #4874e8; color: white; font-size: 8px; text-align: center;}
.join .stepNavi_2 ul li p {  text-align: center; /* color: #999; */  font-size: 12px;  /* font-weight: bold; */  padding-top: 10px;}

/* --------------- multi step form ------------ */
.join fieldset { border: 0; padding: 0; }
.join legend { position: absolute; left: -9999px; top: -9999px; }

.join .stepWrap { padding-top: 15px; width: 555px; margin: 0 auto; padding-bottom: 70px; transition: all .5s; }
.join .row { width: 100%; margin-bottom: 20px; }
.join .row:after { content:""; display: block;clear: both;}
.join .row .row_group_1 { width: 100%; padding: 0 5px; box-sizing: border-box; }
.join .row .row_group_2 { width: 50%; float: left; padding: 0 5px; box-sizing: border-box;}
.join .row .inputGroup { width: 100%; overflow: hidden;}
.join .row label { color: #444; display: inline-block; margin-bottom: 8px;}
.join .row input { width: 80%; height: 45px;  border: 1px solid #ddd; border-radius: 5px 0 0 5px; box-sizing: border-box; display: block; float: left; border-right: 0; padding: 10px; }
.join .row .inputMax { width: 100%; border-radius: 5px; border-right: 1px solid #ccc;}
.join .row button { width: 20%; height: 45px; display: block; float: left; border: 0; background: #4874E8; color: #fff; border-radius: 0 5px 5px 0; outline: 0; cursor: pointer;}
.join .row select { display: block; width: 100%; height: 45px; border: 1px solid #ddd; border-radius: 5px; box-sizing: border-box; padding: 10px 15px;}
.join .row .stepTitle { width: 100%; height: 40px; color: #4874e8; text-align: center; line-height: 40px; font-size: 22px;  font-weight: bold;}
.join .row .stepDesc {  text-align: center; color: #aaa; font-size: 13px; margin-bottom: 25px; line-height: 22px;}
.join .row .daw { width: 10%; height: 45px; display: block; float: left; border: 0; background: #eee; color: #999; border-radius: 0 5px 5px 0; outline: 0; cursor: inherit; line-height: 45px; text-align: center;}
.join .row .input90 { width: 90%; }
.join .row textarea { display: block; width: 100%; border: 1px solid #ccc; border-radius: 5px; box-sizing: border-box; padding: 10px;}
.join .row .submitBtn { background: #4874E8;  width: 100%;border: 0; border-radius: 5px; color: #fff; }
.join .row span.checkIcon { width: 18px; height: 13px;	 display: inline-block;	 background:url(../images/check.png) no-repeat 0 0; padding-right: 2px; background-size: cover;}
.join .row .agreeNo { width: 100%; border-radius: 5px;  }
.join .row .agreeNo.agreeYes { background-color: #269a44; }

.join .row input[type=checkbox] { width: 15px; height: 15px; position: relative; top: 2px; margin-right: 7px; }
.join .agreePopup .inputGroup { padding-top: 10px; }
.join .agreePopup .inputGroup label { line-height: 21px; }
.join .stpe5 .submitBtn { width: 100%; border-radius: 5px; }

.join .row .idNum div { height: 45px; line-height: 45px; }
.join .row .idNum input { width: 20%; text-align: center; border-right: 0; border-radius: 5px 0 0 5px;}
.join .row .idNum .idNum_2  { width: 80%; background-color: #f8f8f8; font-size: 20px; line-height: 45px; padding-top: 17px; border-left: 0; border-right: 1px solid #ccc; border-radius: 0 5px 5px 0;}

.join .row .gendBox { width: 100%; height: 45px; border:1px solid #ccc; border-radius: 5px; box-sizing: border-box; overflow: hidden; background-color: #ddd;}
.join .row .gendBox > div { float: left; width: 50%; box-sizing: border-box; padding-left: 60px; color: #555; cursor:pointer; transition: all .4s; font-weight: bold; font-size: 14px;}
.join .row .gendBox .genderMale {  background:url(../images/male.png) no-repeat 5px 3px; background-size: 35px; border-right: 1px solid #ccc;  background-color: #fff;}
.join .row .gendBox .genderFemale { background:url(../images/female.png) no-repeat 5px 2px; background-size: 35px;  background-color: #fff;}
.join .row .gendBox > div.active { background-color: #4874e8;  color: #fff;}

.join .row .nextStep { width: 100%; border-radius: 5px; }
.join .row .prevStep { width: 100%; border-radius: 5px;  background: #ddd;}
.join .stepBox { width: 600%; height: 100%; transition: all .5s ease-in-out; position: relative;}
.join .stepBox:after { content:""; display: block; clear: both; }

.join .step { width: 555px; /* border: 1px solid #eee; */ border-top: 10px solid #4874e8; box-shadow: 3px 3px 3px 0 rgba(0,0,0,.28); border-radius: 5px; padding: 40px 20px; box-sizing: border-box; background-color: #fff; position: relative;  }
.join .step.on { display: block; }
.join .step0 { margin-left: 0; /* float: left; */ width: 555px; min-height: 800px; /* position: relative; */position: absolute; }
.join .step1 { margin-left: 0; /* float: left; */ width: 555px; min-height: 800px; /* position: relative; */ position: absolute; left: 40%;}
.join .step2 { margin-left: 0; /* float: left; */ width: 555px; min-height: 800px; /* position: relative; */ position: absolute; left: 40%;}
.join .step3 {margin-left: 0; /* float: left; */ width: 555px; min-height: 800px; /* position: relative; */ position: absolute; left: 40%;}
.join .step4 {margin-left: 0; /* float: left; */ width: 555px; min-height: 800px; /* position: relative; */ position: absolute; left: 40%;}
.join .step5 {margin-left: 0; /* float: left; */ width: 555px; min-height: 800px; /* position: relative; */ position: absolute; left: 40%;}
.join .btnFixed {  position: absolute; bottom: 50px; left: 0; box-sizing: border-box; padding: 0 20px; }

.join .step3 .tip { display: inline-block; }
.join .step3 .tipBtn { background: url(../images/tipBtn.png) no-repeat 0 0; width: 15px; height: 15px; background-size: cover; position: relative; top: 2px;}
.join .step3 .tipDesc {/* position: absolute; visibility: hidden; width: 200px; background-color: #fff; border:1px solid #8fbff4; box-sizing: border-box; padding: 10px; margin-left: -135px; margin-top: -40px;*/
      visibility: hidden;  position: absolute;  width: 230px;  background-color: #555;     padding:10px 5px; border-radius: 6px; z-index: 1; opacity: 0; transition: opacity .6s; bottom: 125%; left: 50%;   margin-left: -115px; text-align: center;}
.join .step3 .tipDesc p { font-size: 14px; }
.join .step3 .tipDesc a { color: #fff; font-size: 12px;  }
.join .step3 .tipBtn:hover .tipDesc { visibility: visible; opacity: 1;}

.join .step4 .row .info label { display: block; }
.join .step4 .row .info .w30 { width: 30%; float: left; box-sizing: border-box; padding-right: 6px;}
.join .step4 .row .info .w60 { width: 60%; }
.join .step4 .row .info .w40 { width: 40%; }
.join .step4 .row .info .btnArea { width: 10%; text-align: center; float: left;}
.join .step4 .row .info .btnArea button { float: none; display: inline-block; border-radius: 5px; width: 100%; height: 45px; }
.join .step4 .row .info .btnArea .addBtn { background: url(../images/plus.png) no-repeat 6px 3px; background-size: 40px;}
.join .step4 .row .info .btnArea .deleteBtn {background: url(../images/minus.png) no-repeat 6px 3px;  background-size: 40px;}
.join .step4 .infoBox { margin-bottom: 20px; }
.join .step4 .infoBox:after { content: ""; display: block; clear: both;  }
.join .step4 .mb100 { margin-bottom: 100px; }

/* register layout 변경 180816 배다빈 추가 */
.join .step0 .row .step0Desc { text-align: center;	font-size: 12px; color: #555; line-height: 18px;}
.join .step0 .row .stepIntro { width: 100%;	 }
.join .step0 .row .step0Info {  color: #555; font-size: 11px; line-height: 20px; letter-spacing: 1px; box-sizing: border-box; padding: 0 20px;}
.join .step0 .row .step0Notice { border-top: 1px solid #eee; font-size: 11px; color: #bbb; line-height: 18px; padding-top: 10px;}
.join .step0 .row .step0Notice strong { color: #555; }

.join .step .row .popupInfo { display: block;  text-align: center; font-size: 14px; color: #333; font-weight: bold; position: absolute; bottom: 0; left: 0; width: 100%; height: 55px; line-height: 55px; cursor: pointer; background-color: #f8f8f8;}

.join .step .row .i_kakaotalk { background: url(../images/kakaotalk.png) no-repeat ; width: 18px;
    height: 15px; display: inline-block;  padding-right: 2px; margin-left: 2px; background-size: 15px;}
.join .step .row .i_kakaostory { background: url(../images/kakaostory.png) no-repeat ; width: 18px;
    height: 15px; display: inline-block;  padding-right: 2px; margin-left: 2px; background-size: 15px;}
.join .step .row .i_facebook { background: url(../images/facebook.png) no-repeat ; width: 18px;
    height: 15px; display: inline-block;  padding-right: 2px; margin-left: 2px; background-size: 15px;}
.join .step .row .i_band { background: url(../images/band.png) no-repeat ; width: 18px;
    height: 15px; display: inline-block;  padding-right: 2px; margin-left: 2px; background-size: 15px;}
.join .step .row .i_twitter { background: url(../images/twitter.png) no-repeat ; width: 18px;
    height: 15px; display: inline-block;  padding-right: 2px; margin-left: 2px; background-size: 15px;}
.join .step .row .i_youtube { background: url(../images/youtube.png) no-repeat ; width: 18px;
    height: 15px; display: inline-block;  padding-right: 2px; margin-left: 2px; background-size: 15px;}
.join .step .row .i_blog { background: url(../images/blog.png) no-repeat ; width: 18px;
    height: 15px; display: inline-block;  padding-right: 2px; margin-left: 2px; background-size: 15px;}
.join .step .row .i_instagram { background: url(../images/instagram.png) no-repeat ; width: 18px;
    height: 15px; display: inline-block;  padding-right: 2px; margin-left: 2px; background-size: 15px;}



/* --------------- //section 1 ------------ */





/* --------------- popup ------------ */
.popup { position: absolute; left: 0;	top: 0;	 bottom: 0;	 right: 0;	width: 100%; height: 100%; background: rgba(0,0,0,.6); z-index: 1000;}
.target { display: none; }
.docu { display: none; }
.popupOn { display: block; }

.popup .wrap { width: 555px; position: absolute; left: 50%; top:100px;	margin-left: -278.5px; background-color: #fff; border:1px solid #777; border-radius: 5px;	 }
.popup h2 { box-sizing: border-box; color:#555; padding: 10px 20px;}
.popup .row { width: 100%;}
.popup .row .titleBox { width: 100%; height: 45px; background-color: #4064DB; line-height: 45px; box-sizing: border-box; padding-left:  30px;  color: #fff; border-top :1px solid #5c74d6; cursor: pointer; font-size: 14px; font-weight: bold;}
.popup .row .row_desc { display: none; border:1px solid #ccc; border-top: 0;}
.popup .row .row_desc.active { display: block; }
.popup .row .row_desc:after {content: ""; display: block; clear: both;}
.popup .row .row_desc .descBox { width: 50%; float: left; }
.popup .row .row_desc .descBox label { width: 100%; height: 40px; display: inline-block; box-sizing: border-box; padding-left:40px; font-size: 13px; cursor: pointer; transition: all .5s; line-height: 40px;}
.popup .row .row_desc .descBox label:hover {background-color: #f1f1f1;}
.popup .row .row_desc .descBox input[type=checkbox] { display: inline-block; margin-right: 15px; position: relative; top:2px; left: -20px; }
.popup .result { width: 100%;  padding: 20px 10px; box-sizing: border-box;}
.popup .resultTitle { box-sizing: border-box; padding-left: 15px; padding-bottom: 10px;font-size: 14px;  background-color: #4874e8; color: #fff; line-height: 40px; height: 40px; border-radius: 5px 5px 0 0;}
.popup .result p { width: 100%; padding: 10px 15px; box-sizing: border-box; background-color: rgba( 72,116,232,.2); min-height: 100px; margin: 0;}
.popup .result p span { display: inline-block;  font-size: 14px; color: #555; margin-right: 15px;}
.popup .result p span:after {content:","; }
.popup .result p span:last-child:after { content: ""; display: none;}
.popup .btnArea { text-align: center; padding: 25px 0; }
.popup .btnArea button { width: 80px; height: 30px; border:0; margin: 0 10px; line-height: 30px; background-color: #777; color: #fff;}
.popup .btnArea button.submit { background-color: #4874e8; color: #fff; }

/* --------------- sns 가입 페이지 ------------ */
.snsBox {width: 555px; margin: 30px auto 20px;}
.snsBox dl { text-align: center; }
.snsBox dt { text-align: center; font-weight: bold; color: #555; margin: 20px 0; }
.snsBox dd { width: 70%; height: 45px; background-color: #4874e8; margin-bottom: 10px; display: inline-block; border-radius: 5px;}
.snsBox dd a { display: block; width: 100%; height: 100%; text-align: center; line-height: 45px; color: #f9f9f9; font-weight: bold; font-size: 15px;}
.snsBox .join_facebook { background-color: #4c6cb5; }
.snsBox .join_kakao { background-color: #fce82c; }
.snsBox .join_kakao a { color: #331d1b; }
.snsBox .join_naver { background-color: #3ec729; }
.snsBox .join_google { background-color: #ec4c53; }


/* agree Popup */
.agreePopup { position: absolute; width: 100%; top: 0; bottom: 0; right: 0; left: 0; background: rgba(0,0,0,.6); z-index: 1000; display: none;}
.agreePopup.on { display: block; }
.agreePopup .wrap { width: 555px; margin: 0 auto; background-color: #fff; position: absolute; left: 50%; margin-left: -278.5px; margin-top:-195px; box-sizing: border-box; padding: 0 10px; border-radius: 5px; }
.agreePopup h2 { box-sizing: border-box; color: #555; padding: 10px 20px; }

.agreePopup .agreeForm { width: 100%; height: 40px; padding: 10px 0; margin-bottom: 0; border-bottom: 1px solid #8fbff4; }
.agreePopup .agreeForm:nth-child(2) { border-top: 1px solid #8fbff4; }
.agreePopup .agreeForm:after { content:""; display: block; clear:both; }
.agreePopup .agreeForm .row_group_1 { height: 40px; line-height: 40px; overflow: hidden; box-sizing: border-box; padding: 0 10px;}
.agreePopup .agreeForm .row_group_1 div { float: right; overflow: hidden;}
.agreePopup .agreeForm .row_group_1 label { font-size: 15px;float: right;}
.agreePopup .agreeForm .row_group_1 b { color: #4d70ce; font-weight: 600; }
.agreePopup .agreeForm .row_group_1 input[type=checkbox] { width: 1px; height: 1px; position: absolute; left: -20px; top: -20px;}
.agreePopup .agreeForm .row_group_1 span { font-size: 12px; color:#4d70ce; display: inline-block; padding-left: 5px; cursor: pointer;}
.agreePopup .agreeForm .row_group_1 .agreeBtn { display: inline-block;
    overflow: hidden; width: 8px; height: 8px;  margin-top: -1px; margin-right: 6px; padding: 3px; border: 1px solid #ccc;  border-radius: 50%; background-color: #fff;  box-shadow: none!important;  text-align: center;  vertical-align: middle;  line-height: 0; }
.agreePopup .agreeForm .row_group_1 .agreeBtn.active:after { content: ' '; display: inline-block; overflow: hidden; width: 8px; height: 8px; border-radius: 50%; background-color: #0443a1;  line-height: 0;}

.agreePopup .allAgree { background-color: #eff6fd; }
.agreePopup .btnArea { text-align: center; padding: 30px 0; }
.agreePopup .btnArea button { width: 80px; height: 30px; border: 0; margin: 0 10px; line-height: 30px;background-color: #777;  color: #fff; cursor: pointer; }
.agreePopup .btnArea button.submit { background-color: #4874e8;  color: #fff;}

.agreePopup .agreeDesc { box-sizing: border-box; padding:10px; background-color: #f9f9f9; color: #555; font-size: 14px; height: 200px; overflow-y: scroll; border-bottom: 1px solid #8fbff4; display: none;}
.agreePopup .agreeDesc.view { display: block; }

/* 소셜로그인 180920 배다빈 추가 */
.loginBox .snsBtn .snsTitle { float: left; width: 40%; font-size: 20px; color: #777;}
.loginBox .snsBtn .snsTitle b { color: #333; display: inline-block; padding-left: 2px;}
.loginBox .snsBtn .snsTitle span { display: block; font-size: 12px; line-height: 16px; }
.loginBox .snsBtn .btnList { float: right; width: 50%; }
.loginBox .snsBtn .btnList ul::after {content: ""; display: block; clear: both;}
.loginBox .snsBtn .btnList ul li { float: left; width: 20%; padding: 0 5px; box-sizing: border-box;}
.loginBox .snsBtn .btnList ul li a { display: block; width: 100%; height: 100%; }
.loginBox .snsBtn .btnList ul li a img { width: 100%; }



@media (min-width: 960px) and (max-width: 1200px) {

	.join .contentWrap { width: 100%; }
	.join .joinBox {  padding-top: 30px; }
    .join .joinBox.join_3 { padding-top: 20px; }
	.join .joinBox .joinTitle {  font-size: 22px; }
	.join .joinBox .joinTitle span { font-size: 14px;}

	.login .loginWrap { width: 100%; margin-bottom: 150px;}

    .loginBox .snsBtn .snsTitle { width: 30%; }
    .loginBox .snsBtn .btnList { width: 60%; }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
	.join .contentWrap { width: 100%; }
	.join .joinBox { height:100px ; padding-top: 22px;padding-left: 60px; }
    .join .joinBox.join_1 { background-size: 30px; background-position: 20px 30px; }
    .join .joinBox.join_2 { background-size: 30px;  background-position: 20px 30px; }
    .join .joinBox.join_3 { background-size:30px;  background-position: 20px 30px; padding-top:15px;}
	.join .joinBox .joinTitle {  font-size: 18px; }
	.join .joinBox .joinTitle span { font-size: 12px; }

	.login .loginWrap { width: 100%; margin-bottom: 150px; }
    
    .loginBox .snsBtn button { float: none; }
    .loginBox .snsBtn .row_group_2 { width: 100%; float: none; margin-bottom: 20px;}

    .loginBox .snsBtn .snsTitle { width: 100%; float: none; box-sizing: border-box; padding: 0 10px;}
    .loginBox .snsBtn .btnList { width: 100%; float: none; padding-top: 20px;}
    .loginBox .snsBtn .btnList ul li { padding: 0 10px; }
}

@media screen and (max-width: 767px) {
	
	.join .bgWrap { height: 50px; }

	.join .contentWrap { width: 100%; }
    .join .boxWrap { padding: 10px 2px; }
    .join .joinBox { padding: 50px 0 0; }
    .join .joinBox.join_1 { background-size: 30px; background-position: 50% 13px; }
    .join .joinBox.join_2 { background-size: 30px;  background-position: 50% 13px; }
    .join .joinBox.join_3 { background-size: 30px;  background-position: 50% 13px; }
    .join .joinBox .joinTitle { font-size: 16px; }
    .join .joinBox .joinTitle span { font-size: 12px; }
	
	.login .loginWrap { width: 100%; margin-top: 20px; }
	.login .loginWrap .loginBox { width: 100%; float:none; }
	.login .loginWrap .loginBox .imgBox { margin-bottom: 10px; }

	.login .privitWrap { width: 100%; }

	.join > p { font-size: 15px;}

	.join .stepNavi_2 { width: 100%; }
	.join .stepNavi_2 ul li p { font-size: 12px; }
	.join .row .stepTitle { font-size: 18px; }


	.join .desc { width: 100%;}
	.join .desc p { color: #999; line-height: 20px; font-size: 12px; }
	.join .desc p strong { font-weight: bold; color: #777; font-size: 14px; display: inline-block;padding-bottom: 8px;}

	.join .row .mRow { width: 100%; margin-bottom: 20px;}
	.join .row .mRow:last-child { margin-bottom: 0; }	
	
	.join .stepWrap { width: 100%; }
	.join .stepBox > div { min-width: 320px; }
	.join .row { width: 100%; }
	.join .row select { font-size: 11px; padding: 5px 7px; }
	.join .row label { font-size: 11px; }
	.join .row button { font-size: 11px; }
	.join .row span.checkIcon { width: 10px; height: 10px; position: relative; top: 2px; padding-right: 5px;}

	.join .btnFixed { bottom: 0; }
	
	.join2 .step3 { height:850px; }
		
	.popup { position: absolute; left: 0;	top: 0;	 bottom: 0;	 right: 0;	}
	.popup .wrap { width: 100%; position: absolute; left: 0; top:10px;	margin-left:0; background-color: #fff; border:1px solid #777; border-radius: 5px;	 }
	.popup h2 {font-size: 20px;}
	.popup .row .row_desc .descBox { width: 100%; }
	
	.snsBox {width: 100%; margin: 0 auto; }

    .agreePopup .wrap { width: 100%; left: 0; margin-left: 0; min-width: 320px;}
    .agreePopup h2 { font-size: 20px; }
    .agreePopup .agreeForm { width: 100%; height: 40px; }
    .agreePopup .agreeForm .row_group_1 { height: 40px; overflow: hidden; font-size: 14px; padding: 0 5px;}
    .agreePopup .agreeForm .row_group_1 a { font-size: 14px; }
    .agreePopup .agreeForm .row_group_1 div { box-sizing: border-box; }
    .agreePopup .agreeForm .row_group_1 input[type=checkbox] { border-radius: 5px; border-right: 1px solid #ccc; padding: 0; top: 9px;}
    .agreePopup .allAgree { height: 40px;}

    .agreePopup .agreeDesc b { font-size: 12px; }
    .agreePopup .agreeDesc p { font-size: 11px; }

    .loginBox .snsBtn button { float: none; }
    .loginBox .snsBtn .row_group_2 { width: 100%; float: none; margin-bottom: 20px;}

    .loginBox .snsBtn .snsTitle { width: 100%; float: none; box-sizing: border-box;}
    .loginBox .snsBtn .snsTitle span { display: inline-block; padding-left: 10px;}
    .loginBox .snsBtn .btnList { width: 100%; float: none; padding-top: 20px;}
    .loginBox .snsBtn .btnList ul li { padding: 0 ; }
     .loginBox .snsBtn .btnList ul li a { width: 48px; margin: 0 auto; }
}
