
/* --------------- section 1 - mainVisual ------------ */
.mainVisual { width: 100%; min-height: 900px; box-sizing: border-box;
	background: url(../images/mainBg.png) no-repeat 0px 0px; background-size: cover; background-color: #4874e8; transition: all .5s; position: relative;
	/*background: linear-gradient(92deg, #96c2ff, #2292ff); background-size: 400% 400%;
	-webkit-animation: bgGradient 10s ease-in-out infinite; -moz-animation: bgGradient 10s ease-in-out infinite; animation: bgGradient 10s ease-in-out infinite; position: relative; min-height:500px ;*/}
/*@-webkit-keyframes bgGradient {
    0%{background-position:0% 48%}
    50%{background-position:100% 53%}
    100%{background-position:0% 48%}
}
@-moz-keyframes bgGradient {
    0%{background-position:0% 48%}
    50%{background-position:100% 53%}
    100%{background-position:0% 48%}
}
@keyframes bgGradient {
    0%{background-position:0% 48%}
    50%{background-position:100% 53%}
    100%{background-position:0% 48%}
}	*/
.mainVisual .overlay { width: 100%; height: 100%; z-index: 0; position: absolute; bottom: 0; top: 0; left: 0; right: 0; background:linear-gradient(135deg,rgba(31,74,186,.8) 0%, rgba(72,116,232,.2) 100%);}
.mainVisual h2 { text-align: center; color: #f5f5f5; font-size: 40px; font-weight: 500; transition: all .5s;}
.mainVisual p { text-align: center; color: #f1f1f1; font-size: 20px; font-weight: 300; margin: 15px 0; transition: all .5s;}
.mainVisual p b { }
.mainVisual .mainBox { width: 1200px; margin: 0 auto; padding-top: 126px; }
.mainVisual .mainBox::after { content: ""; display: block; clear: both; }
.mainVisual .main50 { width: 50%; float: left; position: relative; }
.mainVisual .textArea { padding-top: 190px; }
.mainVisual .main50 .register { background:none; margin-top: 30px; }
.mainVisual .main50 .register p { margin: 0; }
.mainVisual .main50 .register .agreeDesc p { color:#555; font-size: 13px; text-align: left;}
.mainVisual .main50 .register .step0 .videoBox { padding-bottom: 10px; }
.mainVisual .main50 .register .step0 video { width: 100%;}
.mainVisual .textBox { width:450px; height: 280px; }
.mainVisual .btnBox { text-align: center; padding-top: 20px;}
.mainVisual .btnBox a { display: block; width: 100%; height: 100%;  color: #fff; font-size: 18px;}
.mainVisual .btnBox button { border: 0; width: 168px; height: 55px; border-radius: 5px; line-height: 49px;   outline: 0; cursor: pointer; transition: all .5s; border: 2px solid #fff; box-sizing: border-box; background-color: transparent;}
.mainVisual .btnBox button:hover { border: 2px solid #4874E8; background-color: #fff;  }
.mainVisual .btnBox button:hover a { color: #4874E8; }

.animate-box { opacity: 0; }
/* --------------- //section 1 - mainVisual ------------ */

/* --------------- section 2 - intro ------------ */
.intro {width: 100%; height: 600px; box-sizing: border-box; padding-top: 130px; background: linear-gradient(356deg, #0b478e,  #4874e8); background-size: 400% 400%;
-webkit-animation: sec2Bg 7s linear infinite;-moz-animation: sec2Bg 7s linear infinite;
animation: sec2Bg 7s linear infinite; transition: all .5s;}

@-webkit-keyframes sec2Bg {
    0%{background-position:48% 0%}
    50%{background-position:53% 100%}
    100%{background-position:48% 0%}
}
@-moz-keyframes sec2Bg {
    0%{background-position:48% 0%}
    50%{background-position:53% 100%}
    100%{background-position:48% 0%}
}
@keyframes sec2Bg {
    0%{background-position:48% 0%}
    50%{background-position:53% 100%}
    100%{background-position:48% 0%}
}

.intro .wrap { width: 1200px; margin: 0 auto; overflow: hidden; }
.intro .wrap .conBox { width: 350px; float: left; margin-right: 75px; text-align: center;}
.intro .wrap .conBox_3 { margin-right: 0; }

.intro .con { width: 300px; height: 280px; display: inline-block; }
.intro .conImg { width:150px; height: 150px;  display: inline-block; }
.intro .conImg img {width: 70%;}
.intro .conTitle {color: #00c0ff; font-weight: 500; font-size: 22px; } /*의뢰인 수정*/
.intro .con p { font-size: 14px; padding-top: 20px; color: #f1f1f1; transition: all .5s;}

.intro .btnBox { text-align: center; padding-top: 10px;}
.intro .btnBox button { border: 0; width: 168px; height: 45px; border-radius: 5px; line-height: 39px;  background-color:#4874E8; outline: 0; cursor: pointer; transition: all .5s; border: 2px solid transparent; box-sizing: border-box; }
.intro .btnBox button a { display: block; width: 100%; height: 100%; color: #fff; font-size: 16px; }
.intro .btnBox button:hover { border: 2px solid #4874E8; background-color: #fff;  }
.intro .btnBox button:hover a { color: #4874E8; }
/* --------------- //section 2 - intro ------------ */

/* --------------- section 3 - onestop ------------ */
.onestop { width: 100%; height: 800px; padding-top: 120px; padding-bottom: 150px;}
.onestop .wrap { width: 1200px; margin: 0 auto; }
.onestop .wrap:after { content:""; display: block; clear: both; }

.onestop h2 { margin-bottom: 20px; color: #4874E8; font-size: 30px;}
.onestop p { margin-bottom: 50px; color: #777; }
.onestop li { padding: 10px 0; width: 500px; color: #777;}
.onestop span { font-weight: bold; display: block;margin-bottom: 5px; color: #4874E8; font-size: 18px;}

.onestop .btnBox { padding-top: 70px; }
.onestop .btnBox button { border: 0; width: 280px; height: 45px; border-radius: 5px; line-height: 39px;  background-color:#4874E8; outline: 0; cursor: pointer; transition: all .5s; border: 2px solid transparent; box-sizing: border-box;  }
.onestop .btnBox button a { font-size: 16px;  color: #fff; display: block; width: 100%; height: 100%; }
.onestop .btnBox button:hover { border: 2px solid #4874E8; background-color: #fff; }
.onestop .btnBox button:hover a { color: #4874E8; }

.onestop .textBox { float: left; }
.onestop .imgBox { width: 500px; float: right; text-align: right;}
.onestop .imgBox img { width: 80%; }

/* --------------- //section 3 - onestop ------------ */

/* --------------- section 4 - stats ------------ */
.stats { width: 100%; height: 400px; background: linear-gradient(184deg, #2292ff, #1f3d9b); background-size: 400% 400%; -webkit-animation: sec3Bg 5s ease infinite;
-moz-animation: sec3Bg 5s ease infinite; animation: sec3Bg 5s ease infinite; padding-top: 150px;}
.stats .wrap {width: 1200px; margin: 0 auto; overflow: hidden;}

@-webkit-keyframes sec3Bg {
    0%{background-position:0% 62%}
    50%{background-position:100% 39%}
    100%{background-position:0% 62%}
}
@-moz-keyframes sec3Bg {
    0%{background-position:0% 62%}
    50%{background-position:100% 39%}
    100%{background-position:0% 62%}
}
@keyframes sec3Bg {
    0%{background-position:0% 62%}
    50%{background-position:100% 39%}
    100%{background-position:0% 62%}
}

.stats .statsBox { width: 25%; float: left; text-align: center; }
.stats .statsTitle { text-align: center; font-size: 22px; font-weight: bold; color: #fff; transition: all .5s;}
.stats .statsIcon { width: 120px; height: 120px; display: inline-block; padding-top: 40px;}
.stats .statsIcon img { width: 70%; }
.stats .statsResult { text-align: center; font-size: 40px; color: #fff; transition: all .5s;}
/* --------------- //section 4 - stats ------------ */

/* --------------- section 5 - review 180828 배다빈 추가 ------------ */
.review { padding-top: 50px; padding-bottom: 70px; background-color: #efefef; }
.review .wrap { width: 1200px; margin: 0 auto;  }
.review .wrap h2 { text-align: center; color: #222; padding-bottom: 20px; }
.review .wrap .reviewBox ul { overflow: hidden; }
.review .wrap .reviewBox ul li {width: 33.3333%; height: 200px;  overflow: hidden; box-sizing: border-box; padding: 10px 20px; float: left;}
.review .wrap .reviewBox ul li .reviewer { width: 100%; height: 100%; border:1px solid #ccc;  background-color: #fff;     box-shadow: 3px 3px 3px 0 rgba(0,0,0,.2); border-radius: 10px;}
.review .wrap .reviewBox ul li .rGender { float: left; width: 80px; height: 80px; margin: 5px 20px; }
.review .wrap .reviewBox ul li .rGender.gMale {  background: url(../images/male.png) no-repeat 0 0; background-size: 80px;  }
.review .wrap .reviewBox ul li .rGender.gFemale {  background: url(../images/female.png) no-repeat 0 0; background-size: 80px; }
.review .wrap .reviewBox ul li .rGrade { padding-top: 15px; float: left; width: calc( 100% - 120px ); }
.review .wrap .reviewBox ul li .rGrade i {font-size: 18px; color: #ffc100; display: inline-block; margin-right:10px;}
.review .wrap .reviewBox ul li .rName { padding-top: 5px; font-size: 20px; font-weight: bold; color: #222;  float: left;}
.review .wrap .reviewBox ul li .rDate { font-size:14px; color: #777; float: left; line-height: 38px;}
.review .wrap .reviewBox ul li .rDate::after { content:"|"; display: inline-block; margin:0 5px; }
.review .wrap .reviewBox ul li .rDate::before { content: "|"; display: inline-block; margin: 0 5px; }
.review .wrap .reviewBox ul li .rReport { float: left; color: #777; font-size: 14px; line-height: 38px; cursor: pointer;}
.review .wrap .reviewBox ul li .rDesc { clear: both; }
.review .wrap .reviewBox ul li .rDesc p { box-sizing: border-box; width: 100%; height: 100%; padding: 10px 20px; color: #555; }
/* --------------- //section 5 - review 180828 배다빈 추가 ------------ */

/* --------------- section 6 - board ------------ */
.board { width: 100%; height: 400px; padding-top: 70px; transition: all .3s; }
.board .wrap { width: 1200px; margin: 0 auto; }
.board .row:after { content: ""; display: block; clear:both; }
.board .row .row_group_2 { width: 50%; float: left; box-sizing: border-box; padding: 50px 10px 0; position: relative; transition: all .5s;}

.board .boardTitle { width: 100%; border: 2px solid #ccc; border-bottom: 0; border-radius: 5px 5px 0 0; box-sizing: border-box; padding: 10px 15px; font-size: 18px; font-weight: bold; color: #777;}
.board ul { padding: 10px 0; }
.board ul li { height: 40px; line-height: 40px; overflow: hidden; padding-left: 10px; transition: all .5s; border-radius: 5px;}
.board ul li:hover { background-color: #f8f8f8; }
.board ul li:hover a { color: #4874E8; font-weight: bold; }
.board ul li a { display: block;float: left; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal; width:80%; overflow:hidden; font-size: 14px; font-weight: bold;}
.board ul li span { display: block; width: 20%; float: right; font-size: 14px; text-align: right; box-sizing: border-box; padding-right: 18px;}
.board .moreBtn { width: 60px; height: 30px; position: absolute; right: 30px; top:63px; background-color: #4874E8; border:0; line-height: 24px; color: #fff; outline: 0; cursor: pointer; border:2px solid transparent; transition: all .3s; border-radius: 5px;}
.board .moreBtn:hover { border: 2px solid #4874E8; background-color: #fff; color: #4874E8; }



/* --------------- //section 6 - board ------------ */


/* ---------- index.html register 부분 레이아웃 전체 변경 180904 배다빈 추가 ----------  */
.mainVisual .mainRegister .step { width: 555px; }
.mainVisual .mainRegister .step0 { margin-left: 0;/*float: left;*/width: 555px; min-height: 800px; /*position: relative;*/ position: absolute; }
.mainVisual .mainRegister .step1 { margin-left: 0;/*float: left;*/width: 555px; min-height: 800px; /*position: relative;*/  position: absolute; left: 100%;	}
.mainVisual .mainRegister .step2 { margin-left: 0;/*float: left;*/width: 555px; min-height: 800px; /*position: relative;*/  position: absolute; left:100%; }
.mainVisual .mainRegister .step3 { margin-left: 0;/*float: left;*/ width: 555px;min-height: 800px; /*position: relative;*/   position: absolute; left:100%;  }
.mainVisual .mainRegister .step4 { margin-left: 0;/*float: left;*/width: 555px; min-height: 800px; position: absolute; left:100%;   }
.mainVisual .mainRegister .step5 { margin-left: 0;/*float: left;*/width: 555px; min-height: 800px; position: absolute; left:100%; }
.mainVisual .mainRegister .step6 { margin-left: 0;/*float: left;*/width: 555px; min-height: 800px; position: absolute; left:100%;  }

.mainVisual .mainRegister .row .info { padding: 0 0 20px; }
.mainVisual .mainRegister .infoBox { width: 100%; float: none; }
.mainVisual .mainRegister .row .info .w40 { padding-right: 5px; }
.mainVisual .mainRegister .row .info .w30 { padding-right: 5px; }
.mainVisual .mainRegister .row .info .w30:last-child { padding-right: 0; }
.mainVisual .mainRegister .infoWrap .infoArea { width: 100%; float:left;}
.mainVisual .mainRegister .deleteBtn { width: 45px; float: right; padding-right: 10px; margin-bottom: 0;}
.mainVisual .mainRegister .addBtnBox { width: 45px; float: right; padding-right: 10px; }
.mainVisual .mainRegister .addBtnBox .addBtn { background: url(../images/plus.png) no-repeat 0 0; background-size: 30px; padding: 0; width: 30px; height: 30px;}

.mainVisual .mainRegister .row .infoStats .infoStatsBox { height: auto; }
.mainVisual .mainRegister .row .infoStatsBox ul { padding: 5px; }
.mainVisual .mainRegister .row .infoStatsBox ul li { width: 50%; float: left; }
.mainVisual .mainRegister .step > .row > .row_group_2 { padding: 0 5px; }
.mainVisual .mainRegister.stepWrap { width: 555px; }

.mainVisual .mainRegister .step6 .complete {  text-align: center; display: block; height: 300px; padding-top: 30px;}
.mainVisual .mainRegister .step6 .complete i { color: #4874e8; font-size: 250px;  background: #fff; display: block; border-radius: 50%; line-height: 250px; margin: 0 auto;}
.mainVisual .mainRegister .step6 .cpDesc p b { display: block;  color: #4874e8; font-size: 22px;}
.mainVisual .mainRegister .step6 .cpCount {text-align: center; color: #eb834c; font-size: 50px;}
.mainVisual .mainRegister .step6 .cpCount span {  }
.mainVisual .mainRegister .step6 .btnArea { text-align: center; }
.mainVisual .mainRegister .step6 .btnArea button { width: 80%; border-radius: 5px; float: none; display: block;margin: 0 auto;}

.mainVisual .mainRegister .info2 { margin-bottom: 0; }
/* ---------- //index.html register 부분 레이아웃 전체 변경 180904 배다빈 추가 ----------  */

/* --------------- section 7 - companyList ------------ */
.companyList { padding-bottom: 20px; }
.companyList .wrap { width: 1200px; margin: 0 auto; }
.companyList .wrap ul::after { content: ""; display: block; clear: both; }
.companyList .wrap ul li { float: left; width: 12.5%; box-sizing: border-box; padding: 0 15px;}
.companyList .wrap ul li div a { display: block; width: 100%; text-align: center; height: 50px; font-size: 15px; position: relative; line-height: 50px;}
.companyList .wrap ul li div a::after {content: ""; display: block; border-right: 2px solid #ddd; height: 10px;  position: absolute;right: -16px; top: 22px;}
.companyList .wrap ul li:first-child div a::before { content: ""; display: block; border-right: 2px solid #ddd; height: 10px;  position: absolute;left: -16px; top: 22px; } 
.companyList .wrap ul li div a img { width: 100%; vertical-align: middle; }
/* --------------- //section 7 - companyList ------------ */


@media only screen and (min-width: 960px) and (max-width: 1200px) {
	/* --------------- section 1 - mainVisual ------------ */
	.mainVisual { height:auto; }
	.mainVisual h2 { font-size: 35px ; }
	.mainVisual p { font-size: 17px ; }
	.mainVisual .mainBox { width: 100%; }
	.mainVisual .main50 { width: 100%; float: none; }
	.mainVisual .textArea { padding-top: 90px; }
	.mainVisual .textBox { width: 100%; }
	.mainVisual .btnBox button { height: 40px; line-height: 34px;}
	.mainVisual .btnBox button a { font-size: 16px; }
	/* --------------- //section 1 - mainVisual ------------ */

	/* --------------- section 2 - intro ------------ */
	.intro { padding-top: 80px; height: 550px; }
	.intro .wrap {width: 100%;}
	.intro .wrap .conBox { width:33.33%; margin-right: 0; }
	.intro .wrap .con { width: 280px; }
	.intro .wrap .btnBox button { height: 40px; line-height: 34px;}
	.intro .wrap .btnBox button a { font-size: 16px; }
	/* --------------- //section 2 - intro ------------ */

	/* --------------- section 3 - onestop ------------ */
	.onestop {  }
	.onestop .wrap { width: 100%; box-sizing: border-box; padding: 0 20px; }
	.onestop .textBox { width: 50%; }
	.onestop .imgBox { width: 50%; box-sizing: border-box; padding-left: 50px;}

	.onestop li { width: 100%;}
	/* --------------- //section 3 - onestop ------------ */

	/* --------------- section 4 - stats ------------ */
	.stats { padding-top: 100px; height: 300px;}
	.stats .wrap { width: 100%; }
	.stats .statsTitle { font-size: 20px; }
	.stats .statsResult { font-size: 30px; }
	.stats .statsIcon { height: 100px; }
	/* --------------- //section 4 - stats ------------ */

	/* --------------- section 5 - review ------------ */
	.review .wrap { width: 100%; }
	.review .wrap .reviewBox ul li { padding: 10px; }
	.review .wrap .reviewBox ul li .rGender { margin: 5px; }
	.review .wrap .reviewBox ul li .rGrade { padding-top: 5px; }
	.review .wrap .reviewBox ul li .rName  { width: calc( 100% - 120px );}
	.review .wrap .reviewBox ul li .rDate { line-height: 20px; }
	.review .wrap .reviewBox ul li .rDate::before { content:""; margin: 0;}
	.review .wrap .reviewBox ul li .rReport { line-height: 20px; }
	/* --------------- //section 5 - review ------------ */

	/* --------------- section 6 - board ------------ */
	.board {}
	.board .wrap { width: 100%; }
	/* --------------- //section 6 - board ------------ */

	/* --------------- section 7 - companyList ------------ */
	.companyList .wrap { width: 100%; }
	.companyList .wrap ul li div a::after { top: 23px; }
	.companyList .wrap ul li:first-child div a::before { top: 23px; }
	/* --------------- //section 7 - companyList ------------ */


}

@media only screen and (min-width: 768px) and (max-width: 959px) {
	/* --------------- section 1 - mainVisual ------------ */
	.mainVisual { height: 1400px; }
	.mainVisual h2 { font-size: 30px ; }
	.mainVisual p { font-size: 15px ; }

	.mainVisual .mainBox { width: 100%; }
	.mainVisual .main50 { width: 100%; float: none; }
	.mainVisual .textArea { padding-top: 90px; }
	.mainVisual .textBox { width: 100%; }
	.mainVisual .btnBox button { width: 140px; height: 40px; line-height: 34px; }
	.mainVisual .btnBox button a { font-size: 14px; }
	/* --------------- //section 1 - mainVisual ------------ */

	/* --------------- section 2 - intro ------------ */
	.intro { padding-top: 50px; height: 470px;}
	.intro .wrap {width: 100%;}
	.intro .wrap .conBox { width:33.33%; margin-right: 0; }
	.intro .wrap .conImg { height: 120px; }
	.intro .wrap .con { width: 256px; box-sizing: border-box; padding: 0 12px; }
	.intro .wrap .con p { font-size: 13px; }
	.intro .wrap .btnBox button { height: 40px; line-height: 34px;}
	.intro .wrap .btnBox button a { font-size: 14px; }
	/* --------------- //section 2 - intro ------------ */

	/* --------------- section 3 - onestop ------------ */
	.onestop { padding-top: 150px; height: 750px;}
	.onestop .wrap { width: 100%; box-sizing: border-box; padding: 0 20px; }
	.onestop .textBox { width: 50%; }
	.onestop .textBox h2 { font-size: 25px ; }
	.onestop .textBox p { font-size: 14px; }
	.onestop .imgBox { width: 50%; box-sizing: border-box; padding-left: 50px; padding-top: 50px;}

	.onestop li { width: 100%; font-size: 14px;}

	.onestop .btnBox { padding-top: 50px;  }
	.onestop .btnBox button { height: 40px; line-height: 34px; }
	.onestop .btnBox button a { font-size: 14px; }
	/* --------------- //section 3 - onestop ------------ */

	/* --------------- section 4 - stats ------------ */
	.stats { padding-top: 70px; height: 250px;}
	.stats .wrap { width: 100%; }
	.stats .statsTitle { font-size: 18px; }
	.stats .statsResult { font-size: 28px; }
	.stats .statsIcon { height: 100px; padding-top: 20px;}
	/* --------------- //section 4 - stats ------------ */

	/* --------------- section 5 - review ------------ */
	.review .wrap { width: 100%; }
	.review .wrap .reviewBox ul li { padding: 5px; }
	.review .wrap .reviewBox ul li .rGender { margin: 10px 5px; width: 60px; height: 60px; }
	.review .wrap .reviewBox ul li .rGender.gFemale { background-size: 60px; }
	.review .wrap .reviewBox ul li .rGender.gMale {  background-size: 60px;}
	.review .wrap .reviewBox ul li .rGrade { padding-top: 5px; }
	.review .wrap .reviewBox ul li .rName  { width: calc( 100% - 120px ); padding-top: 0; font-size: 18px;}
	.review .wrap .reviewBox ul li .rDate { line-height: 20px; font-size: 12px; }
	.review .wrap .reviewBox ul li .rDate::before { content:""; margin: 0;}
	.review .wrap .reviewBox ul li .rReport { line-height: 20px; }
	.review .wrap .reviewBox ul li .rDesc p { padding: 10px; }
	/* --------------- //section 5 - review ------------ */

	/* --------------- section 6 - board ------------ */
	.board {}
	.board .wrap { width: 100%; }
	/* --------------- //section 6 - board ------------ */

	/* --------------- section 7 - companyList ------------ */
	.companyList .wrap { width: 100%; }
	.companyList .wrap ul li { width: 25%; padding: 0 30px; }
	.companyList .wrap ul li div a::after { right: -31px; }
	.companyList .wrap ul li:first-child div a::before { left: -31px; }
	/* --------------- //section 7 - companyList ------------ */
}

@media only screen and (max-width: 767px) {
	/* --------------- section 1 - mainVisual ------------ */
	.mainVisual { height: 1500px; background-position: 50% 0;  }
	.mainVisual h2 { font-size: 26px ; }
	.mainVisual p { font-size: 14px ; }
	.mainVisual .mainBox { width: 100%; }
	.mainVisual .main50 { width: 100%; float: none; }
	.mainVisual .textArea { padding-top: 50px; padding-bottom: 70px; }
	.mainVisual .textBox { width: 100%; }
	.mainVisual .btnBox button { width: 140px; height: 40px; line-height: 34px; }
	.mainVisual .btnBox button a { font-size: 12px;  }

	.mainVisual .mainRegister .step0 { }
	.mainVisual .mainRegister .step1 { left:100%; }
	.mainVisual .mainRegister .step2 { left:100%; }
	.mainVisual .mainRegister .step3 { left:100%; }
	.mainVisual .mainRegister .step4 { left:100%; }
	.mainVisual .mainRegister .step5 { left:100%; }
	.mainVisual .mainRegister .step6 { left:100%; }
	/* --------------- //section 1 - mainVisual ------------ */

	/* --------------- section 2 - intro ------------ */
	.intro { padding:60px 0 20px; height:auto;}
	.intro .wrap {width: 100%;}
	.intro .wrap .conBox { width:100%; margin-right: 0;float: none; display: block; margin-bottom: 40px;}
	.intro .wrap .conImg { display: none; }
	.intro .wrap .con { width: 100%; height: 100px; box-sizing: border-box; padding: 0 20px; }
	.intro .wrap .con p { font-size: 13px; width: 80%; margin: 0 auto;}
	.intro .wrap .btnBox { padding-top: 30px; }
	.intro .wrap .btnBox button { height: 35px; line-height: 29px;}
	.intro .wrap .btnBox button a { font-size: 14px;  }
	/* --------------- //section 2 - intro ------------ */

	/* --------------- section 3 - onestop ------------ */
	.onestop { padding:60px 0 90px;}
	.onestop .wrap { width: 100%; box-sizing: border-box; padding: 0 20px; }
	.onestop .textBox { width: 100%; float: none; }
	.onestop .textBox h2 { font-size: 22px ; }
	.onestop .textBox p { font-size: 13px; margin-bottom:20px;}
	.onestop .imgBox { display: none;}

	.onestop li { width: 100%; font-size: 13px; margin-bottom: 15px;}

	.onestop .btnBox { padding-top: 30px; text-align: center; }
	.onestop .btnBox button { font-size: 14px; height: 35px; line-height: 29px; }
	.onestop .btnBox button a { font-size: 14px; }
	/* --------------- //section 3 - onestop ------------ */

	/* --------------- section 4 - stats ------------ */
	.stats { padding-top: 40px; height: auto;}
	.stats .wrap { width: 100%; }
	.stats .statsBox { width: 50%; height: 65px; margin-bottom: 40px;}
	.stats .statsTitle { font-size: 16px; }
	.stats .statsResult { font-size: 28px; padding-top: 10px; }
	.stats .statsIcon { height: 50px; width: 60px; padding:20px 0; display: none;}
	.stats .statsIcon img { height: 55px; }
	/* --------------- //section 4 - stats ------------ */

	/* --------------- section 5 - review ------------ */
	.review .wrap { width: 100%; }
	.review .wrap .reviewBox ul { width: 600%; }
	.review .wrap .reviewBox ul li { padding: 5px; }
	.review .wrap .reviewBox ul li .rGender { margin: 10px 5px; width: 60px; height: 60px; }
	.review .wrap .reviewBox ul li .rGender.gFemale { background-size: 60px; }
	.review .wrap .reviewBox ul li .rGender.gMale {  background-size: 60px;}
	.review .wrap .reviewBox ul li .rGrade { padding-top: 5px; }
	.review .wrap .reviewBox ul li .rName  { width: calc( 100% - 120px ); padding-top: 0; font-size: 18px;}
	.review .wrap .reviewBox ul li .rDate { line-height: 20px; font-size: 12px; }
	.review .wrap .reviewBox ul li .rDate::before { content:""; margin: 0;}
	.review .wrap .reviewBox ul li .rReport { line-height: 20px; }
	.review .wrap .reviewBox ul li .rDesc p { padding: 10px 15px; }
	/* --------------- //section 5 - review ------------ */

	/* --------------- section 6 - board ------------ */
	.board { height: 700px; padding-top: 50px;}
	.board .wrap { width: 100%; }
	.board .row .row_group_2 { width: 100%; float:none; }
	.board ul li a { width:75%; font-size: 13px;}
	.board ul li span {  width: 25%; font-size: 13px;}
	/* --------------- //section 6 - board ------------ */

	/* ---------- index.html register 부분 레이아웃 전체 변경 180904 배다빈 추가 ----------  */
	.mainVisual .mainRegister.stepWrap { width: 100%; }
	.mainVisual .mainRegister .step6 .cpDesc p { font-size: 14px; }
	/* ---------- //index.html register 부분 레이아웃 전체 변경 180904 배다빈 추가 ----------  */

	/* --------------- section 7 - companyList ------------ */
	.companyList .wrap { width: 100%; }
	.companyList .wrap ul li { width: 50%; padding: 0 30px; }
	.companyList .wrap ul li div a::after { top: 23px; right: -31px;}
	.companyList .wrap ul li.mbl1 div a::before { content: ""; display: block; border-right: 2px solid #ddd; height: 10px; position: absolute; left: -31px; top: 22px; }
	.companyList .wrap ul li:first-child div a::before { top: 23px; left: -31px;}
	/* --------------- //section 7 - companyList ------------ */

}

@media only screen and (min-width:460px ) and (max-width: 560px) {
	.companyList .wrap ul li { padding: 0 50px; }
	.companyList .wrap ul li div a::after { top: 23px; right: -50px;}
	.companyList .wrap ul li.mbl1 div a::before { content: ""; display: block; border-right: 2px solid #ddd; height: 10px; position: absolute; left: -50px; top: 22px; }
	.companyList .wrap ul li:first-child div a::before { top: 23px; left: -50px;}
}

@media only screen and (min-width:561px ) and (max-width: 767px) {
	.companyList .wrap ul li { padding: 0 95px; }
	.companyList .wrap ul li div a::after { top: 23px; right: -95px;}
	.companyList .wrap ul li.mbl1 div a::before { content: ""; display: block; border-right: 2px solid #ddd; height: 10px; position: absolute; left: -95px; top: 22px; }
	.companyList .wrap ul li:first-child div a::before { top: 23px; left: -95px;}
}