/* --------------- list bg ------------ */
.list .bgWrap { height: 126px; width: 100%; background-color: #4874E8; transition: all .5s; }
.list .contentWrap { width: 1200px; margin: 0 auto;  padding-bottom: 60px;}
.list .contentWrap h3 { text-align: center; padding:10px 0;  font-size: 22px; color: #777; border:1px solid #ccc; margin-bottom: 40px;}

/* --------------- list content ------------ */
.list .contentWrap { padding: 0 0 100px; width: 1200px;	margin: 0 auto;	}
.list .contentWrap table { width: 100%;	 text-align: center; border:0; border-spacing: 0;}
.list .contentWrap table tr { transition: all .5s; cursor: pointer; }
.list .contentWrap table tr:hover { background-color: #f8f8f8; }
.list .contentWrap table th { height: 50px; background-color: #f8f8f8; font-size: 14px; color: #555; font-weight: 400;  border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; box-sizing: border-box; line-height: 26px;}
.list .contentWrap table td { height: 50px; font-size: 14px; border-bottom: 1px solid #ddd; box-sizing: border-box; color: #333;}
.list .contentWrap table td a { display: block; width: 100%; }
.list .contentWrap .pager { text-align: center;	padding-top: 50px; padding-bottom: 50px;}
.list .contentWrap .pager ul { overflow: hidden; display: inline-block;	}
.list .contentWrap .pager ul li { height: 35px; display: block; float: left; text-align: center; margin: 0 5px;}
.list .contentWrap .pager ul li a { font-size: 14px; display: block; width: 100%; height: 100%; line-height: 35px; color:#4874e8;padding: 0 6px; transition: all .5s; outline:0; text-align: center;	}
.list .contentWrap .pager ul li a:hover { color: #fff; background-color: #8fbff4; }
.list .contentWrap .pager ul li a.active { font-weight: bold; color: #fff; background-color: #4874e8;}
.list .contentWrap .pager .prev a { color: #777; }
.list .contentWrap .pager .next a { color: #777; }

/* --------------- list View bg ------------ */
.listView {}
.listView .bgWrap { height: 120px; width: 100%; background-color: #4874E8; padding-top: 200px; transition: all .5s; }
.listView h2 { text-align: center; color: #fff; font-size: 30px; font-weight: 300; transition: all .5s;}

/* --------------- list View content ------------ */
.listView .contentWrap { padding: 70px 0 100px; width: 1200px;	margin: 0 auto;	}
.listView .contentWrap:after { content: ""; display: block; clear: both; }
.listView h3 { width: 100%; height: 60px; border:1px solid #ccc; text-align: center; font-size: 22px; line-height: 58px; color: #555; margin-bottom: 70px; }

.listView ul { width: 50%; float: left; }
.listView ul li { width: 100%; box-sizing: border-box; padding: 10px 20px; margin-bottom: 40px; transition: all .5s;}
.listView .rightBox li {  }
.listView .conTitle { color:#777; margin-bottom: 30px; font-size: 18px; font-weight: bold; height: 27px;}
.listView .conDesc { width: 100%; text-align: center; position: relative;}
.listView .conDesc .imgBox { position: absolute; background: url(../images/grade.png) no-repeat 100px 20px; width: 100%; height: 380px; z-index: -1; background-size: 65%; transition: all .5s;}
.listView .conDesc span { font-size: 25px; font-weight: bold; color: #777;}
.listView .conDesc span b { font-size: 50px; letter-spacing: 2px; display: inline-block; color: #4874e8; }
.listView .grade { height: 380px; box-sizing: border-box; }
.listView .grade span { padding-top: 130px; display: inline-block; }
.listView .stats { height: 230px; }
.listView .stats .statsBox { position: absolute; width: 100%; height: 230px; z-index: -1; background: url(../images/stats.png) no-repeat 100px 20px; background-size: 60%; }
.listView .stats span { padding-top: 100px;  display: inline-block;}

.listView .conInfo { width: 100%; border: 1px solid #ccc; box-sizing: border-box; margin-top: 40px;} 
.listView .conInfo:after { content: ""; display: block; clear:both; }
.listView .conInfo .subTitle { width: 40%; height: 35px; float: left; background-color: #eee; line-height: 33px; text-align: center; color: #555; font-size: 14px; font-weight: bold; transition: all .5s;}
.listView .conInfo .subDesc { width: 60%; height: 35px; float: left;  line-height:33px; text-align: center;  font-weight: bold; color: #555; transition: all .5s;}
.listView .conInfo .subBb { border-bottom: 1px solid #ccc; }
.listView .conInfo p { height: 200px;  box-sizing: border-box; padding: 15px 20px; color: #555;}
.listView ul li .conTitle span.checkIcon { width: 18px; height: 13px;	 display: inline-block;	 background:url(../images/check.png) no-repeat 0 0; padding-right: 2px; margin-right: 5px; background-size: cover;}

.listView .notice { width: 100%; clear:both; padding-top: 20px;}
.listView .notice p {text-align: center; background-color: #eee; height: 50px; padding-top: 10px; font-size: 14px; transition: all .5s;}

table tr > td:nth-of-type(3){text-align:left;}

/* --------------- notice View ------------ */
.noticeView { width: 100%;  padding-bottom: 50px;}
.noticeView .noticeTop { border-top: 1px solid #4874e8; border-bottom: 1px solid #4874e8;  box-sizing: border-box; padding:0 40px; }
.noticeView .noticeTop:after {  content:""; display: block; clear: both; }
.noticeView .noticeTop .noticeTitle { float: left; height: 60px ; line-height: 60px; color: #4874e8; font-weight: bold; font-size: 20px;}  
.noticeView .noticeTop .noticeDate { float: right; height: 60px; line-height: 60px; color: #555;}
.noticeView .noticeDesc { box-sizing: border-box;  padding: 30px 40px; border-top: 1px solid #4874e8; border-bottom: 1px solid #4874e8; margin: 30px 0 50px; }
.noticeView .noticeDesc p { color: #555;  min-height: 300px; font-size: 16px;}

/* 대출지식 180920 배다빈 추가 */
.list .contentWrap .tipList {}
.list .contentWrap .tipList tr td { padding-bottom: 10px; padding-top: 10px;	}
.list .contentWrap .tipList tr td .thumnail { height: 100px; width: 100px; box-sizing: border-box; border:1px solid #ddd; margin: 0 auto;overflow: hidden;}
.list .contentWrap .tipList tr td .thumnail img { width: 100%;	 }
.list .contentWrap .tipList tr td strong { display: block; font-size: 18px; padding-bottom: 2px;}
.list .contentWrap .tipList tr .tipListDesc {  text-align: left; line-height: 22px;	word-break:break-word; }

.tipView { width: 100%; padding-top: 20px;	 }
.tipView .tipTop { 	 border-top: 1px solid #4874e8; border-bottom: 1px solid #4874e8;  box-sizing: border-box; padding:0 40px; }
.tipView .tipTop:after {  content:""; display: block; clear: both; }
.tipView .tipTop .tipTitle { float: left; height: 60px ; line-height: 60px; color: #4874e8; font-weight: bold; font-size: 20px;}  
.tipView .tipTop .tipDate { float: right; height: 60px; line-height: 60px; color: #555;}
.tipView .tipDesc { box-sizing: border-box;  padding: 30px 40px; border-top: 1px solid #4874e8; border-bottom: 1px solid #4874e8; margin: 30px 0 50px; }
.tipView .tipDesc .imgArea {  padding: 20px 0; height: auto;text-align: center;	line-height: inherit;}
.tipView .tipDesc .imgArea img { width: 300px; }
.tipView .tipDesc p { color: #555;  height:auto; font-size: 16px;}

/* --------------- notice Write 181011 배다빈 추가 ------------ */
.noticeWrite { width: 100%; }
.noticeWrite .noticeTop { border-top: 1px solid #4874e8; border-bottom: 1px solid #4874e8;  box-sizing: border-box; padding:0 40px; }
.noticeWrite .noticeTop:after {  content:""; display: block; clear: both; }
.noticeWrite .noticeTop input  { color: #4874e8; font-weight: bold; font-size: 18px; width: 100%; border: 1px solid #ccc; border-radius: 5px; height: 35px; margin-top: 10px; margin-bottom: 10px; padding:0 10px; box-sizing: border-box;}  
.noticeWrite .noticeTop .noticeDate { float: right; height: 60px; line-height: 60px; color: #555;}
.noticeWrite .noticeDesc { box-sizing: border-box;  padding: 30px 40px; border-top: 1px solid #4874e8; margin: 30px 0 0px; }
.noticeWrite .noticeDesc textarea { width: 100%; color: #555;  min-height: 300px; font-size: 16px; border-radius: 5px; padding: 10px; box-sizing: border-box;}
.btn_confirm { text-align: right; padding:0 30px;}
a.btn_cancel { display: inline-block; background: #969696; color: #fff; text-decoration: none; vertical-align: middle;}
a.btn, .btn { line-height: 35px; height: 35px; padding: 0 10px;  text-align: center;  font-weight: bold;  border: 0; border-radius: 5px; margin-left: 5px;}
.btn_submit {border: 0;background: #4874e8; color: #fff; cursor: pointer;  border-radius: 5px; margin-left: 5px;}

.bo_fx {   margin-bottom: 5px;  float: right; zoom: 1; padding-top: 10px;}
.bo_fx .btn_bo_user li { float: left; }
a.btn_admin, .btn_admin { display: inline-block; background: #555; color: #fff; text-decoration: none; vertical-align: middle; }
a.btn_b01, .btn_b01 { display: inline-block; background: #4c4f6f; color: #fff; text-decoration: none;   vertical-align: middle;}
a.btn_b02, .btn_b02 { display: inline-block; background: #4874e8; padding: 0 10px; color: #fff; text-decoration: none;  border: 0;  vertical-align: middle; font-size: 14px;}

.bo_v_left { float: left; }
.bo_v_left li { float: left; }
.bo_v_com { float: right; }
.bo_v_com li { float: left; }
@media only screen and (min-width: 960px) and (max-width: 1200px) {
	.list .contentWrap { width: 100%; }

	.listView .contentWrap { width: 100%; }
	.listView h3 { width: 98%; margin: 0 auto 70px; }
	.listView .notice { width: 98%; margin: 0 auto; }

}

@media only screen and (min-width: 768px) and (max-width: 959px) {
	.list .contentWrap { width: 100%; }
	.list .contentWrap table th { font-size: 12px; }
	.list .contentWrap table td { font-size: 13px; }

	.listView .contentWrap { width: 100%; }
	.listView h3 { width: 98%; margin: 0 auto 70px; }
	
	.listView ul li { margin-bottom: 35px; }
	.listView .conTitle { font-size: 16px; margin-bottom: 15px;}
	.listView .conDesc .imgBox { background-position: 10px 50px; background-size: 90%;}
	.listView .stats .statsBox { background-position: 25px 25px; background-size: 85%; }
	.listView .conInfo { margin-top: 20px; }
	.listView .conInfo .subTitle { font-size: 13px; }
	.listView .conInfo .subDesc { font-size: 14px; }
	.listView .conInfo p { font-size: 14px; }
	
	.listView .notice { width: 98%; margin: 0 auto; }
	.listView .notice p { font-size: 12px; height: 45px; }

}

@media only screen and (min-width:360px ) and (max-width: 767px) {

	.list .bgWrap {height: 50px;}

	.list .contentWrap { width: 100%; }
	.list .contentWrap table .thGroup { display: none;	 }
	.list .contentWrap table tr {display: block; overflow: hidden;	border-bottom:1px solid #ccc; box-sizing: border-box; padding:5px 0; text-align: center;	}
	.list .contentWrap table td { height: 35px; display:inline-block; border-bottom: 0; line-height: 35px;font-size: 12px;float:left;}
    .list .contentWrap table td:first-of-type{width:15%;}
    .list .contentWrap table td:nth-of-type(2){text-align:left;width:60%;}
    .list .contentWrap table td:nth-of-type(3){display:none;}
    .list .contentWrap table td:last-of-type{width:25%;}
	
	.list .contentWrap .pager { width: 100%; }
	.list .contentWrap .pager ul { width: 100%;	text-align: center;	 }
	.list .contentWrap .pager ul li {margin: 0; width: 8.33%; }
	.list .contentWrap .pager ul li a { box-sizing: border-box; }

	
}

@media only screen and (max-width: 359px) {
		
	.list .bgWrap { height: 50px;}

	.list .contentWrap { width: 100%; }
	.list .contentWrap table .thGroup { display: none;	 }
	.list .contentWrap table tr {display: block; overflow: hidden;	border-bottom:1px solid #ccc; box-sizing: border-box; padding:5px 0; text-align: center;	}
	.list .contentWrap table td { height: 35px; display:inline-block; border-bottom: 0; line-height: 35px;font-size: 12px;float:left;}
    .list .contentWrap table td:first-of-type{width:15%;}
    .list .contentWrap table td:nth-of-type(2){text-align:left;width:60%;}
    .list .contentWrap table td:nth-of-type(3){display:none;}
    .list .contentWrap table td:last-of-type{width:25%;}
	 
	.list .contentWrap .pager { width: 100%; }
	.list .contentWrap .pager ul { width: 100%;	text-align: center;	 }
	.list .contentWrap .pager ul li {margin: 0; width: 8.33%; }
	.list .contentWrap .pager ul li a { box-sizing: border-box; }
}

/* ------------ listView 전용 모바일 페이지 --------------- */
@media only screen and (max-width: 767px) {
	

	.listView .contentWrap { width: 100%; padding-top: 40px; }
	.listView h3 { width: 98%; margin: 0 auto 40px; height: 45px; line-height: 45px; font-size: 18px;}
	.listView ul { width: 100%; float: none; }
	.listView ul li { margin-bottom: 20px; }
	
	.listView .conTitle { font-size: 16px; margin-bottom: 20px; }
	.listView .conInfo { margin-top: 20px; }
	.listView .conInfo .subTitle { font-size: 11px; }
	.listView .conInfo .subDesc { font-size: 14px; }
	.listView .conInfo p { font-size: 14px; }

	.listView .grade { height: 300px; }
	.listView .stats { height: 180px; }
	.listView .conDesc .imgBox { max-width: 320px; background-position:0 0; background-size: 100%;}
	.listView .stats .statsBox { background-position:50% 0; background-size: 80%;}

	.listView .notice { width: 98%; margin: 0 auto; }
	.listView .notice p { font-size: 11px; height: auto;  box-sizing: border-box; padding: 20px;}
	
	.noticeView { width: 95%; margin: 0 auto; }
	.noticeView .noticeTop { padding: 0 10px; }
	.noticeView .noticeTop .noticeTitle { font-size: 16px; height: 40px; line-height: 40px; float: none;} 
	.noticeView .noticeTop .noticeDate { height: 40px; line-height: 40px; font-size: 14px; float: none; width: 100%; text-align: right;}
	.noticeView .noticeDesc { padding: 10px; }
	.noticeView .noticeDesc p { font-size: 14px;}
		
	.list .contentWrap .tipList { box-sizing: border-box; padding: 0 10px; }
	.list .contentWrap .tipList tr { padding: 0; display: table-row; height: auto; box-shadow: none; }
	.list .contentWrap .tipList tr::after {display: none;	}
	.list .contentWrap .tipList tr .no { display: none;	 }
	.list .contentWrap .tipList tr .tipListDesc { }
	.list .contentWrap .tipList tr td { width: auto; float: none; display: table-cell;  height: auto; border-bottom: 1px solid #ddd;}
	.list .contentWrap .tipList tr td strong { font-size: 16px; }
	.list .contentWrap .tipList tr td span { display: none;	 }



}
