/* --------------- policy ------------ */

/* --------------- section 1 ------------ */

/* --------------- section 1 ------------ */
.policy {  }
.policy .bgWrap { height: 300px; width: 100%; background-color: #4874E8; padding-top: 230px; transition: all .5s;}
.policy h2 { text-align: center; color: #fff; font-size: 45px; font-weight: 300; transition: all .5s;}
.policy .bgWrap p { text-align: center; color: #f1f1f1; font-size: 18px; padding-top: 15px; transition: all .5s;}
.policy .bgWrap b { font-weight: bold; font-size: 20px;  transition: all .5s;}
.policy fieldset { border: 0; padding: 0; }
.policy legend { position: absolute; left: -9999px; top: -9999px; }

.policy .stepWrap { padding-top: 70px; width: 555px; margin: 0 auto; overflow: hidden; padding-bottom: 70px; transition: all .5s; }
.policy .row { width: 555px; margin-bottom: 20px; }
.policy .row:after { content:""; display: block;clear: both;}
.policy .row .row_group_1 { width: 100%; padding: 0 5px; box-sizing: border-box; }
.policy .row .row_group_2 { width: 50%; float: left; padding: 0 5px; box-sizing: border-box;}
.policy .row .inputGroup { width: 100%; overflow: hidden;}
.policy .row label { color: #444; display: inline-block; margin-bottom: 8px;}
.policy .row input { width: 80%; height: 45px;  border: 1px solid #ccc; border-radius: 5px 0 0 5px; box-sizing: border-box; display: block; float: left; border-right: 0; padding: 10px; outline: 0;} 
.policy .row .inputMax { width: 100%; border-radius: 5px; border-right: 1px solid #ccc;}
.policy .row button { width: 20%; height: 45px; display: block; float: left; border: 0; background: #4874E8; color: #fff; border-radius: 0 5px 5px 0; outline: 0; cursor: pointer;}
.policy .row select { display: block; width: 100%; height: 45px; border: 1px solid #ccc; border-radius: 5px; box-sizing: border-box; padding: 10px 15px;}
.policy .row .stepTitle { width: 100%; height: 45px; background: #eee; text-align: center; line-height: 40px; font-size: 18px; margin-bottom: 50px;}
.policy .row .daw { width: 10%; height: 45px; display: block; float: left; border: 0; background: #aaa; color: #fff; border-radius: 0 5px 5px 0; outline: 0; cursor: inherit; line-height: 45px; text-align: center;}
.policy .row .input90 { width: 90%; }
.policy .row textarea { display: block; width: 100%; border: 1px solid #ccc; border-radius: 5px; box-sizing: border-box; padding: 10px;}
.policy .row .submitBtn { background: #4874E8;  width: 100%;border: 0; border-radius: 5px; color: #fff; margin-top: 30px;}

.policy .row input[type=checkbox] { width: 15px; height: 15px; position: relative; top: 2px; margin-right: 7px;}
.policy .step4 .inputGroup { padding-top: 10px; }
.policy .step4 .inputGroup label { line-height: 21px; }
.policy .stpe4 .submitBtn { width: 100%; border-radius: 5px; }

.policy .row .idNum label { width: 96px; height: 21px;display: block; }
.policy .row .idNum div { height: 45px; line-height: 45px; }
.policy .row .idNum input { width: 20%; text-align: center; border-right: 0; border-radius: 5px 0 0 5px;}
.policy .row .idNum .idNum_2  { width: 80%; background-color: #eee; font-size: 20px; line-height: 45px; padding-top: 17px; border-left: 0; border-right: 1px solid #ccc; border-radius: 0 5px 5px 0;}

.policy .row .nextStep { width: 100%; border-radius: 5px; margin-top: 30px;}
.policy .row .prevStep { width: 100%; border-radius: 5px; margin-top: 30px; background: #999;}
.policy .stepBox { width: 400%; height: 100%; transition: all .5s ease-in-out;}
.policy .stepBox:after { content:""; display: block; clear: both; }

.policy .step1 { float: left;}
.policy .step2 { float: left;}
.policy .step3 { float: left;}
.policy .step4 { float: left;}

.policy .step3 .row .info label { display: block; }
.policy .step3 .row .w33 { width: 33%; float: left; padding: 0 3px;  box-sizing: border-box;}
.policy .step3 .row .w60 { width: 60%; }
.policy .step3 .row .w40 { width: 40%; }
.policy .step3 .row .btnArea { width: 100%; text-align: center; padding-top: 20px; float: left;}
.policy .step3 .row .btnArea button { float: none; display: inline-block; border-radius: 5px; height: 40px; line-height: 38px; }

.policy .step4 .row .row_group_1 { height: 40px; line-height: 40px; overflow: hidden;}
.policy .step4 .row .row_group_1 div { float: right; overflow: hidden;}
.policy .step4 .row .row_group_1 label { font-size: 15px;float: right;}
.policy .step4 .row .row_group_1 b { color: #4d70ce; font-weight: 600; }
.policy .step4 .row .row_group_1 input[type=checkbox] { top: 11px; }
.policy .step4 .row .row_group_1 span { font-size: 12px; color:#4d70ce; display: inline-block; padding-left: 5px;}
/* --------------- //section 1 ------------ */