.popup * { box-sizing: border-box; }

/* 대출대상 popup */
.popup { position: absolute; width: 100%; height: 100%; top: 0; bottom: 0; left: 0; right: 0; background:rgba(0,0,0,.6); display: none; z-index: 9999;}
.popup.active {display: block;}
.popup .wrap { width: 1200px; position: absolute; left: 50%; margin-left: -600px; top: 0px; background: #fff; padding: 20px 30px; }
.popup .wrap .stepBox::after {content: ""; display: block; clear: both;}
.popup .popup_step .popupTitle { text-align: center; font-size: 23px; font-weight: bold; height: 55px; line-height: 50px; border-bottom: 1px solid #ccc; padding-bottom: 5px;}
.popup .popup_step .subTitle { font-weight: bold; font-size: 18px; padding: 15px 0; }
.popup .popup_step dl::after {content: ""; display: block; clear: both;}
.popup .popup_step dl dt { color: #777;}

.popup .popup_step dl dd div { width: 100%; height: 100%; border:1px solid #ccc; text-align: center; font-size: 14px; line-height: 50px; color: #777; cursor: pointer; transition: all .5s;}
.popup .popup_step dl dd div.br0 { border-right: 0; }
.popup .popup_step dl dd div.pbr0 { border-right: 0; }
.popup .popup_step dl dd div.pbr1 { border-right: 1px solid #ccc; }
.popup .popup_step dl dd div.lh20 { line-height: 18px; padding-top: 5px;  }
.popup .popup_step dl dd div.active { color: #fff; background: #4874e8; border-color: #4874e8;}
.popup .wrap .btnArea { float: none; text-align: center; padding: 30px 0;}
.popup .wrap .btnArea button { width: 150px; height: 50px; line-height: 50px; border:0; color: #fff; margin: 0 20px; background-color: #ccc; cursor: pointer;}
.popup .wrap .btnArea button.submitBtn { background-color: #4874e8; }

.popup .target_step1 { width: 50%; float: left; padding-right: 20px; border-right: 1px solid #eee}
.popup .target_step2 { width: 50%; float: left; padding-left: 20px; }

.popupTarget .popup_step dl dd { width: 33.3333%; height: 70px; float: left; padding: 10px 0; margin-bottom: 0;  }
.popupDocu .popup_step dl dd { width: 25%; height: 70px; float: left; padding: 10px 0px; margin-bottom: 0; }
.popupHow .popup_step dl dd { width: 25%;height: 70px; float: left; padding: 10px 0px; margin-bottom: 0; }
.popupJoin .popup_step dl dd { width: 25%; height: 130px; float: left; padding: 10px 0px; margin-bottom: 0; }
.popupJoin .popup_step dl dd > div { padding-top: 20px; }
.popupJoin .popup_step dl dd .block { display: block; width: 40px; height: 40px; margin: 0 auto; font-weight: bold; font-size: 35px; }
.popupJoin .popup_step dl dd .i_enter {display: block; background: url(../images/enter.png) no-repeat 0 0; width: 40px; height: 40px; background-size: 40px; margin: 0 auto;}
.popupJoin .popup_step dl dd .i_visit {display: block; background: url(../images/visit.png) no-repeat 0 0; width: 40px; height: 40px; background-size:40px; margin: 0 auto;}
.popupJoin .popup_step dl dd .i_call {display: block; background: url(../images/call.png) no-repeat 0 0; width: 40px; height: 40px; background-size: 40px; margin: 0 auto; }
.popupJoin .popup_step dl dd .i_app {display: block; background: url(../images/app.png) no-repeat 0 0; width: 40px; height: 40px; background-size: 40px; margin: 0 auto; }
.popupJoin .popup_step dl dd .i_web {display: block; background: url(../images/web.png) no-repeat 0 0; width: 40px; height: 40px; background-size: 40px; margin: 0 auto; }

/* register.html 에서 사용  180822 추가*/
.popupNone .target_step1 { display: none; }
.popupNone .target_step2 { display: none; }
.popupNone .target_step1.active { display: block; width: 100%; padding-right: 0; border-right: 0 }
.popupNone .target_step2.active { display: block; width: 100%; padding-left: 0;}
.popupNone .target_step1 dl dd { width: 25%; }
.popupNone .target_step2 dl dd { width: 25%; }

/* ---------- listView.html reserve Popup 180905 배다빈 추가 ---------- */
.popupReserve .wrap { width: 360px; margin-left: -170px; top: 400px; border-radius: 5px; padding: 0;}
.popupReserve .wrap .reserveTitle { font-weight: bold; color: #fff; font-size: 15px; margin-bottom: 10px; background-color: #4874e8; border-radius: 5px 5px 0 0; box-sizing: border-box; padding: 10px;}
.popupReserve .wrap .reserveBox {box-sizing: border-box;}
.popupReserve .wrap .reserveBox::after { content: ""; display: block;clear: both; }
.popupReserve .wrap .reserveBox .timeSelect { padding: 0 5px; }
.popupReserve .wrap .reserveBox .timeSelect::after {content: ""; display: block; clear: both;}
.popupReserve .wrap .reserveBox .timeSelect .reserve1 { width: 30%; display: block;  float:left; }
.popupReserve .wrap .reserveBox .timeSelect .betweenBox { width: 10%;  display: block;float:left; line-height: 35px;  text-align: center; }
.popupReserve .wrap .reserveBox .timeSelect .reserve2 { width: 30%; display: block;float:left; }
.popupReserve .wrap .reserveBox .timeSelect .reserveAll { line-height: 35px; display: block; float: left; width: 30%;   text-align: center; }
.popupReserve .wrap .reserveBox select { padding: 8px 15px; border:1px solid #ddd; border-radius: 5px; box-sizing: border-box; height: 35px; line-height: 35px; }

.popupReserve .wrap .reserveNotice { padding-top: 10px; }
.popupReserve .wrap .reserveNotice p { box-sizing: border-box; padding: 8px 15px; color: #4874e8; background-color: #dde6fd; font-size: 12px;}
.popupReserve .wrap .reserveNotice p strong { display: block; padding-bottom: 5px; border-bottom: 1px solid #fff; font-size: 14px; text-align: center;}

.popupReserve .wrap .reserveXbtn { position: absolute; width: 40px; height: 40px; right: 0; top: -40px; cursor: pointer;}
.popupReserve .wrap .reserveXbtn .i_xbtn { background: url(../images/popupXbtn.jpg) no-repeat 0 0; background-size: 40px; display: block;width: 100%; height: 100%;}
.popupReserve .wrap .reservePhone { width: 100%; float: left;  display: block; overflow: hidden; padding-top: 10px; padding-bottom: 10px; text-align: center;}
.popupReserve .wrap .reservePhone b { color: #4874e8; float: left; padding-left: 10px; line-height: 33px; width: 20%; box-sizing: border-box;}
.popupReserve .wrap .reservePhone .reserveSave { padding: 8px 15px; background-color: #4874e8; border:0; color: #fff; float: right; margin-right: 5px; border-radius: 5px; line-height: 17px;  }
.popupReserve .wrap .reservePhone .rpInputBox { float: left; width: 60%;  }
.popupReserve .wrap .reservePhone .rpInputBox > * { float: left; }
.popupReserve .wrap .reservePhone .rpInputBox .rpInput { width: 30%; text-align: center;}
.popupReserve .wrap .reservePhone .rpInputBox .betweenBox { width: 5%; text-align: center; line-height: 33px;}
.popupReserve .wrap .reservePhone input { width: 100%; padding: 8px 5px; border:1px solid #ddd; border-radius: 5px; }
/* ---------- //listView.html reserve Popup 180905 배다빈 추가 ---------- */
@media only screen and (min-width: 960px) and (max-width: 1200px) {
    .popupReserve .wrap { left: 50%;}
}


@media only screen and (min-width: 1024px) and (max-width: 1280px) {
	.popup .wrap { width: 100%; left: 0; margin-left: 0;}
    .popup .popup_step dl dd div { font-size: 13px; }
    .popupReserve .wrap { left: 50%; width: 360px; margin-left: -180px;}
}

@media only screen and (min-width: 960px) and (max-width: 1023px){
	.popup .wrap { width: 100%; left: 0; margin-left: 0;}
    .popup .popup_step dl dd div { font-size: 12px; }
    .popupReserve .wrap { left: 50%; width: 360px; margin-left: -180px;}
}

@media only screen and (min-width: 768px) and (max-width: 959px){
	.popup .wrap { width: 100%; left: 0; margin-left: 0; padding: 5px 10px;}
    .popup .target_step1 { padding-right:10px; }
    .popup .target_step2 { padding-left: 10px; }
    .popup .popup_step dl dd { padding: 10px 0;}
    .popup .popup_step dl dd div { font-size: 11px; }
    .popupReserve .wrap { left: 50%; width: 360px; margin-left: -180px; padding: 0;}


}

@media only screen and (max-width: 767px){
	 .popup .wrap { width: 100%; left: 0; margin-left: 0; padding: 5px 8px; min-width: 320px;}
    .popup .target_step1 { padding-right:0px; border-right: 0}
    .popup .target_step2 { padding-left: 0px; }
    .popup .target_step2 .popupTitle { border-top: 1px solid #ccc; }
    .popup .popup_step { width: 100%; float: none; }
    .popup .popup_step .popupTitle { font-size: 18px; }
    .popup .popup_step .subTitle { font-size: 16px; }
    .popup .popup_step dl dt { font-size: 14px; }
    .popupTarget .popup_step dl dd { padding: 5px 0; }
    .popupDocu .popup_step dl dd { padding: 5px 0; width: 50%;}
    .popupHow .popup_step dl dd  { padding: 5px 0; width: 33.3333%;}
    .popupJoin .popup_step dl dd  { padding: 5px 0; width: 33.3333%;}
    .popup .popup_step dl dd div {line-height: 60px; font-size: 11px;}
    .popup .popup_step dl dd div.lh20 { padding-top: 10px;}
    .popup .popup_step dl dd div.br0 {border-right: 0;}
    .popup .popup_step dl dd div.pbr0 { border-right: 1px solid #ccc; }
    .popup .wrap .btnArea button { margin: 0; width: 130px;}

	.popupNone .target_step1 dl dd { width: 33.3333%; }
	.popupNone .target_step2 dl dd { width: 33.3333%; }
    .popupReserve .wrap {padding: 0;}
}
