/* ------------ review  -------------- */
.review .bgWrap { height: 126px; width: 100%; background-color: #4874E8; transition: all .5s; }
.review .contentWrap { width: 1200px; margin: 0 auto;  padding-bottom: 60px;}
.review .contentWrap h3 { text-align: center; padding:10px 0;  font-size: 22px; color: #777; border:1px solid #ccc; margin-bottom: 60px;}
.review.mt50 { margin-top: 50px; }

/*.review .reviewBox {width: 100%; }
.review .reviewBox table { width: 100%; text-align: center; border:0; border-spacing: 0; }
.review .reviewBox table tr { transition: all .5s; }
.review .reviewBox table th { text-align: left; font-size: 18px; border-bottom: 1px solid #ccc; height: 40px; box-sizing: border-box; padding-left: 30px;}
.review .reviewBox table td { border-bottom: 1px solid #ccc; box-sizing: border-box; padding: 20px 30px; transition: all .5s;}
.review .reviewBox table td:hover { background-color: #f8f8f8; }
.review .reviewBox table td > div { float: left; }
.review .reviewBox table td .rGrade { width: 15%; height: 80px; font-weight: bold; color: #555;}
.review .reviewBox table td .rGrade .star { width: 40px; height: 40px; background: url(../images/star2.png) no-repeat 0 0; background-size: cover; display: block; margin: 5px auto; }
.review .reviewBox table td .rAuthor {  width: 85%; float: left; font-weight: bold; font-size: 15px; color: #555; text-align: left; box-sizing: border-box; padding:0 20px 5px;}
.review .reviewBox table td .rDesc { float: left; width: 85%; text-align:left; box-sizing: border-box; padding:0 20px;}
.review .reviewBox table td .rDesc p { font-weight: bold; color: #333;}*/
.review .reviewBox .btnArea { text-align: right;  padding-top: 40px;}
.review .reviewBox .btnArea button { border:0; width: 100px; height: 30px; background-color: #717171; line-height: 30px; color: #fff; outline: 0;}

.review .contentWrap .pager { text-align: center;	padding-top: 50px; }
.review .contentWrap .pager ul { overflow: hidden; display: inline-block;	}
.review .contentWrap .pager ul li { height: 35px; display: block; float: left; text-align: center; margin: 0 5px;}
.review .contentWrap .pager ul li a { font-size: 14px; display: block; width: 100%; height: 100%; line-height: 35px; color:#4874e8;padding: 0 6px; transition: all .5s; outline:0; text-align: center;	}
.review .contentWrap .pager ul li a:hover { color: #fff; background-color: #8fbff4; }
.review .contentWrap .pager ul li a.active { font-weight: bold; color: #fff; background-color: #4874e8;}
.review .contentWrap .pager .prev a { color: #777; }
.review .contentWrap .pager .next a { color: #777; }

.review {  padding-bottom: 70px;  }
.review .contentWrap { width: 1200px; margin: 0 auto;  }
.review .contentWrap h2 { text-align: center; color: #222; padding-bottom: 20px; }
.review .contentWrap .reviewBox .reviewWrap { overflow: hidden; }
.review .contentWrap .reviewBox .reviewWrap li {width: 25%; height: 200px;  overflow: hidden; box-sizing: border-box; padding: 10px; float: left;}
.review .contentWrap .reviewBox .reviewWrap li .reviewer { width: 100%; height: 100%; border:1px solid #ccc;  background-color: #fff;     box-shadow: 3px 3px 3px 0 rgba(0,0,0,.2); border-radius: 10px;}
.review .contentWrap .reviewBox .reviewWrap li .rGender { float: left; width: 60px; height: 60px; margin: 5px; }
.review .contentWrap .reviewBox .reviewWrap li .rGender.gMale {  background: url(../images/male.png) no-repeat 0 0; background-size: 60px;  }
.review .contentWrap .reviewBox .reviewWrap li .rGender.gFemale {  background: url(../images/female.png) no-repeat 0 0; background-size: 60px; }
.review .contentWrap .reviewBox .reviewWrap li .rGrade { padding-top: 10px; float: left; width: calc( 100% - 120px ); }
.review .contentWrap .reviewBox .reviewWrap li .rGrade i {font-size: 18px; color: #ffc100; display: inline-block; margin-right:10px;}
.review .contentWrap .reviewBox .reviewWrap li .rName { font-size: 20px; font-weight: bold; color: #222;  float: left;}
.review .contentWrap .reviewBox .reviewWrap li .rDate { font-size:12px; color: #777; float: left; line-height: 38px;}
.review .contentWrap .reviewBox .reviewWrap li .rDate::after { content:"|"; display: inline-block; margin:0 5px; }
.review .contentWrap .reviewBox .reviewWrap li .rDate::before { content: "|"; display: inline-block; margin: 0 5px; }
.review .contentWrap .reviewBox .reviewWrap li .rReport { float: left; color: #777; font-size: 14px; line-height: 38px; cursor: pointer;}
.review .contentWrap .reviewBox .reviewWrap li .rDesc { clear: both; }
.review .contentWrap .reviewBox .reviewWrap li .rDesc p { box-sizing: border-box; width: 100%; height: 100%; padding: 10px 20px; color: #555; font-size: 14px;}

/*--------------------------- review Write Form by.AJB ---------------------------*/

.formwrap{width:550px;margin:0 auto;}
.formwrap form{}
.formwrap form fieldset .flr{margin:30px 0;}
.formwrap form fieldset .flr:after{display:block;visibility:hidden;clear:both;content:'';}
.formwrap form fieldset .flr > div{width:49%;float:left;}
.formwrap form fieldset .flr > div:first-of-type{margin-right:2%;}
.formwrap form fieldset .flr .number{width:100%;margin-right:0;}
.formwrap form fieldset div label{display:block;text-align:center;font-size:1.1rem;padding:10px 0;color:#4874E8;font-weight:bold;}
.formwrap form fieldset div input[type='text']{padding:10px;box-sizing:border-box;border-radius:5px;margin:10px 0;border:1px solid #ccc;width:100%;}
.formwrap form fieldset div input[type='date']{padding:10px;box-sizing:border-box;border-radius:5px;margin:10px 0;border:1px solid #ccc;width:100%;}
.formwrap form fieldset div select{padding:9px;box-sizing:border-box;border-radius:5px;margin:10px 0;border:1px solid #ccc;width:100%;}
.formwrap form fieldset div textarea{width:100%;box-sizing:border-box;border:1px solid #ccc;border:1px solid #ccc;border-radius:5px;padding:10px;margin:10px 0;}
.formwrap form fieldset .btnArea { width: 100%;	 }
.formwrap form fieldset .btnArea:after {content:""; display: block; clear: both;} 
.formwrap form fieldset .btnArea > div { width: 50%; float:left; box-sizing: border-box; }
.formwrap form fieldset .btnArea > div.pr5 { padding-right: 5px; }
.formwrap form fieldset .btnArea > div.pl5 { padding-left: 5px; }
.formwrap form fieldset .btnArea button { width: 100%; border:0; border-radius: 5px; padding: 10px 0; color: #fff; background-color: #777;}
.formwrap form fieldset .btnArea button.rvSubmit { background-color: #4874e8; }

@media only screen and (max-width:1200px){
    .reviewWrite .contentWrap { width: 100%;}
}
/*--------------------------- review Write Form by.AJB ---------------------------*/
@media only screen and (min-width: 960px) and (max-width: 1200px) {
	
	.review .contentWrap { width: 100%; margin: 0 auto;	 }
	.review .contentWrap .reviewBox .reviewWrap li { width: 33.3333%; padding: 10px 20px; }

	.review .reviewBox table td .rDesc p { font-size: 14px; }
	
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
	
	.review .contentWrap { width: 100%; margin: 0 auto;	 }
	.review .contentWrap .reviewBox .reviewWrap li { width: 50%; padding: 10px 30px; }

	.review .reviewBox table td .rDesc p { font-size: 14px;}
	
}

@media only screen and (max-width: 767px) {
	
	.review .bgWrap  { height: 50px; }	

	.review .contentWrap { width: 100%; margin: 0 auto;	 }
	.review .contentWrap .reviewBox .reviewWrap li { width: 100%; float:none;  padding: 10px; }

	.review .contentWrap .pager { width: 100%; }
	.review .contentWrap .pager ul { width: 100%;	text-align: center;	 }
	.review .contentWrap .pager ul li {margin: 0; width: 8.33%; }
	.review .contentWrap .pager ul li a { box-sizing: border-box; }
		
	.review .reviewBox .btnArea { text-align: center;	 }
    /* AJB */
    .formwrap{width:100%;}
    /* AJB */

    .review .reviewBox table td { padding: 10px 0; }
    .review .reviewBox table td .rGrade { width: 20%; }
    .review .reviewBox table td .rGrade .star { margin: 5px auto; width: 35px; height: 35px; }
    .review .reviewBox table td .rAuthor { font-size: 14px; width: 80%; padding: 0 10px;}
    .review .reviewBox table td .rDesc { width: 80%; padding: 0 10px;}
    .review .reviewBox table td .rDesc p { font-size: 12px;}
}
/*--------------------------- review Write Form by.AJB ---------------------------*/
@media only screen and (max-width:550px){
    .formwrap{width:90%;margin-left:5%;}
    
}
/*--------------------------- review Write Form by.AJB ---------------------------*/