/* ------------ search common -------------- */
.overY { overflow-y: hidden; overflow-x: hidden;}
.search .bgWrap { height: 126px; width: 100%; background-color: #4874E8;  transition: all .5s; }
.search h2 { text-align: center; color: #fff; font-size: 30px; font-weight: 300; transition: all .5s;}
.search .contentWrap { width: 1200px; margin: 0 auto;  padding-bottom: 60px;}
/*.search .contentWrap h3 { text-align: center; padding:10px 0;  font-size: 22px; color: #fff;  margin-bottom: 60px; background-color: #4874e8;}*/
.search .contentWrap h3 { text-align: center; padding: 10px 0;  font-size: 22px; color: #4874e8;
    margin-bottom: 20px;}


/* ------------ search Navi -------------- */
.search .searchNavi { width: 100%; padding-bottom: 20px; }
.search .searchNavi ul { border-top: 1px solid #ccc; border-left: 1px solid #ccc; box-sizing: border-box; border-radius: 5px;}
.search .searchNavi ul:after { content: ""; display: block; clear: both;  }
.search .searchNavi ul li { width: 25%; float: left; height: 50px; border-right: 1px solid #ccc; border-bottom: 1px solid #ccc; box-sizing: border-box;}
.search .searchNavi ul li:first-child { border-radius: 5px 0 0 5px; }
.search .searchNavi ul li:last-child { border-radius: 0 5px 5px 0; }
.search .searchNavi ul li.on { background-color: #4874e8;}
.search .searchNavi ul li a { display: block; width: 100%; height: 100%; text-align: center; line-height: 50px; font-size: 15px;}
.search .searchNavi ul li.on a { color: #fff;}

.search .searchNaviM { display: none; }
.searchCompany .searchNavi ul li { width: 25%; }

/* ------------ search map -------------- */
.searchMap { padding-top: 126px;  }
.searchMap .mapBox { width: 100%; height: 700px; position: relative;}

.searchMap .mapBox .mapArea { width: 1621px; height: 100%; position: absolute; left: 0; top: 0; bottom: 0;	 background: url(../images/map.png) no-repeat 0 0; ; background-size: cover; transition: all .05s;}

.searchMap .mapArea .searchBox { position: absolute; left:12px; top: 12px; width: 360px; height: auto; background-color: #f0f0f0;	}
.searchMap .mapArea .searchBox .scrollWrap { height: 1px;	 overflow: hidden;	overflow-y: scroll; -webkit-overflow-scrolling: touch;}
.searchMap .mapArea .searchBox .scrollWrap.active { height: 600px; }
.searchMap .mapArea .searchBox .scrollWrap > ul {   }
.searchMap .mapArea .searchBox ul li { margin-bottom: 5px; }
.searchMap .mapArea .searchBar { width: 100%;	box-sizing: border-box; padding:15px 10px;	background-color: #fff;}
.searchMap .mapArea .searchBar fieldset { overflow: hidden;	height: 100%;	background-color: #4874e8; }
.searchMap .mapArea .searchBar legend { position: absolute;	 left: -9999px; top: -9999px; }
.searchMap .mapArea .searchBar input { border:0; display: block; float: left; width: 80%;	 height:30px; box-sizing: border-box; padding: 2px 12px; color: #555; background-color: #fff; -webkit-appearance: none; -webkit-border-radius: 0; border-top:2px solid #4874e8; border-bottom: 2px solid #4874e8; border-left: 2px solid #4874e8;}
.searchMap .mapArea .searchBar button { border:0; background-color: #4874e8; float: right; height: 30px;	 width: 20%; display: block; color: #fff; line-height: 30px; cursor: pointer;}

.searchMap .mapArea .filterBar { width: 100%;	box-sizing: border-box; padding:10px 10px;	background-color: #fff;}
.searchMap .mapArea .filterBar .fTitle { font-size: 14px; font-weight: bold; color: #555; box-sizing: border-box; padding-left: 5px; margin-bottom: 5px;}
.searchMap .mapArea .filterBar .fTitle .tip { display: inline-block; width: auto; height: auto; padding-left: 5px; cursor: pointer;}
.searchMap .mapArea .filterBar .fTitle .tip i { padding-left: 5px; position: relative;}
.searchMap .mapArea .filterBar .fTitle .tip .tipDesc { visibility: hidden; position: absolute; width: 230px;  background-color: #555; padding: 10px 5px; border-radius: 6px; z-index: 1; opacity: 0; transition: opacity .6s; text-align: center; top: -10px; left: 20px;}
.searchMap .mapArea .filterBar .fTitle .tip .tipBtn:hover .tipDesc { visibility: visible; opacity: 1;}
.searchMap .mapArea .filterBar .fTitle .tip .tipBtn:hover .tipDesc a { color: #fff; font-size: 12px;}

.searchMap .mapArea .filterBar .fTitle b.desc { color: #ff6600; display: inline-block;	 padding-left: 10px; }
.searchMap .mapArea .filterBar .filterTab {  }
.searchMap .mapArea .filterBar .filterTab::after { content: ""; display: block; clear: both; }
.searchMap .mapArea .filterBar .filterTab .fCate { width: 25%; float:left; padding: 10px; box-sizing: border-box; }
.searchMap .mapArea .filterBar .filterTab .fCate > div { width: 65px; height: 65px; border-radius: 50%; margin: 0 auto; background-color: #ddd; cursor: pointer;}
.searchMap .mapArea .filterBar .filterTab .fCate > .pro_1 { background-color: #2f7ffc; }
.searchMap .mapArea .filterBar .filterTab .fCate > .pro_2 { background-color: #509afc; }
.searchMap .mapArea .filterBar .filterTab .fCate > .pro_3 { background-color: #4bb9e6; }
.searchMap .mapArea .filterBar .filterTab .fCate > .reg_1 { background-color: #4874e8; }
.searchMap .mapArea .filterBar .filterTab .fCate > div > span {display: block; width: 100%; height: 100%; text-align: center; color: #fff; font-size: 11px; box-sizing: border-box; padding-top: 40px; font-weight: 300; }
.searchMap .mapArea .filterBar .filterTab .fCate > .pro_1 .i_product { background: url(../images/product_1_1.png) no-repeat 18px 12px; background-size: 28px;}
.searchMap .mapArea .filterBar .filterTab .fCate > .pro_2 .i_product { background: url(../images/product_2_1.png) no-repeat 18px 12px; background-size: 28px; }
.searchMap .mapArea .filterBar .filterTab .fCate > .pro_3 .i_product { background: url(../images/product_3_1.png) no-repeat 15px 10px; background-size: 36px; }
.searchMap .mapArea .filterBar .filterTab .fCate > .reg_1 .i_register { background: url(../images/m_icon_1.png) no-repeat 22px 12px; background-size: 26px; }
.searchMap .mapArea .filterBar .filterSelect select { width: 100%; display: none; border:1px solid #ddd; border-radius: 5px; height:38px ; line-height: 38px; box-sizing: border-box; padding-left: 10px;}
.searchMap .mapArea .filterBar .filterSelect select.active { display: block; }

.searchMap .mapArea .filterBar .filterTab > li { float:left; width: 25%; }
.searchMap .mapArea .filterBar .filterTab > li > div { text-align: center;border:1px solid #ddd; font-size: 13px; color: #777; padding: 5px 0; transition: all .5s; cursor: pointer;}
.searchMap .mapArea .filterBar .filterTab > li > div.active { background-color: #4874e8; color: #fff; }
.searchMap .mapArea .filterBar .filterTab > li > div.br0 { border-right: 0;	 }
.searchMap .mapArea .filterBar .fInput { overflow: hidden; padding-bottom: 5px;	 }
.searchMap .mapArea .filterBar .fInput input { width: 85%;height: 34px;		float:left; box-sizing: border-box; border:1px solid #ddd; text-align: right; padding: 0 10px; color: #555;}
.searchMap .mapArea .filterBar .fInput .addon { width: 15%;	height: 34px;	 float:left; box-sizing: border-box; background-color: #eee; text-align: center; font-size: 14px; line-height: 34px; color: #333;}
.searchMap .mapArea .filterBar .filterTab > li i { font-size: 14px; }
.searchMap .mapArea .filterBar .rangeBox { box-sizing: border-box; padding: 25px 20px; margin-bottom: 10px;  }

.searchMap .mapArea .searchBox .filterBtn { width: 100%; height: 35px; background-color: #fff; text-align: center; margin:5px 0 0; font-size: 14px; line-height: 35px; color: #555; cursor:pointer;}

.searchMap .mapArea .marker { position: absolute; width: 35px; height: 35px; background-color: #fff; left: 500px; top: 300px; border:1px solid #777; border-radius: 50%;  text-align: center; line-height: 32px; cursor: pointer; transition: all .3s;}
.searchMap .mapArea .marker a { display: block; width: 100%; height: 100%; }
.searchMap .mapArea .marker span { font-weight: bold; color: #4874e8; font-size: 22px; transition: all .3s;}
.searchMap .mapArea .marker:hover { background-color: #4874e8; }
.searchMap .mapArea .marker:hover span { color: #fff; }
.searchMap .mapArea .marker:hover .markerInfo { display: block;	 }
.searchMap .mapArea .markerInfo { position: absolute; left: -20px; top: 35px;	 width: 206px; height: 62px; background-color: #fff; border:1px solid #777; line-height: 24px; display: none;}
.searchMap .mapArea .markerInfo:after { content: ""; display: block; position: absolute; width: 8px; height: 8px; border-left:1px solid #777; border-top: 1px solid #777; background-color: #fff; transform: rotate(45deg); left: 33px; top: -6px;	}
.searchMap .mapArea .markerInfo .mDesc { float: left; width: 146px; height: 100%; box-sizing: border-box; padding-top: 7px;}
.searchMap .mapArea .markerInfo .mTitle { width: 100%; font-size: 18px; font-weight: bold; color: #555; }
.searchMap .mapArea .markerInfo .mAddress { font-size: 14px; color: #888; }
.searchMap .mapArea .markerInfo .mGrade { float: left; width: 20%; height: 100%; font-weight: bold;}
.searchMap .mapArea .markerInfo .mGrade .star { display: block;  background: url(../images/star2.png) no-repeat 0 0; width: 25px; height: 25px; background-size: 25px; margin:5px auto 2px; }

.searchMap .mapBox .listBox { width: 300px; height: 100%; position: absolute; right: 0; top: 0;	bottom: 0; box-sizing: border-box; border-left: 1px solid #777; background-color: #fff; overflow-x: hidden; overflow-y: scroll;}
.searchMap .mapBox .listBox .listBoxTitle { width: 100%; height: 40px;	background-color: #4874e8; color: #fff; font-weight: bold; box-sizing: border-box; padding-left: 10px; line-height: 40px; 	letter-spacing: 1px; }
.searchMap .mapBox .listBox .listBoxTitle .tip { float: right; width: 20px;	height: 100%;  margin-right: 7px; cursor: pointer; }
.searchMap .mapBox .listBox .listBoxTitle .tip i { font-size: 18px;  position: relative; }
.searchMap .mapBox .listBox .listBoxTitle .tip .tipDesc { visibility: hidden; position: absolute; width: 230px;  background-color: #4874e8; padding: 10px 5px; border-radius: 6px; z-index: 1; opacity: 0; transition: opacity .6s;  right: 20px; top: -10px; text-align: center;}
.searchMap .mapBox .listBox .listBoxTitle .tip .tipBtn:hover .tipDesc { visibility: visible; opacity: 1;}
.searchMap .mapBox .listBox .listBoxTitle .tip .tipBtn:hover .tipDesc a { color: #fff; font-size: 12px;}

.searchMap .mapBox .listBox ul { width: 100%; height: auto; padding-top: 0;	}
.searchMap .mapBox .listBox ul li.backBtn { display: none; }

.searchMap .mapBox .listBtn { display: none; }


/* ------------ searchCompany.html 업체별 레이아웃 전체 변경 180823 배다빈 추가 ------------ */
.search .conBox {width: 100%; }
.search .conBox ul {  transition: all .5s }
.search .conBox ul:after {content: ""; display: block; clear: both;}
.search .conBox ul li { width: 280px; height: 200px; float: left; box-sizing: border-box; padding: 10px; }
.search .conBox ul li .company { width: 100%; height:100%; border:1px solid #eee; border-radius: 5px; display: block; position: relative; box-sizing: border-box; box-shadow: 3px 3px 3px 0 rgba(0,0,0,.28); padding: 0 5px; background-color: #fff;} /* 의뢰인변경 그림자값수정 */
.search .conBox ul li .company .comCate { text-align: center; padding: 15px 0 0; font-size: 12px; color: #999; }
.search .conBox ul li .company .comName { text-align: center;  font-weight: bold; color: #222; font-size: 23px; padding-bottom: 3px;}
.search .conBox ul li .company .comName .logoBox { width: 30px; height: 30px; display: inline-block;}
.search .conBox ul li .company .comName .logoBox .i_delogo { background:url(../images/delogo.png) no-repeat 0 0; background-size: 20px; display: inline-block; width: 20px; height: 20px; margin:0 5px; position: relative; top: 2px;}
.search .conBox ul li .company .comAddr { text-align: center; color: #999; font-size: 12px; font-weight: bold; }
.search .conBox ul li .company .comAddr::after {content:""; display: block; border-top: 2px solid #eee; width: 97%; margin: 20px auto 0;}
.search .conBox ul li .company .comBtn { width: 100%; overflow: hidden; position: absolute; bottom: 0; left: 0;  box-sizing: border-box; padding: 0 5px;}
.search .conBox ul li .company .comBtn > div { width: 33.3333%; float: left; box-sizing: border-box;padding:10px 3px 17px;}
.search .conBox ul li .company .comBtn > div button { width: 100%; height: 35px; background-color: #2f7ffc; border:0;color: #fff; font-size: 11px; line-height: 35px; border-radius: 5px;}
.search .conBox ul li .company .comBtn > div .i_call { width: 20px; height: 20px; display: inline-block; background:url(../images/callBtn.png) no-repeat 0 0; background-size: 15px; position: relative; top: 8px; }
.search .conBox ul li .company .comBtn > div .i_reser { width: 20px; height: 20px; display: inline-block; background:url(../images/reserveBtn.png) no-repeat 0 0; background-size: 15px; position: relative; top: 8px;}
.search .conBox ul li .company .comBtn > div .i_more { width: 20px; height: 20px; display: inline-block; background:url(../images/moreBtn.png) no-repeat 0 0; background-size: 15px; position: relative; top: 8px;}
/* ------------ // searchCompany.html 업체별 레이아웃 전체 변경 180823 배다빈 추가 ------------ */

/* ---------- searchCompany 전체 레이아웃 추가변경 180830 배다빈 추가 ---------- */
.search .contentWrap .companyStats ul::after { content: ""; display: block; clear: both; }
.search .contentWrap .companyStats ul li { float: left; width: 25%; height: 360px; text-align: center; padding-top: 20px;}
.search .contentWrap .companyStats ul li .csTitle { font-weight: bold; color: #222; font-size: 18px; padding: 10px 0 20px; }
.search .contentWrap .companyStats ul li .csStats b { font-size: 85px; color: #4874e8; font-weight: 400; display: inline-block; padding: 20px 0 48px; }
.search .contentWrap .companyStats ul li .csStats img { width: 200px; }
.search .contentWrap .companyStats ul li .csStats .w140 { width: 140px; }
.search .contentWrap .companyStats ul li .csDesc { font-size: 18px; color: #777; }

.searchCompany .contentWrap .conBox ul li { width: 25%;}

/* ---------- //searchCompany 전체 레이아웃 추가변경 180830 배다빈 추가 ---------- */


/* ------------ search View -------------- */
.searchView .searchTitle { font-size: 22px;  font-weight: bold; box-sizing: border-box; padding-left: 10px; padding-bottom: 30px;}
.searchView .row.bt { border-top: 1px solid #ccc; }
.searchView .row { border-bottom: 1px solid #ccc ; }
.searchView .row:after { content: ""; display: block; clear: both; }
.searchView .row .row_group_2 { width: 50%; float: left; }
.searchView .row .row_group_2:after { content: ""; display: block; clear:both; }
.searchView .row .row_group_2 .question { width: 50%; float: left; background-color: #f9f9f9; text-align: center; padding: 15px 0; font-weight: bold; font-size: 15px;}
.searchView .row .row_group_2 .answer { width: 50%; float: left; text-align: center; padding: 15px 0; font-size: 15px;}
.searchView .row .row_group_1 { width: 100%; }
.searchView .row .row_group_1:after { content: ""; display: block; clear:both; }
.searchView .row .row_group_1 .question { width: 25%; height: 100%;	 text-align: center; background-color: #f9f9f9; float: left; padding: 15px 0; font-weight: bold; font-size: 15px;}
.searchView .row .row_group_1 .answer { width: 75%; text-align: center; float: left; padding: 15px 0;}

.search .search.mb50 { margin-bottom: 100px; }
.search .list.mt50 { margin-top: 50px; }

/* ------------ 위치정보 -------------- */
.mapInfo { margin:0 0 50px ; }
.mapInfo .searchTitle { font-size: 22px;  font-weight: bold; box-sizing: border-box; padding-left: 10px; padding-bottom: 30px;}
.mapInfo .mapArea { width: 100%; height: 450px;	border:1px solid #ccc; box-sizing: border-box; background: url(../images/map.png) no-repeat 0 0;}


/* loanresult 에 나의 상품목록 */
/*.loanresult .search { margin-bottom: 50px; }
.loanresult .search .conBox .checkBox { text-align: center; padding: 0 0 10px; height: 34px; box-sizing:border-box; color: #777;  font-size: 14px;}
.loanresult .search .conBox .checkBox input[type=radio] { position: relative; top: 2px; }
.loanresult .search .conBox ul li .product { height: 72%; }*/

/* ------------ product Popup  -------------- */
.productPopup { position: absolute; left: 0; top: 0; bottom: 0; right: 0; width: 100%; height: 100%; background-color:rgba(0,0,0,.8); z-index: 9999; display: none;}
.productPopup.on { display: block; }
.productPopup .wrap { width: 960px; position: absolute; left:50%; top: 100px; background-color: #fff; border-radius: 5px; margin-left: -480px; box-sizing: border-box; overflow: hidden; padding: 10px;}
.productPopup .wrap h3 { width: 100%; height: 50px;margin: 0; text-align: center; line-height: 50px; background-color: #4874e8; color: #fff; letter-spacing: 1px;}
.productPopup .popupNavi { padding: 10px 0; }
.productPopup .popupNavi::after { content:""; display: block; clear: both; }
.productPopup .popupNavi > div { width: 25%; float: left; text-align: center; height: 40px; line-height: 40px; background-color: #f8f8f8; font-size: 14px; color: #555; cursor: pointer;}
.productPopup .popupNavi > div.on { background-color: #4874e8; color: #fff; }
.productPopup .popupNaviM { display: none; }
.productPopup .stateBar { width: 100%; height: 40px; border:1px solid #ccc; box-sizing: border-box; padding: 0 10px; line-height: 40px; font-weight: bold; color: #777; font-size: 14px;}
.productPopup .stateBar span { color: #4874e8; }
.productPopup .stateBar .listAlign { float: right; }

@media only screen and (min-width: 930px) {
	.productPopup .search .conBox { width: 900px; margin: 0 auto; overflow: inherit; }
}
@media only screen  and (min-width: 600px) and (max-width: 899px) {
	.productPopup .search .conBox {overflow: initial;}
}
@media only screen and (max-width: 599px) {
	.productPopup .search .conBox {overflow: initial;}
}


.productPopup .productWrap { padding-top: 30px; padding-bottom: 40px; }
.productPopup .productWrap::after {content:""; display: block; clear: both;}
.productPopup .productWrap .productContent { width: 33.3333%; height: 190px; float: left; box-sizing: border-box; padding: 5px; }
.productPopup .productWrap .product { width: 100%; height:100%; border:1px solid #eee; border-radius: 10px; display: block; position: relative; box-sizing: border-box; box-shadow: 5px 5px 10px 0 rgba(0,0,0,.5);}
.productPopup .productWrap .product > div { float: left; display: block; box-sizing: border-box;}
.productPopup .productWrap .product .introTd { width: 50px; height: 50px; background-color: #4874e8; position: absolute; left: 30px; top: 0; color: #fff; text-align: center; font-size: 12px; border-radius: 0 0 10px 10px; box-sizing: border-box; padding-top: 5px;}
.productPopup .productWrap .product .gradeTd { position: absolute; right: 120px; top: 2px; text-align: center; font-size: 14px; font-weight: bold; color: #555;}
.productPopup .productWrap .product .gradeTd .star { display: block; background:url(../images/star2.png) no-repeat 0 0; width: 30px; height: 30px; background-size: 30px;}
.productPopup .productWrap .product .companyTd {float: right; font-weight: bold; width: 120px; text-align: center; padding-top: 7px;}
.productPopup .productWrap .product .companyTd div { color: #777; font-size: 12px; }
.productPopup .productWrap .product .nameTd { float:none; padding-top: 60px; text-align: center; color: #4874e8; font-size: 20px; font-weight: bold;}
.productPopup .productWrap .product .nameTd::after {content:""; display: block; width: 80%; border-bottom: 1px solid #ccc; margin: 10px auto 0; }
.productPopup .productWrap .product .limitTd { width: 50%; text-align: center; padding-top: 10px;}
.productPopup .productWrap .product .limitTd .pLimit { color: #4874e8; font-weight: bold; font-size: 20px; }
.productPopup .productWrap .product .limitTd span { font-size: 14px; font-weight: bold; color: #777; }
.productPopup .productWrap .product .rateTd { width: 50%; text-align: center; padding-top: 10px;}
.productPopup .productWrap .product .rateTd span { font-size: 14px font-weight: bold; color: #777; }
.productPopup .productWrap .product .rateTd .pRate { font-size: 14px; font-weight: bold ; color: #777;}
.productPopup .productWrap .product .rateTd .pRate b { color: #4874e8; font-size: 20px; }
.productPopup .btnArea { text-align: center; padding-bottom: 30px; }
.productPopup .btnArea button { width: 150px; height: 40px;  background-color: #4874e8; border:0; border-radius: 5px; color: #fff; cursor: pointer;}
/* ------------ //product Popup  -------------- */


/* ---------- search 공통 광고 180828 배다빈 추가 ---------- */
.listAd { background-color: #f8f8f8; }
.listAd .contentWrap h2 { color: #222; font-size: 22px; padding-top: 25px; }
/* ---------- //search 공통 광고 180828 배다빈 추가 ---------- */

/* ---------- searchProduct 전체 레이아웃 변경 180829 배다빈 추가 ---------- */
.search .fullTitle { width: 100%;text-align: center; background-color: #486be2; color: #fff; font-size: 22px; line-height: 55px; letter-spacing: 1px;}
.search .contentWrap .searchStats {width: 100%;	 border:1px solid #ddd; box-sizing: border-box; margin: 10px 0 20px;}
.search .contentWrap .searchStats ul::after { content: ""; display: block; clear: both; }
.search .contentWrap .searchStats ul li { float:left; width: 25%; height: 290px;	 }
.search .contentWrap .searchStats ul li .ssTitle { text-align: center; font-size: 18px; color: #222; font-weight: bold; padding: 20px 0 10px;}
.search .contentWrap .searchStats ul li .ssStats { width: 100%;	 text-align: center; color: #4874e8;	font-size: 18px; }
.search .contentWrap .searchStats ul li .ssStats b { color: #4874e8; font-size: 80px; font-weight: 400; padding: 20px 0 30px; display: inline-block;	}
.search .contentWrap .searchStats ul li .ssStats img { width: 185px;	 }
.search .contentWrap .searchStats ul li .ssStats .wid170 { width: 170px;	 }
.search .contentWrap .searchStats ul li .ssDesc { text-align: center; font-size: 15px; color: #777; font-weight: bold; }

.search .contentWrap .searchWrap::after {content: ""; display: block; clear: both;}
.search .contentWrap .searchWrap .searchList { float:left; width: calc( 100% - 360px ); }
.search .contentWrap .searchWrap .searchAside { float: right; width: 360px;	box-sizing: border-box; padding-left: 20px;}

.search .searchWrap .searchAside .searchBox { width: 100%;	 height: auto; background-color: #f0f0f0;	}
.search .searchWrap .searchAside .searchBox ul li { margin-bottom: 5px; }
.search .searchWrap .searchAside .searchBox .scrollWrap { overflow: hidden;	}
.search .searchWrap .searchAside .searchBox .scrollWrap.active { display: block;	 }
.search .searchWrap .searchAside .searchBox .scrollWrap > ul {   }
.search .searchWrap .searchAside .searchBar { width: 100%;	box-sizing: border-box; padding:15px 10px;	background-color: #fff;}
.search .searchWrap .searchAside .searchBar fieldset { overflow: hidden;	height: 100%;	background-color: #4874e8; }
.search .searchWrap .searchAside .searchBar legend { position: absolute;	 left: -9999px; top: -9999px; }
.search .searchWrap .searchAside .searchBar input { border:0; display: block; float: left; width: 80%;	 height:30px; box-sizing: border-box; padding: 2px 12px; color: #555; background-color: #fff; -webkit-appearance: none; -webkit-border-radius: 0; border-top:2px solid #4874e8; border-bottom: 2px solid #4874e8; border-left: 2px solid #4874e8;}
.search .searchWrap .searchAside .searchBar button { border:0; background-color: #4874e8; float: right; height: 30px;	 width: 20%; display: block; color: #fff; line-height: 30px; cursor: pointer;}

.search .searchWrap .searchAside .filterBar { width: 100%;	box-sizing: border-box; padding:10px 10px;	background-color: #fff;}
.search .searchWrap .searchAside .filterBar .fTitle { font-size: 14px; font-weight: bold; color: #555; box-sizing: border-box; padding-left: 5px; margin-bottom: 5px;}
.search .searchWrap .searchAside .filterBar .fTitle .tip { display: inline-block; width: auto; height: auto; padding-left: 5px; cursor: pointer;}
.search .searchWrap .searchAside .filterBar .fTitle .tip i { padding-left: 5px; position: relative;}
.search .searchWrap .searchAside .filterBar .tipDesc { visibility: hidden; position: absolute; width: 230px;  background-color: #4874e8; padding: 10px 5px; border-radius: 6px; z-index: 1; opacity: 0; transition: opacity .6s; text-align: center; top: -10px; left: 20px;}
.search .searchWrap .searchAside .filterBar .tipBtn:hover .tipDesc { visibility: visible; opacity: 1;}
.search .searchWrap .searchAside .filterBar .tipBtn:hover .tipDesc a { color: #fff; font-size: 12px;}

.search .searchWrap .searchAside .filterBar .fTitle b.desc { color: #ff6600; display: inline-block;	 padding-left: 10px; }
.search .searchWrap .searchAside .filterBar .filterTab {  }
.search .searchWrap .searchAside .filterBar .filterTab::after { content: ""; display: block; clear: both; }
.search .searchWrap .searchAside .filterBar .filterTab .fCate { width: 25%; float:left; padding: 10px; box-sizing: border-box; }
.search .searchWrap .searchAside .filterBar .filterTab .fCate > div { width: 65px; height: 65px; border-radius: 50%; margin: 0 auto; background-color: #ddd; cursor: pointer;}
.search .searchWrap .searchAside .filterBar .filterTab .fCate > .pro_1 { background-color: #2f7ffc; }
.search .searchWrap .searchAside .filterBar .filterTab .fCate > .pro_2 { background-color: #509afc; }
.search .searchWrap .searchAside .filterBar .filterTab .fCate > .pro_3 { background-color: #4bb9e6; }
.search .searchWrap .searchAside .filterBar .filterTab .fCate > .reg_1 { background-color: #4874e8; }
.search .searchWrap .searchAside .filterBar .filterTab .fCate > div > span {display: block; width: 100%; height: 100%; text-align: center; color: #fff; font-size: 11px; box-sizing: border-box; padding-top: 40px; font-weight: 300; }
.search .searchWrap .searchAside .filterBar .filterTab .fCate > .pro_1 .i_product { background: url(../images/product_1_1.png) no-repeat 18px 12px; background-size: 28px;}
.search .searchWrap .searchAside .filterBar .filterTab .fCate > .pro_2 .i_product { background: url(../images/product_2_1.png) no-repeat 18px 12px; background-size: 28px; }
.search .searchWrap .searchAside .filterBar .filterTab .fCate > .pro_3 .i_product { background: url(../images/product_3_1.png) no-repeat 15px 10px; background-size: 36px; }
.search .searchWrap .searchAside .filterBar .filterTab .fCate > .reg_1 .i_register { background: url(../images/m_icon_1.png) no-repeat 22px 12px; background-size: 26px; }
.search .searchWrap .searchAside .filterBar .filterSelect select { width: 100%; display: none; border:1px solid #ddd; border-radius: 5px; height:38px ; line-height: 38px; box-sizing: border-box; padding-left: 10px;}
.search .searchWrap .searchAside .filterBar .filterSelect select.active { display: block; }

.search .searchWrap .searchAside .filterBar .filterTab > li { float:left; width: 25%; }
.search .searchWrap .searchAside .filterBar .filterTab > li > div { text-align: center;border:1px solid #ddd; font-size: 13px; color: #777; padding: 5px 0; transition: all .5s; cursor: pointer;}
.search .searchWrap .searchAside .filterBar .filterTab > li > div.active { background-color: #4874e8; color: #fff; }
.search .searchWrap .searchAside .filterBar .filterTab > li > div.br0 { border-right: 0;	 }
.search .searchWrap .searchAside .filterBar .fInput { overflow: hidden; padding-bottom: 5px;	 }
.search .searchWrap .searchAside .filterBar .fInput input { width: 85%;height: 34px;		float:left; box-sizing: border-box; border:1px solid #ddd; text-align: right; padding: 0 10px; color: #555;}
.search .searchWrap .searchAside .filterBar .fInput .addon { width: 15%;	height: 34px;	 float:left; box-sizing: border-box; background-color: #eee; text-align: center; font-size: 14px; line-height: 34px; color: #333;}
.search .searchWrap .searchAside .filterBar .filterTab > li i { font-size: 14px; }
.search .searchWrap .searchAside .filterBar .rangeBox { box-sizing: border-box; padding: 25px 20px; margin-bottom: 10px; }

.search .searchWrap .searchAside .searchBox .filterBtn { width: 100%; height: 35px; background-color: #fff; text-align: center; margin:5px 0 0; font-size: 14px; line-height: 35px; color: #555; cursor:pointer;display: none;}
/* ---------- //searchProduct 전체 레이아웃 변경 180829 배다빈 추가 ---------- */

.search .filterBar .back-bar .pointer-label { display: none; }
@media only screen and (min-width: 960px) and (max-width: 1200px) {

	.search .contentWrap { width: 100%; }

	/* ------------ search map -------------- */
	.searchMap .mapBox .listBox { width: 300px; }
	.searchMap .mapBox .mapArea { width: calc(100% - 300px);  width:-webkit-calc(100% - 300px);  width:-moz- calc(100% - 300px); }
	.searchMap .mapBox .listBox ul li .mSpot span { font-size: 20px; padding-top: 20px;}
	.searchMap .mapBox .listBox ul li .mDesc { padding-top: 15px; }
	.searchMap .mapBox .listBox ul li .mTitle { font-size: 16px; }
	.searchMap .mapBox .listBox ul li .mAddress { font-size: 13px; }

	/* ---------- searchProduct.html 180830 배다빈 추가 ---------- */
	.search .fullTitle { font-size:20px; }
	.search .searchWrap .searchList .conBox { width: 560px; margin: 0 auto;  transition: all .5s;}
	/* ---------- //searchProduct.html 180830 배다빈 추가 ---------- */

	/* ---------- searchCompany 전체 레이아웃 추가변경 180830 배다빈 추가 ---------- */
	.searchCompany .contentWrap .conBox { width: 100%;}
	.searchCompany .contentWrap .conBox ul li { width: 33.3333%; padding: 10px 20px;}
	/* ---------- //searchCompany 전체 레이아웃 추가변경 180830 배다빈 추가 ---------- */


}

@media only screen and (min-width: 768px) and (max-width: 959px) {

	.search .contentWrap { width: 100%; }

	/* ------------ search map -------------- */
	.searchMap .mapBox .mapArea { width: calc(100% - 300px);  width:-webkit-calc(100% - 300px);  width:-moz- calc(100% - 300px); }


	.searchMap .mapBox .listBox ul li .mSpot span { font-size: 20px; padding-top: 20px;}
	.searchMap .mapBox .listBox ul li .mDesc { padding-top: 15px; }
	.searchMap .mapBox .listBox ul li .mTitle { font-size: 16px; }
	.searchMap .mapBox .listBox ul li .mAddress { font-size: 13px; }

	/* search View 업체상세페이지 */
	.searchView .row { font-size: 14px; }

	/* search Navi */
	.search .searchNavi ul li { width: 25%; }
	.search .searchNavi ul li a { font-size: 14px;}


	/* product Popup */
	.productPopup .wrap { width: 100%; margin-left: 0; left: 0; }

	/* ---------- searchProduct.html 180830 배다빈 추가 ---------- */
	.search .fullTitle { font-size:20px; }
	.search .contentWrap .searchStats ul li { height: 246px; }
	.search .contentWrap .searchStats ul li .ssTitle { font-size: 16px; }
	.search .contentWrap .searchStats ul li .ssStats b { font-size: 60px; }
	.search .contentWrap .searchStats ul li .ssDesc { font-size: 14px; }
	.search .contentWrap .searchStats ul li .ssStats .wid170 { width: 144px; }
	.search .contentWrap .searchStats ul li .ssStats img { width: 155px; }

	.search .contentWrap .searchWrap .searchAside { float: none; width: 100%; padding-left: 0; }
	.search .searchWrap .searchAside .searchBar { padding: 0px 200px 20px;}
	.search .searchWrap .searchAside .filterBar .slider-container { width: 100%; margin: 0 auto; }
	.search .searchWrap .searchAside .searchBox .filterBtn { display: block; }
	.search .searchWrap .searchAside .searchBox .scrollWrap { display: none; }
	.search .contentWrap .searchWrap .searchList { float:none; width: 100%;  }
	.search .searchWrap .searchList .conBox { width: 100%; }
	.search .searchWrap .searchList .conBox ul li { width: 50%; padding: 10px 30px;}


	/* ---------- //searchProduct.html 180830 배다빈 추가 ---------- */

	/* ---------- searchCompany 전체 레이아웃 추가변경 180830 배다빈 추가 ---------- */
	.search .contentWrap .companyStats ul li {height: 300px;}
	.search .contentWrap .companyStats ul li .csTitle {  font-size: 16px; padding: 10px 0 20px; }
	.search .contentWrap .companyStats ul li .csStats b { font-size: 60px; padding: 20px 0 48px; }
	.search .contentWrap .companyStats ul li .csStats img { width: 165px; }
	.search .contentWrap .companyStats ul li .csStats .w140 { width: 115px; }
	.search .contentWrap .companyStats ul li .csDesc { font-size: 16px; }

	.searchCompany .contentWrap .conBox { width: 100%;}
	.searchCompany .contentWrap .conBox ul li { width: 50%; padding: 10px 30px;}


	/* ---------- //searchCompany 전체 레이아웃 추가변경 180830 배다빈 추가 ---------- */

}

@media only screen and (max-width: 767px) {

	.search .bgWrap { height: 50px; }

	.search .conBox ul li {width: 100%;}

	.search .contentWrap{width:100%;}
    .search .conBox table{width:100%;}
    .search .conBox table .pTitle{font-size:14px;}
    .search .conBox table td{font-size:10px;}
    .search .conBox table .pLimit{font-size:14px;}
    .search .conBox table .pRate{font-size:14px;}
    .search .conBox table .pGrade{width:45px;font-size:13px;padding-left:20px}
    .search .conBox table .pGrade .star{background-position:center left;left:1px;}
    .search .conBox table .pDesc div{width:50%;height:30px;line-height:30px;margin-left:25%;}
    .search .conBox table .pDesc { width: 90%; margin-left:5%;}
    .search .conBox table td{height:110px;}
    tr.none{display:none;}

    tr.bt td{border-top:1px solid #ccc;}

	/* search View 업체상세페이지 */
	.searchView { border-bottom: 1px solid #e1e1e1; }
	.searchView .searchTitle {  padding-bottom:20px; }
	.searchView .row { border:0; }
	.searchVIew .row  { border:0; }
	.searchView .row .row_group_2 { width: 100%; float: left;  border-bottom: 1px solid #e1e1e1;}
	.searchView .row .row_group_2 .question { font-size: 11px; }
	.searchView .row .row_group_2 .answer { font-size: 11px; }
	.searchView .row .row_group_1 .question { width: 50%; font-size: 11px; height: 50px; line-height: 50px;}
	.searchView .row .row_group_1 .answer { width: 50%;	font-size: 11px; height: 50px;}

	/* ------------ search map -------------- */
	.searchMap { padding-top: 50px; }

	.searchMap .mapBox .listBox { width: 100%; position: fixed; right: -100%; top: 50px; transition: all .5s;}
	.searchMap .mapBox .mapArea { width: 100%;  }

	.searchMap .mapBox .mapArea .searchBox { position: inherit; width: 100%; padding: 5px 10px; left:0; top: 0; box-sizing: border-box; min-width: 320px;} /*의뢰인 수정*/ 
	.searchMap .mapBox .mapArea .searchBox .scrollWrap { height: 1px;	 }
	.searchMap .mapArea .searchBox .scrollWrap.active { height: 400px; }
	.searchMap .mapBox .mapArea .filterBar .filterTab .fCate { padding: 5px; }
	.searchMap .mapBox .mapArea .filterBar .filterTab .fCate > div { width: 55px; height: 55px;	 }
	.searchMap .mapBox .mapArea .filterBar .filterTab .fCate > div > span { padding-top: 32px; }
	.searchMap .mapBox .mapArea .filterBar .filterTab .fCate > .pro_1 .i_product { background: url(../images/product_1_1.png) no-repeat 17px 10px; background-size: 22px;}
	.searchMap .mapBox .mapArea .filterBar .filterTab .fCate > .pro_2 .i_product { background: url(../images/product_2_1.png) no-repeat 17px 11px; background-size: 22px; }
	.searchMap .mapBox .mapArea .filterBar .filterTab .fCate > .pro_3 .i_product { background: url(../images/product_3_1.png) no-repeat 13px 8px; background-size: 30px; }
	.searchMap .mapBox .mapArea .filterBar .filterTab .fCate > .reg_1 .i_register { background: url(../images/m_icon_1.png) no-repeat 20px 10px; background-size: 20px; }
	.searchMap .mapBox .mapArea .filterBar .fTitle { font-size: 14px; }
	.searchMap .mapBox .mapArea .filterBar .filterTab > li > div { font-size: 11px; }
	.searchMap .mapBox .mapArea .filterBar .filterSelect select { height: 30px;	line-height: 30px; font-size: 14px; margin: 5px 0;}
	.searchMap .mapBox .mapArea .filterBar .filterTab > li i { font-size: 12px; }


	.searchMap .mapBox .mapArea .searchBox input { font-size: 11px; height: 36px; }
	.searchMap .mapBox .mapArea .searchBox button { font-size: 12px; height: 36px; }

	.searchMap .mapBox .listBox ul li.backBtn { display: block;float:none;	 height: 40px; border:0; padding: 0;}
	.searchMap .mapBox .listBox ul li.backBtn button { border:0; background-color:transparent; width: 20%; height: 100%;display: inline-block; cursor: pointer;}
	.searchMap .mapBox .listBox ul li.backBtn button img {position: relative; top: 2px;}

	.searchMap .mapBox .listBox ul li .mSpot span { font-size: 20px; padding-top: 20px;}
	.searchMap .mapBox .listBox ul li .mDesc { padding-top: 15px; }
	.searchMap .mapBox .listBox ul li .mTitle { font-size: 16px; }
	.searchMap .mapBox .listBox ul li .mAddress { font-size: 13px; }

	.searchMap .mapBox .listBtn { display: block; position: fixed; bottom: 0; left: 0; background-color: #4874e8; width: 100%; height: 45px;}
	.searchMap .mapBox .listBtn button { width: 100%; height: 100%;	border:0;  color: #fff; cursor: pointer; font-size: 14px;  background-color: transparent; line-height: 40px;}
	.searchMap .mapBox .listBtn button span { font-weight: bold; font-size: 18px; display: inline-block; padding: 0 4px; position: relative; top: 2px;	}

	/* search Navi */
	.search .searchNavi { display: none; }

	.search .searchNaviM { display: block; width: 95%; margin: 0 auto 20px;}
	.search .searchNaviM select { width: 100%; height: 50px; border:1px solid #ccc; border-radius: 5px; box-sizing: border-box; padding-left: 10px; color: #555;}

	/* product Popup */
	.productPopup .wrap { width: 100%; margin-left: 0; left: 0; min-width: 320px;}
	.productPopup .popupNavi { display: none; }
	.productPopup .popupNaviM { display: block; width: 100%; padding: 10px 0;}
	.productPopup .popupNaviM select { width: 100%; border:1px solid #ccc; border-radius: 5px; height: 40px;}
	.productPopup .stateBar { font-size: 12px; }
	.productPopup .stateBar .listAlign { font-size: 11px; }
	.productPopup .productWrap .productContent { width: 50%; }

	/* ---------- searchProduct.html 180830 배다빈 추가 ---------- */
	.search .fullTitle { font-size:18px; }
	.search .contentWrap .searchStats ul li { width: 50%; height: 177px; }
	.search .contentWrap .searchStats ul li .ssTitle { font-size: 14px; padding: 10px 0 5px; }
	.search .contentWrap .searchStats ul li .ssStats b { font-size: 50px; padding: 12px 0 20px; }
	.search .contentWrap .searchStats ul li .ssDesc { font-size: 13px; }
	.search .contentWrap .searchStats ul li .ssStats .wid170 { width: 112px; }
	.search .contentWrap .searchStats ul li .ssStats img { width: 123px; }

	.search .contentWrap .searchWrap .searchAside { float: none; width: 100%; padding-left: 0; }
	.search .searchWrap .searchAside .searchBar {}
	.search .searchWrap .searchAside .searchBox .filterBtn { display: block; }
	.search .searchWrap .searchAside .searchBox .scrollWrap {height: 1px; overflow: hidden; }
	.search .searchWrap .searchAside .searchBox .scrollWrap.active { height: auto; }
	.search .searchWrap .searchAside .filterBar { padding: 10px 0; }
	.search .searchWrap .searchAside .filterBar .slider-container { width: 100%; margin: 0 auto; }
	.search .contentWrap .searchWrap .searchList { float:none; width: 100%;  }

	/* ---------- //searchProduct.html 180830 배다빈 추가 ---------- */

	/* ---------- searchCompany 전체 레이아웃 추가변경 180830 배다빈 추가 ---------- */
	.search .contentWrap .companyStats ul li {height: 240px; width: 50%;}
	.search .contentWrap .companyStats ul li .csTitle {  font-size: 14px; padding: 10px 0 10px; }
	.search .contentWrap .companyStats ul li .csStats b { font-size: 50px; padding: 20px 0 30px; }
	.search .contentWrap .companyStats ul li .csStats img { width: 130px; }
	.search .contentWrap .companyStats ul li .csStats .w140 { width: 100px; }
	.search .contentWrap .companyStats ul li .csDesc { font-size: 14px; }

	.searchCompany .contentWrap .conBox { width: 100%;}
	.searchCompany .contentWrap .conBox ul li { width: 100%; padding: 10px ; float: none;}


	/* ---------- //searchCompany 전체 레이아웃 추가변경 180830 배다빈 추가 ---------- */

	.searchMap .mapArea .filterBar .mobileRange { width: 90%; margin: 0 auto; }
	.search .searchWrap .searchAside .filterBar .mobileRange {width: 90%; margin: 0 auto;}

}


@media only screen and (max-width: 450px) {
    .search .conBox table .pTitle{font-size:10px;}
    .search .conBox table td{font-size:7px;}
    .search .conBox table .pLimit{font-size:10px;}
    .search .conBox table .pRate{font-size:10px;}
    .search .conBox table .pGrade{height:15px;line-height:15px;width:30px;font-size:10px;padding-left:10px;}
    .search .conBox table .pGrade .star{width:10px;height:9px;top:3px;}
}

@media only screen and (max-width: 359px) {

	.search .contentWrap .pager { width: 100%; }
	.search .contentWrap .pager ul { width: 100%;	text-align: center;	 }
	.search .contentWrap .pager ul li {margin: 0; width: 8.33%; }
	.search .contentWrap .pager ul li a { box-sizing: border-box; }
}

/* 업체별 검색  창크기별 레이아웃 변경 */
@media only screen and (min-width: 900px) and ( max-width: 1200px) {
	.search .conBox { width: 900px; margin: 0 auto; }
}

@media only screen and (min-width: 600px) and ( max-width: 899px) {
	.search .conBox { width: 600px; margin: 0 auto; }
}

@media only screen and ( max-width: 599px) {
	.search .conBox { width: 100%; margin: 0 auto; }

	.productPopup .productWrap .productContent { width: 100%; float:none; margin-bottom: 20px; }
}
