/* ------------ search common -------------- */

.search h2 { text-align: center; color: #fff; font-size: 30px; font-weight: 300; transition: all .5s;}
.search .contentWrap { width: 1200px; margin: 0 auto;  padding-bottom: 60px;}
.search .contentWrap.pb0 { padding-bottom: 0; }
/*.search .contentWrap h3 { text-align: center; padding:10px 0;  font-size: 22px; color: #fff;  position: relative; line-height: 33px; background-color: #4874e8;}*/
.search .contentWrap h3 {  text-align: center; padding: 10px 0; font-size: 22px; color: #4874e8;
    margin-bottom: 20px;}
.search .contentWrap h3::after {content: ""; display: block; clear: both;}
.search .contentWrap h3 span { color: #4874e8; display: inline-block; margin-right: 5px;}
.search .contentWrap h3 .listViewTitle { display: block; text-align: left; color: #333; box-sizing: border-box; padding-left: 20px; float: left; font-size: 20px;}
.search .contentWrap h3 strong { color: #4874e8; }
.search .contentWrap h3 .listAlign { float: right; font-size: 14px; padding-right: 30px;}
.search .contentWrap h3.bgc-4874e8 { background-color: #4874e8; color: #fff; border:0; margin: 0; position: relative;}

/* ------------ search product -------------- */
.search .productBox {width: 100%; }
.search .productBox table { width: 100%; text-align: center; border:0; border-spacing: 0; }
.search .productBox table tr { transition: all .5s; }
.search .productBox table tr:hover { background-color: #f1f1f1; }
.search .productBox table tr:first-child:hover { background: none; }
.search .productBox table th { height: 30px;  font-size: 14px; color: #555; font-weight: 400; border-bottom:1px solid #ccc; box-sizing: border-box; line-height: 26px; }
.search .productBox table td { height: 100px; font-size: 14px; border-bottom: 1px solid #ccc; box-sizing: border-box; color: #555; }
.search .productBox table .pCate { font-weight: bold; font-size: 18px; color: #222;}
.search .productBox table .pCate span { font-size: 14px; color: #999; display: block; font-weight: 400;}
.search .productBox table .pTitle { font-weight: bold; font-size: 22px;  color: #555;}
.search .productBox table .pAddress { color: #777; }
.search .productBox table .pGrade { font-weight: bold; color: #222; font-size: 16px;}
.search .productBox table .pGrade .star { display: block; background: url(../images/star2.png) no-repeat 0 0; background-size: cover; width: 35px; height: 35px; margin: 0 auto; }
.search .productBox table td > span { color: #777; }
.search .productBox table .pLimit { font-size: 22px; color: #4874e8; font-weight: bold; }
.search .productBox table .pRate { font-size: 22px; color: #4874e8; font-weight: bold; }
.search .productBox table .pDesc { width: 100%; margin: 0 auto; box-sizing: border-box; padding: 0 30px;}
.search .productBox table .pDesc:after { content: ""; display: block; clear:both; }
.search .productBox table .pDesc .pDescBox { width: 50%; float: left; box-sizing: border-box; padding: 0 10px; }
.search .productBox table .pDesc .pDescBox div { width: 100%; height: 70px; border-radius: 5px;}/*
.search .productBox table .pDesc .pDescBox .pPhone { background:url(../images/resultCall.png) no-repeat 34px 7px; background-size: 30px; }
.search .productBox table .pDesc .pDescBox .pMsg { background:url(../images/resultCheck.png) no-repeat 33px 7px; background-size: 30px;}*/
.search .productBox table .pDesc .pDescBox div a { display: block; width: 100%; height: 100%; color: #777;  font-size: 14px;}
.search .productBox table .pDesc .pDescBox div a img { width: 30px;display: block; margin: 14px auto 8px; }
.search .productBox table .pDesc .mr0 { margin-right: 0; }

.search .contentWrap .pager { text-align: center;	padding-top: 50px; }
.search .contentWrap .pager ul { overflow: hidden; display: inline-block;	}
.search .contentWrap .pager ul li { height: 35px; display: block; float: left; text-align: center; margin: 0 5px;}
.search .contentWrap .pager ul li a { font-size: 14px; display: block; width: 100%; height: 100%; line-height: 35px; color:#4874e8;padding: 0 6px; transition: all .5s; outline:0; text-align: center;	}
.search .contentWrap .pager ul li a:hover { color: #fff; background-color: #8fbff4; }
.search .contentWrap .pager ul li a.active { font-weight: bold; color: #fff; background-color: #4874e8;}
.search .contentWrap .pager .prev a { color: #777; }
.search .contentWrap .pager .next a { color: #777; }

/* ------------ search View -------------- */
.searchView .searchTitle { font-size: 22px;  font-weight: bold; box-sizing: border-box; padding-left: 10px; padding-bottom: 30px;}
.searchView .row.bt { border-top: 1px solid #ccc; }
.searchView .row { border-bottom: 1px solid #ccc ; }
.searchView .row:after { content: ""; display: block; clear: both; }
.searchView .row .row_group_2 { width: 50%; float: left; }
.searchView .row .row_group_2:after { content: ""; display: block; clear:both; }
.searchView .row .row_group_2 .question { width: 50%; float: left; background-color: #f8f8f8; text-align: center; padding: 15px 0; font-weight: bold; font-size: 15px;}
.searchView .row .row_group_2 .answer { width: 50%; float: left; text-align: center; padding: 15px 0; font-size: 15px;}
.searchView .row .row_group_1 { width: 100%; }
.searchView .row .row_group_1:after { content: ""; display: block; clear:both; }
.searchView .row .row_group_1 .question { width: 25%; height: 100%;	 text-align: center; background-color: #f9f9f9; float: left; padding: 15px 0; font-weight: bold; font-size: 15px;}
.searchView .row .row_group_1 .answer { width: 75%; text-align: center; float: left; padding: 15px 0;}

/* search View 하단 전화상담 버튼 */
.search .btnArea { text-align: center;/* padding-bottom: 50px; */ padding-top: 50px;}
.search .btnArea button { width: 200px; height: 40px; background-color: #4874e8; border:0; border-radius: 5px;  color: #fff; font-weight:bold; cursor: pointer;}

/* ------------ 위치정보 -------------- */
.mapInfo { margin: 0 0 50px ; }
.mapInfo .searchTitle { font-size: 22px;  font-weight: bold; box-sizing: border-box; padding-left: 10px; padding-bottom: 30px;}
.mapInfo .mapArea { width: 100%; height: 450px;	border:1px solid #ccc; box-sizing: border-box; background: url(../images/map.png) no-repeat 0 0;}








.search .conBox ul li .res_1 .resCate { background-color: #2f7ffc; }
.search .conBox ul li .res_2 .resCate { background-color: #509afc; }
.search .conBox ul li .res_3 .resCate { background-color: #4bb9e6; }
.search .conBox ul li .res_1 .resLimit {color:#2f7ffc; }
.search .conBox ul li .res_2 .resLimit {color:#509afc; }
.search .conBox ul li .res_3 .resLimit {color:#4bb9e6; }
.search .conBox ul li .res_1 .resBtn > div button { background-color: #2f7ffc; }
.search .conBox ul li .res_2 .resBtn > div button { background-color: #509afc; }
.search .conBox ul li .res_3 .resBtn > div button { background-color: #4bb9e6; }


/* ------- product View (productMore -> productView 변경) 180824 배다빈 추가 ------- */
.productView {  }
.productView .contentWrap h3 { background-color: #4874e8; color: #fff; margin-bottom: 50px;}
.productView .proViewTop::after { content:""; display: block; clear: both; }
.productView .proViewTop .conBoxWrap { width: 40%; min-width: 330px; height: 330px; float: left; }
.productView .proViewTop .conBoxWrap .conBox {  position: relative; left: 118px; top: -10px;	}
.productView .proViewTop .conBoxWrap .conBox ul { padding-top: 0; padding-bottom: 20px;}
.productView .proViewTop .conIntro { width: 50%;height: 330px; float: left; box-sizing: border-box; } /*의뢰인 수정 가로비율 */

.productView .proViewTop .conIntro .row::after {content:""; display: block; clear: both;}
.productView .proViewTop .conIntro .row .question { width: 100px; float: left; text-align: center; line-height: 35px; font-weight: bold; color: #555;}
.productView .proViewTop .conIntro .row .answer { width: 500px; float: left; color: #777; line-height: 35px;}
.productView .proViewTop .conIntro .row .downBox { display: block; float:none; }
.productView .proViewTop .conIntro .row .joinHow { display: block; }
.productView .proViewTop .conIntro .row .joinHow::after {content: ""; display: block; clear: both;}
.productView .proViewTop .conIntro .row .joinHow > li { float: left; width: 100px; height: 90px; display: block;}
.productView .proViewTop .conIntro .row .joinHow > li > div { width: 100%; height: 100%; text-align: center; font-size: 14px; color: #777;}
.productView .proViewTop .conIntro .row .joinHow > li > div > span { width: 40px; height: 40px; display: block; margin: 5px auto 10px;}
.productView .proViewTop .conIntro .row .joinHow > li > div > .i_enter { background: url(../images/enter.png) no-repeat 0 0; background-size: 40px; }
.productView .proViewTop .conIntro .row .joinHow > li > div > .i_visit { background: url(../images/visit.png) no-repeat 0 0; background-size: 40px; }
.productView .proViewTop .conIntro .row .joinHow > li > div > .i_call { background: url(../images/call.png) no-repeat 0 0; background-size: 40px; }
.productView .proViewTop .conIntro .row .joinHow > li > div > .i_app { background: url(../images/app.png) no-repeat 0 0; background-size: 40px; }
.productView .proViewTop .conIntro .row .joinHow > li > div > .i_web { background: url(../images/web.png) no-repeat 0 0; background-size: 40px; }
.productView .proViewTop .conIntro .btnLine {  }
.productView .proViewTop .conIntro .btnLine::after {content:""; display: block; clear: both;}
.productView .proViewTop .conIntro .btnLine > div { float: left; padding: 0 5px;}
.productView .proViewTop .conIntro .btnLine > div button { height: 50px; border:1px solid #ccc; width: 55px; background-color: #fff; cursor: pointer; font-size: 10px; color: #777;} /*의뢰인 수정 - 수정내용 폰트사이즈 조정 + 폰트 컬러 조정*/
.productView .proViewTop .conIntro .btnLine .goCall { width: 300px; height: 50px; background-color: #4874e8; border:0; color: #fff; font-size: 20px; line-height: 48px;}
.productView .proViewTop .conIntro .btnLine .goCall .i_call { background: url(../images/callBtn.png) no-repeat 0 0; width: 25px; height: 25px; background-size: 25px; display: inline-block; position: relative; top: 7px; margin-right:10px;}
.productView .proViewTop .conIntro .btnLine .goShare .i_share { background: url(../images/share.png) no-repeat 2px 4px; width: 25px; height: 28px; background-size: 20px; display: block; margin: 0 auto;}
.productView .proViewTop .conIntro .btnLine .goLike {  color: #777; font-size: 12px; }
.productView .proViewTop .conIntro .btnLine .goLike .i_like { background: url(../images/like.png) no-repeat 2px 6px; width: 25px; height: 28px; background-size: 20px; display: block; margin: 0 auto; }
.productView .proViewTop .conIntro .btnLine .goDown .i_down { background: url(../images/document.png) no-repeat 2px 6px; width: 25px; height: 28px; background-size: 20px; display: block; margin: 0 auto; }
.productView .proViewTop .conIntro .btnLine .goReserve .i_reserve { background: url(../images/reserveBtn2.png) no-repeat 2px 6px; width: 25px; height: 28px; background-size: 20px; display: block; margin: 0 auto; }

.productView .proViewTop .conStats { clear: both;  border-top: 2px solid #eee; padding-top: 10px;  margin-top: 10px; margin-bottom: 20px;}
.productView .proViewTop .conStats::after {content: ""; display: block; clear: both;}

.productView .proViewTop .conStats .conGrade { width: 40%; float: left; overflow: hidden; box-sizing: border-box; padding-right: 20px;}
.productView .proViewTop .conStats .conDate { width: 60%; float: left; }
.productView .proViewTop .conStats .question { line-height: 35px; font-weight: bold; color: #555; }

.productView .proViewTop .conStats .cGrade { width: 100%; overflow: hidden;}
.productView .proViewTop .conStats .gradeBox { float: left; width: 40%; height: 140px; text-align: center; font-size: 30px; padding-top: 40px; box-sizing: border-box; position: relative; }
.productView .proViewTop .conStats .gradeStats { width: 60%; float: left; }
.productView .proViewTop .conStats .gradeBox .star i { font-size: 40px; color: #4874e8; display: inline-block; margin-right: 10px; }

.productView .proViewTop .conStats .gradeTitle { width: 100%; font-size: 16px; color: #555; text-align: center; font-weight: bold; padding-top: 10px; position: absolute; bottom: 0;}
.productView .proViewTop .conStats .gradeStats ul { overflow: hidden; }
.productView .proViewTop .conStats .gradeStats ul li { float: left; width: 20%; height: 140px; position: relative;}
.productView .proViewTop .conStats .gradeStats ul li .gradeValue { width: 20px; margin: 0 auto; height: 100px; position: relative; }
.productView .proViewTop .conStats .gradeStats ul li .gradeValue div { position: absolute; width: 100%; bottom: 0; left: 0; background-color: #4874e8;}
.productView .proViewTop .conStats .gradeStats ul li .gradeValue div.gValue20 { height: 40%; }
.productView .proViewTop .conStats .gradeStats ul li .gradeValue div.gValue30 { height: 60%; }
.productView .proViewTop .conStats .gradeStats ul li .gradeValue div.gValue40 { height: 80%; }

.productView .proViewTop .conStats .conDate .conDateBox ul { overflow: hidden; }
.productView .proViewTop .conStats .conDate .conDateBox ul li { width: 25%; float: left; background-color: #4874e8; text-align: center; color: #fff; font-size: 14px; font-weight: 400; padding-top: 18px; padding-bottom: 28px;}
.productView .proViewTop .conStats .conDate .conDateBox ul li span { font-size: 45px;  font-weight: bold; display: block;}
.productView .proViewTop .conStats .conDate .conDateDesc { text-align: center; font-weight: bold;  color: #555; padding: 5px 0;}

.productView .proViewBottom { border-top: 2px solid #eee;  }
.productView .proViewBottom h4.warning { width: 100%; box-sizing: border-box; border:1px solid #f8585d; background-color: #fff9f9; padding: 10px 20px 12px; color: #f8585d; font-weight: 400;margin-bottom: 50px;} /*의뢰인수정 border사이즈 변경*/
.productView .proViewBottom h4.warning .i_warning { width: 20px; height: 20px; display: inline-block; background: url(../images/warning.png) no-repeat 0 0; background-size: 20px; position: relative; top: 3px; margin-right: 15px; }
.productView .proViewBottom h4.warning strong { font-weight: bold; display: inline-block;margin-right: 20px; }
.productView .proViewBottom .proNavi { border-bottom: 1px solid #eee; }
.productView .proViewBottom .proNavi ul {text-align: center;;}
.productView .proViewBottom .proNavi ul > li { display: inline-block; text-align: center; padding: 10px 20px;  font-weight: bold; color: #777; cursor: pointer;}
.productView .proViewBottom .proNavi ul > li.active { color: #4874e8; }

.productView .proViewBottom .proContent::after { content:""; display: block; clear: both; }
.productView .proViewBottom .proContent .proView { float: left; width:calc( 100% - 320px ); box-sizing: border-box; padding-right: 50px; }
.productView .proViewBottom .proContent .proAside { float: right;  width: 300px;}

.productView .proViewBottom .proContent section { width: 100%; display: none;}
.productView .proViewBottom .proContent section.active { display: block; }
.productView .proViewBottom .proContent section h4 { font-size: 20px; color: #333;}
.productView .proViewBottom .proContent section > ul { border-top: 1px solid #eee; }
.productView .proViewBottom .proContent section > ul > li { border-bottom: 1px solid #eee; box-sizing: border-box; padding: 10px 20px; line-height: 30px;}
.productView .proViewBottom .proContent section > ul > li .question { color: #555; font-weight: bold; }
.productView .proViewBottom .proContent section > ul > li .answer { font-size: 15px; color: #777; }

.productView .proViewBottom .proContent .proComp h4 { overflow: hidden; }
.productView .proViewBottom .proContent .proComp h4 .snsBox { float: right; }
.productView .proViewBottom .proContent .proComp h4 .snsBox ul { border:0; overflow: hidden;}
.productView .proViewBottom .proContent .proComp h4 .snsBox ul li { border:0; float: left; padding: 0 5px; }
.productView .proViewBottom .proContent .proComp h4 .snsBox .i_facebook { background: url(../images/facebook.png) no-repeat 0 0; background-size: 30px; display: block; margin: 0 auto; width: 30px;height: 30px; }
.productView .proViewBottom .proContent .proComp h4 .snsBox .i_blog { background: url(../images/blog.png) no-repeat 0 0; background-size: 30px; display: block; margin: 0 auto; width: 30px;height: 30px; }
.productView .proViewBottom .proContent .proComp h4 .snsBox .i_kakaotalk { background: url(../images/kakaotalk.png) no-repeat 0 0; background-size: 30px; display: block; margin: 0 auto; width: 30px;height: 30px; }
.productView .proViewBottom .proContent .proComp h4 .snsBox .i_kakaostory { background: url(../images/kakaostory.png) no-repeat 0 0; background-size: 30px; display: block; margin: 0 auto; width: 30px;height: 30px; }
.productView .proViewBottom .proContent .proComp h4 .snsBox .i_twitter { background: url(../images/twitter.png) no-repeat 0 0; background-size: 30px; display: block; margin: 0 auto; width: 30px;height: 30px; }
.productView .proViewBottom .proContent .proComp h4 .snsBox .i_band { background: url(../images/band.png) no-repeat 0 0; background-size: 30px; display: block; margin: 0 auto; width: 30px;height: 30px; }
.productView .proViewBottom .proContent .proComp h4 .snsBox .i_youtube { background: url(../images/youtube.png) no-repeat 0 0; background-size: 30px; display: block; margin: 0 auto; width: 30px;height: 30px; }
.productView .proViewBottom .proContent .proComp h4 .snsBox .i_instagram { background: url(../images/instagram.png) no-repeat 0 0; background-size: 30px; display: block; margin: 0 auto; width: 30px;height: 30px; }
.productView .proViewBottom .proContent .proComp > ul {  }
.productView .proViewBottom .proContent .proComp .comGrade {overflow: hidden;}
.productView .proViewBottom .proContent .proComp .gradeBox { float: left; width: 40%; height: 140px; text-align: center; font-size: 40px; padding-top: 40px; box-sizing: border-box; position: relative;}
.productView .proViewBottom .proContent .proComp .gradeStats { float: left; width: 60%; }
.productView .proViewBottom .proContent .proComp .gradeBox .star i { font-size: 40px; color: #4874e8; display: inline-block; margin-right: 10px; }
.productView .proViewBottom .proContent .proComp .gradeTitle { width: 100%; font-size: 16px; color: #555; text-align: center; font-weight: bold; padding-top: 10px; position: absolute; bottom: 0;}
.productView .proViewBottom .proContent .proComp .gradeStats ul { overflow: hidden; }
.productView .proViewBottom .proContent .proComp .gradeStats ul li { float: left; width: 20%; height: 140px; position: relative;}
.productView .proViewBottom .proContent .proComp .gradeStats ul li .gradeValue { width: 20px; margin: 0 auto; height: 100px; position: relative; }
.productView .proViewBottom .proContent .proComp .gradeStats ul li .gradeValue div { position: absolute; width: 100%; bottom: 0; left: 0; background-color: #4874e8;}
.productView .proViewBottom .proContent .proComp .gradeStats ul li .gradeValue div.gValue20 { height: 40%; }
.productView .proViewBottom .proContent .proComp .gradeStats ul li .gradeValue div.gValue30 { height: 60%; }
.productView .proViewBottom .proContent .proComp .gradeStats ul li .gradeValue div.gValue40 { height: 80%; }
.productView .proViewBottom .proContent .proComp .profileWrap { position: relative; }
.productView .proViewBottom .proContent .proComp .profileWrap .profile { position: absolute; right: 0; top: 10px; width: 200px; height: 100%; box-sizing: border-box; padding: 10px;}
.productView .proViewBottom .proContent .proComp .profileWrap .profile img {width: 100%;}
.productView .proViewBottom .proContent .proComp > ul > li > ul > li {font-size: 14px; color: #777;}

.productView .proViewBottom .proContent .proComp .companyMap { width: 100%; height: 400px; background-color: #ddd; }
.productView .proViewBottom .proContent .proComp .reviewBox ul { box-sizing: border-box; padding: 20px 0; }
.productView .proViewBottom .proContent .proComp .reviewBox ul li {width: 100%; height: 200px; border:1px solid #ddd; overflow: hidden; box-sizing: border-box; padding: 10px 20px;}
.productView .proViewBottom .proContent .proComp .reviewBox ul li .rGender { float: left; width: 100px; height: 100px; }
.productView .proViewBottom .proContent .proComp .reviewBox ul li .gFemale {  background: url(../images/female.png) no-repeat 0 0; background-size: 100px; }
.productView .proViewBottom .proContent .proComp .reviewBox ul li .gMale {  background: url(../images/male.png) no-repeat 0 0; background-size: 100px; }
.productView .proViewBottom .proContent .proComp .reviewBox ul li .rGrade { padding-top: 10px; padding-left: 20px; float: left; width: calc( 100% - 120px ); padding-bottom: 10px;}
.productView .proViewBottom .proContent .proComp .reviewBox ul li .rGrade i {font-size: 20px; color: #ffc100; display: inline-block; margin-right:10px;}
.productView .proViewBottom .proContent .proComp .reviewBox ul li .rName { font-size: 24px; font-weight: bold; color: #222; padding-left: 20px; float: left;}
.productView .proViewBottom .proContent .proComp .reviewBox ul li .rDate { font-size:
	14px; color: #777; float: left; line-height: 38px;}
.productView .proViewBottom .proContent .proComp .reviewBox ul li .rDate::after { content:"|"; display: inline-block; margin:0 5px; }
.productView .proViewBottom .proContent .proComp .reviewBox ul li .rDate::before { content: "|"; display: inline-block; margin: 0 5px; }
.productView .proViewBottom .proContent .proComp .reviewBox ul li .rReport { float: left; color: #777; font-size: 14px; line-height: 38px; cursor: pointer;}
.productView .proViewBottom .proContent .proComp .reviewBox ul li .rDesc { clear: both; }
.productView .proViewBottom .proContent .proComp .reviewBox ul li .rDesc p { box-sizing: border-box; width: 100%; height: 100%; padding: 20px 10px; color: #555; }

.productView .proViewBottom .proContent .proCalc ul > li { overflow: hidden; }
.productView .proViewBottom .proContent .proCalc ul > li.p30 { padding-top: 30px; padding-bottom: 30px; }
.productView .proViewBottom .proContent .proCalc ul > li .calcTitle { float: left; width: 15%; text-align: center; font-weight: bold; color: #777; font-size: 14px;}
.productView .proViewBottom .proContent .proCalc ul > li .calcInput { float:left; width: 85%; }
.productView .proViewBottom .proContent .proCalc ul > li .calcInput .inputBox {overflow: hidden;}
.productView .proViewBottom .proContent .proCalc ul > li .calcInput input { float: left;width: 90%; border:1px solid #ddd; height: 40px; box-sizing: border-box; padding: 5px 10px;} /*의뢰인수정 border 사이즈 변경 */
.productView .proViewBottom .proContent .proCalc ul > li .calcInput .addon { float: left; width: 10%; background-color: #eee; height: 40px; box-sizing: border-box; text-align: center; color: #777; line-height: 38px;}
.productView .proViewBottom .proContent .proCalc ul > li .calcInput ul { width: 90%; overflow: hidden; padding-left: 40px; margin-left: -40px;}
.productView .proViewBottom .proContent .proCalc ul > li .calcInput ul li { width: 25%; height: 60px;  float: left; box-sizing: border-box; padding: 10px 10px 10px 0; }
.productView .proViewBottom .proContent .proCalc ul > li .calcInput ul li div { width: 100%; height: 100%; border:1px solid #ddd; text-align: center; color: #999; line-height: 40px; transition: all .5s; cursor:pointer;} /*의뢰인수정 border 사이즈 변경 */
.productView .proViewBottom .proContent .proCalc ul > li .calcInput ul li div:hover { background-color: #4874e8; color: #fff; }
.productView .proViewBottom .proContent .proCalc ul > li .btnBox { clear:both; text-align: right; padding-top: 15px; }
.productView .proViewBottom .proContent .proCalc ul > li .btnBox button { width: 120px; height: 40px; border:0; font-size: 15px; margin-left: 5px; cursor: pointer;}
.productView .proViewBottom .proContent .proCalc ul > li .btnBox .resetBtn { background-color: #eee; color: #777;}

.productView .proViewBottom .proContent .proCalc ul > li .btnBox .calcBtn { background-color: #4874e8; color: #fff; }

.productView .proViewBottom .proContent .proNoti p { font-size: 14px; line-height: 20px; color: #777; }

.productView .proViewBottom .proAside .asideTitle { text-align: center;  font-weight: bold; font-size: 18px; padding: 20px 0; }
.productView .proViewBottom .proAside .asideBox { box-sizing: border-box; border:1px solid #eee; }
.productView .proViewBottom .proAside .asideBox .conBox { height: 800px; overflow-x:hidden; overflow-y: scroll; -webkit-overflow-scrolling: touch; } /*의뢰인 변경   height 사이즈 조절 */
.productView .proViewBottom .proAside .asideBox .conBox ul { padding-top: 0; }
.productView .proViewBottom .proAside .asideCall {}
.productView .proViewBottom .proAside .asideCall button { width: 100%; height: 50px; line-height: 48px; background-color: #4874e8; color: #fff; border:0; cursor: pointer; font-size: 20px;} /*의뢰인 변경     font-size: 20px; */
.productView .proViewBottom .proAside .asideCall button .i_call {     background: url(../images/callBtn.png) no-repeat 0 0; width: 25px; height: 25px; background-size: 25px; display: inline-block; position: relative; top: 7px; margin-right: 10px; } /*의뢰인 변경 - 이미지 크기 변경*/
.productView .proViewBottom .proAside .asideReport { height: 160px; padding-top: 0px; } /* 의뢰인 수정 - padding 값 조정 */
.productView .proViewBottom .proAside .asideReport .reportBox { width: 100%; height: 100%;  box-sizing: border-box; border:1px solid #ddd; background-color: #f8f8f8; padding: 10px 20px;}
.productView .proViewBottom .proAside .asideReport .reportBox p { font-size: 14px; padding-bottom: 15px; }
.productView .proViewBottom .proAside .asideReport .reportBox p b { display: block; margin-bottom: 15px; }
.productView .proViewBottom .proAside .asideReport .reportBox .reportBtn { width: 100%; height: 40px; border:0; color: #fff; background-color: #999; cursor: pointer; font-size: 18px;}


/* 의뢰인 수정 - 배너광고 */
.productView .proViewBottom .proAside .asideBanner { padding-top: 0px; text-align: center; }
.productView .proViewBottom .proAside .asideBanner img { width: 100%;	 }
.productView .proViewBottom .proAside .asideBanner .bannertBox { width: 100%; height: 100%;  box-sizing: border-box; border:1px solid #ddd; background-color: #f8f8f8; padding: 10px 20px;}
.productView .proViewBottom .proAside .asideBanner .bannertBox p { font-size: 14px; padding-bottom: 15px; }
.productView .proViewBottom .proAside .asideBanner .bannertBox p b { display: block; margin-bottom: 15px; }
.productView .proViewBottom .proAside .asideBanner .bannertBox .bannertBtn { width: 100%; height: 40px; border:0; color: #fff; background-color: #999; cursor: pointer; font-size: 18px;}


/* 의뢰인 수정 */
.loading9 i{
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 50%;
  background: #8fbff4;
  margin-top: 120px;
}
.loading9 i:first-child{
  animation:loading9-ani2 0.5s linear infinite;
  opacity: 0;
  transform:translate(-20px);
}
.loading9 i:nth-child(2),
.loading9 i:nth-child(3){
  animation:loading9-ani3 0.5s linear infinite;
}
.loading9 i:last-child{
  animation:loading9-ani1 0.5s linear infinite;
}
@keyframes loading9-ani1{
  100%{
    transform:translate(40px);
    opacity: 0;
  }
}
@keyframes loading9-ani2{
  100%{
    transform:translate(20px);
    opacity: 1;
  }
}
@keyframes loading9-ani3{
  100%{
    transform:translate(20px);
  }
}



/* loanresult.html 레이아웃 변경 180824 추가 */
.productView .loanResultTop .conBoxWrap { width: 100%; box-sizing: border-box; padding: 0 50px; margin-bottom: 20px;}
.productView .loanResultTop .conBoxWrap::after { content: ""; display: block;clear: both; }
.productView .loanResultTop .conBoxWrap > div { float: left; }
.productView .loanResultTop .conBoxWrap .con50 { width: 45%; }
.productView .loanResultTop .conBoxWrap .con50Title { text-align: center; font-weight: bold; color: #222; font-size: 16px; }
.productView .loanResultTop .conBoxWrap .conDot { width: 10%; }
.productView .loanResultTop .conBoxWrap .conDot ul { overflow: hidden; }
.productView .loanResultTop .conBoxWrap .conDot ul li { float: left; width: 33.3333%; text-align: center; line-height: 240px;}
.productView .loanResultTop .conBoxWrap .conDot ul li div { width: 20px; height: 20px; display: inline-block; border-radius: 50%;}
.productView .loanResultTop .conBoxWrap .conDot ul li .conDot_1 { background-color: #badbff; }
.productView .loanResultTop .conBoxWrap .conDot ul li .conDot_2 { background-color: #8cc3ff; }
.productView .loanResultTop .conBoxWrap .conDot ul li .conDot_3 { background-color: #47a0ff; }

.productView .loanResultTop .conTotal { width: 45%; height: 280px; float: right; box-sizing: border-box; border: 1px solid #e1e1e1; text-align: center; color: #4874e8; } /*의뢰인 수정 가로 비율 */
.productView .loanResultTop .conTotal .totalTitle {  font-weight: bold; font-size: 22px; padding: 20px 0 0; color: #777;}
.productView .loanResultTop .conTotal b { font-size: 90px; font-weight: 400; color: #4874e8; display: inline-block;padding: 5px 0 15px; }
.productView .loanResultTop .conTotal .totalDesc { color: #777; font-weight: bold; font-size: 18px; }

.productView .proViewBottom.bt-0 { border-top: 0; }

.search .conBox ul li .custom { width: 105%; height:100%; border:1px solid #eee; border-radius: 10px; display: block; position: relative; box-sizing: border-box; box-shadow: 3px 3px 3px 0 rgba(0,0,0,.28); overflow: hidden; padding-top: 20px;}
.search .conBox ul li .custom::after {content: ""; display: block; border-top: 1px solid #eee; width: 88%; margin: 85px auto 0;}
.search .conBox ul li .custom .cGender { width: 65px; height: 65px; padding: 0 8px 10px; float: left; }
.search .conBox ul li .custom .cGender img {width: 100%;}
.search .conBox ul li .custom .cName { float: left; font-weight: bold; color: #222;font-size: 16px; }
.search .conBox ul li .custom .cInfo { float: left; font-size: 11px; color: #999; line-height: 30px; font-weight: bold; margin:0 5px;}
.search .conBox ul li .custom .cDesc { float: left; overflow: hidden; text-align: center;}

.search .conBox ul li .custom .cDesc .cLimit { font-size: 24px; font-weight: bold; color: #4874e8; float: left;}
.search .conBox ul li .custom .cDesc .cCate { float: left; color: #999; font-size: 11px; padding-left: 20px;}
.search .conBox ul li .custom .cDesc .cCate b { color: #222; display: block; font-size: 12px; }
.search .conBox ul li .custom .cBottom { clear: both; width: 100%; overflow: hidden;text-align: center; position: absolute; bottom: 0; left: 0; padding-bottom: 20px;}
.search .conBox ul li .custom .cBottom .cTotal { width: 40%; float: left; }
.search .conBox ul li .custom .cBottom .cCount { width: 50%; float: right; }
.search .conBox ul li .custom .cBottom .cTitle { font-size: 12px; font-weight: bold; color: #777; }
.search .conBox ul li .custom .cBottom span {  color: #f75221; font-size: 14px; font-weight: bold;}


/* ---------- listView_customer.html 레이아웃 변경 180904 배다빈 추가 ---------- */
.listView .listTab { width: 100%; }
.listView .listTab ul { float:none; width: 100%; }
.listView .listTab ul::after {content: ""; display: block; clear: both;}
.listView .listTab ul li { float:left; width: 33.3333%; height: auto; padding: 0;  margin: 0;}
.listView .listTab ul li div { padding: 15px 0; text-align: center; font-weight: bold; color:#222; font-size: 16px; background-color: #f8f8f8; transition: all .5s; cursor: pointer;}
.listView .listTab ul li.active div { background-color: #4874e8; color:#fff; }
.listView .listTabBox { width: 100%; border:1px solid #f8f8f8; box-sizing: border-box; }
.listView .listTabBox > section {visibility: hidden; height: 1px; overflow: hidden; }
.listView .listTabBox > section.active {visibility: visible; height: auto; overflow:unset;  }
.listView .listTabBox .ltContent3 { width: 100%;  }
.listView .listTabBox .ltContent1 {  }
.listView .listTabBox .ltDesc {  }
.listView .listTabBox .ltDesc p { padding: 20px 30px; color: #777; font-size: 15px; line-height: 22px;}
.listView .listTabBox .ltDesc p strong { display: block; font-weight: 400; }
.listView .listTabBox .ltCalc {  }
.listView .listTabBox .ltCalc .calcWrap { width: 70%; margin: 20px auto; }
.listView .listTabBox .ltCalc .calcWrap .calcBox { width: 100%; border:2px solid #292929; border-radius: 5px; position: relative; height: 100px; line-height: 140px; text-align: center; }
.listView .listTabBox .ltCalc .calcWrap .calcBox .calcTitle { width: 110px; font-size: 16px; color: #fff; height: 30px; line-height: 28px; border-radius: 20px; background-color: #292929; position: absolute; top: -18px; left: 20px; text-align: center;}
.listView .listTabBox .ltCalc .calcWrap .calcBox .calcDesc { display: inline-block; line-height: 20px; }
.listView .listTabBox .ltCalc .calcWrap .calcBox .calcDesc:after { content: ""; display: block; clear: both; }
.listView .listTabBox .ltCalc .calcWrap .calcBox .calcDesc > div { float: left; }
.listView .listTabBox .ltCalc .calcWrap .calcBox .calcDesc .cTop { display: block; text-align: center;  border-bottom: 2px solid #292929; padding-bottom: 7px; font-weight: bold;}
.listView .listTabBox .ltCalc .calcWrap .calcBox .calcDesc .cBottom { display: block; text-align: center; padding-top: 7px; font-weight: bold;}
.listView .listTabBox .ltCalc .calcWrap .calcBox .calcDesc .lh55 { line-height: 55px; padding-left: 10px; font-size: 14px; font-weight: bold;}
.listView .listTabBox .ltResult {  }
.listView .listTabBox .ltResult h4 { text-align: center; width: 800px; margin: 0 auto 20px; border-bottom: 2px solid #222; font-size:30px; line-height: 70px;}
.listView .listTabBox .ltResult h4 span { color: #4874e8 }
.listView .listTabBox .ltResult p { width: 50%; margin: 0 auto; color: #777; font-size: 15px; line-height: 22px; }
.listView .listTabBox .ltTable { padding-bottom: 50px; padding-top: 50px; }
.listView .listTabBox .ltTable table { width: 100%; border-spacing: 0;}
.listView .listTabBox .ltTable table th { background-color: #f8f8f8; height: 50px; line-height: 50px; color:#777; font-weight: 400; font-size: 15px;}
.listView .listTabBox .ltTable table td { text-align: center; color: #555; line-height: 50px;  border-bottom: 1px solid #f8f8f8;}

.listView .listViewMap { width: 100%; margin-bottom: 20px;}
.listView .listViewMap .mapArea { width: 100%; height: 400px; background-color: #eee; line-height: 400px; text-align: center;}

.listView .listTabBox section .pager { text-align: center;	padding-top: 50px; }
.listView .listTabBox section .pager ul { overflow: hidden; display: inline-block;width:auto;	 float: none;	}
.listView .listTabBox section .pager ul li { height: 35px; display: block; float: left; text-align: center; margin: 0 5px; width:auto;	padding: 0;	}
.listView .listTabBox section .pager ul li a { font-size: 14px; display: block; width: 100%; height: 100%; line-height: 35px; color:#4874e8;padding: 0 6px; transition: all .5s; outline:0; text-align: center;	}
.listView .listTabBox section .pager ul li a:hover { color: #fff; background-color: #8fbff4; }
.listView .listTabBox section .pager ul li a.active { font-weight: bold; color: #fff; background-color: #4874e8;}
.listView .listTabBox section .pager .prev a { color: #777; }
.listView .listTabBox section .pager .next a { color: #777; }
/* ---------- //listView_customer.html 레이아웃 변경 180904 배다빈 추가 ---------- */




@media only screen and (min-width: 960px) and (max-width: 1200px) {

	.search .contentWrap { width: 100%; }

	/* loanresult */
	.search .productBox table .pDesc { padding: 0 20px;}
	
	/* ---------- productView.html 반응형 작업 180828 배다빈 추가 ---------- */
	.productView .proViewTop .conBoxWrap { height: 430px; }
	.productView .proViewTop .conIntro { height: 430px; width: 60%; }

	.productView .proViewTop .conBoxWrap .conBox { width:auto; left: 40px;}
	.productView .proViewTop .conIntro .row .answer { padding-left: 20px; }
	.productView .proViewTop .conIntro .row .joinHow > li { width: 20%; height: 90px;}
	.productView .proViewTop .conIntro .btnLine { padding-top: 20px; }
	.productView .proViewTop .conIntro .btnLine .goCall { width: 280px; }

	.productView .proViewTop .conStats { box-sizing: border-box; padding: 10px 20px; }
	/* ---------- //productView.html 반응형 작업 180828 배다빈 추가 ---------- */

	/* ---------- loanresult.html 반응형 작업 180830 배다빈 추가 ---------- */
	.productView .loanResultTop .conTotal { width: 40%; }
	.productView .loanResultTop .conIntro .row .answer { width: calc( 100% - 100px ); box-sizing: border-box;}

	.productView .loanResultTop .conBoxWrap { padding: 0; height: 320px;}
	.productView .loanResultTop .conBoxWrap .conBox { left: 0;  }
	.productView .loanResultTop .conBoxWrap .conBox ul { text-align: center; }
	.productView .loanResultTop .conBoxWrap .conBox ul li { display: inline-block; float: none;}
	/* ---------- //loanresult.html 반응형 작업 180830 배다빈 추가 ---------- */

	/* ---------- listView_customer.html 레이아웃 변경 180904 배다빈 추가 ---------- */
	.listView .listTabBox .ltContent2 .ltCalc .calcWrap { width: 80%; }
	/* ---------- //listView_customer.html 레이아웃 변경 180904 배다빈 추가 ---------- */



}

@media only screen and (min-width: 768px) and (max-width: 959px) {

	.search .contentWrap { width: 100%; }

	.search .contentWrap h3 span {}
	.search .contentWrap h3 .listViewTitle { font-size: 16px; }
	.search .contentWrap h3 strong {  }
	.search .contentWrap h3 .listAlign { font-size: 12px; }

	.search .productBox table .pTitle { font-size: 16px; }
	.search .productBox table .pDesc {  padding: 0;}

	/* search View 업체상세페이지 */
	.searchView .row { font-size: 14px; }

	/* ---------- productView.html 반응형 작업 180828 배다빈 추가 ---------- */
	.productView .proViewTop .conBoxWrap { height: 430px; min-width: 300px;}
	.productView .proViewTop .conIntro { height: 430px; width: 60%; }
	.productView .proViewTop .conBoxWrap .conBox { transform: scale(1); left: 0;}
	.productView .proViewTop .conIntro .row .answer { padding-left: 20px; }
	.productView .proViewTop .conIntro .row .joinHow > li { width: 20%; height: 88px;}
	.productView .proViewTop .conIntro .btnLine { padding-top: 20px; }
	.productView .proViewTop .conIntro .btnLine .goCall { width: 210px; font-size: 18px;}

	.productView .proViewTop .conIntro .btnLine > div { padding: 0 2px; }

	.productView .proViewTop .conStats { box-sizing: border-box; padding: 10px 10px; }

	.productView .proViewTop .conStats .gradeBox { font-size: 25px; }
	.productView .proViewTop .conStats .gradeTitle { font-size: 14px; }
	.productView .proViewTop .conStats .conDate .conDateBox ul li span { font-size: 35px; }
	.productView .proViewTop .conStats .conDate .conDateDesc { font-size: 14px; }

	.productView .proViewBottom h4.warning { font-size: 14px; }

	.productView .proViewBottom .proContent { box-sizing: border-box; padding: 0 10px; }
	.productView .proViewBottom .proContent .proView { width: calc( 100% - 300px ); padding-right: 10px;}
	.productView .proViewBottom .proContent .proAside { width: 300px; }
	.productView .proViewBottom .proContent section h4 { font-size: 18px; }
	.productView .proViewBottom .proContent .proComp .gradeBox { font-size: 25px; }
	.productView .proViewBottom .proContent .proComp .gradeTitle { font-size: 14px; }

	.productView .proViewBottom .proContent .proComp .profileWrap .profile { width: 150px; }
	.productView .proViewBottom .proContent section > ul > li { padding-left: 0; padding-right: 0; }
	.productView .proViewBottom .proContent .proComp > ul > li > ul > li { font-size: 13px; }

	.productView .proViewBottom .proContent .proComp .reviewBox ul li { padding: 10px; }
	.productView .proViewBottom .proContent .proComp .reviewBox ul li .rGender { width: 80px; height: 80px; background-size: 80px; }
	.productView .proViewBottom .proContent .proComp .reviewBox ul li .rGrade { padding-top: 0; }
	.productView .proViewBottom .proContent .proComp .reviewBox ul li .rName { font-size: 20px; }
	.productView .proViewBottom .proContent .proComp .reviewBox ul li .rDesc p { padding: 10px; }

	.productView .proViewBottom .proContent section > ul > li .answer { font-size: 13px; }
	.productView .proViewBottom .proContent .proCalc ul > li .calcInput input { width: 80%; }
	.productView .proViewBottom .proContent .proCalc ul > li .calcInput .addon { width: 20%; }
	.productView .proViewBottom .proContent .proCalc ul > li .calcInput ul { width: 100%; margin-left: 0; padding-left: 0; }
	.productView .proViewBottom .proContent .proCalc ul > li .calcInput ul li { padding-right: 0px; }
	.productView .proViewBottom .proContent .proCalc ul > li .calcInput ul li div { box-sizing: border-box; border-right: 0; font-size: 14px;}
	.productView .proViewBottom .proContent .proCalc ul > li .calcInput ul li.br1 div {border-right: 1px solid #ddd;}
	/* ---------- //productView.html 반응형 작업 180828 배다빈 추가 ---------- */

	/* ---------- loanresult.html 반응형 작업 180830 배다빈 추가 ---------- */
	.productView .loanResultTop .conTotal { width: 35%; margin-top: 20px; height: 325px;}
	.productView .loanResultTop .conTotal .totalTitle { padding-top: 40px; font-size: 20px;}
	.productView .loanResultTop .conTotal b { padding: 20px 0 30px; font-size: 80px;}
	.productView .loanResultTop .conTotal .totalDesc { font-size: 16px; }
	.productView .loanResultTop .conIntro { width: 65%; padding-right: 20px; }
	.productView .loanResultTop .conIntro .row .downBox .joinHow { width: 460px; }
	.productView .loanResultTop .conIntro .row .answer { width:100%; box-sizing: border-box;}

	.productView .loanResultTop .conBoxWrap { padding: 0; height: 320px; }
	.productView .loanResultTop .conBoxWrap .con50 { width: 42%; }
	.productView .loanResultTop .conBoxWrap > .loading9 { width: 16%; }
	.productView .loanResultTop .conBoxWrap .conBox { left: 0; width: 100%;  }
	.productView .loanResultTop .conBoxWrap .conBox ul { text-align: center; }
	.productView .loanResultTop .conBoxWrap .conBox ul li { display: inline-block; float: none;}
	/* ---------- //loanresult.html 반응형 작업 180830 배다빈 추가 ---------- */
	
	/* ---------- listView_customer.html 레이아웃 변경 180904 배다빈 추가 ---------- */
	.listView .listTabBox .ltContent2 .ltCalc .calcWrap { width: 95%; }
	.listView .listTabBox .ltResult h4 { width: 80%; }
	.listView .listTabBox .ltResult p { width: 80%; }
	/* ---------- //listView_customer.html 레이아웃 변경 180904 배다빈 추가 ---------- */

	
	.search .searchWrap .conBox ul.productForm li { padding-bottom: 105px; }
	.search .searchWrap .conBox ul.productForm li .proResBox { padding: 0px 30px 10px; }


}



@media only screen and (max-width: 767px) {

	.search .contentWrap { width: 100%; box-sizing: border-box; padding: 0 10px 20px;}
	.search .contentWrap h3 { font-size: 18px; margin-bottom: 30px;}
	.search .contentWrap h3 span {}
	.search .contentWrap h3 .listViewTitle { font-size: 14px; }
	.search .contentWrap h3 strong {  }
	.search .contentWrap h3 .listAlign { font-size: 11px; }

	.search .productBox table tr.none { display: none; }
	.search .productBox table tr.bt { border-top: 1px solid #ccc; }
	.search .productBox table tr:hover {background-color: transparent;}
    .search .productBox table td { display: block; width: 100%;  text-align: right; border:0; height: auto; padding: 4px 40px; box-sizing: border-box; border-left:1px solid #ccc; border-right: 1px solid #ccc; box-shadow: 3px 3px 3px 0 rgba(0,0,0,.28); background-color: #fff;}
    .search .productBox table td:first-child { padding-top: 30px; border-top: 1px solid #ccc; border-radius: 10px 10px 0 0;}
    .search .productBox table td:last-child { border-radius: 0 0 10px 10px;border-bottom: 1px solid #ccc; margin-bottom: 20px;}
    .search .productBox table td::before { content: attr(data-label);  float: left;  font-weight: bold; text-transform: uppercase;}
    .search .productBox table td .pGrade { display: inline-block;  height: 25px; line-height: 22px; }
    .search .productBox table td .pGrade .star { display: inline-block; width: 20px; height: 20px;  position: relative; top: 3px; right: 5px;}
    .search .productBox table td .pTitle { font-size: 18px; }
    .search .productBox table td .pLimit { font-size: 18px; }
    .search .productBox table td .pRate { font-size: 18px; }
    .search .productBox table td .pDesc { padding-top: 10px; padding-bottom: 10px;}
	.search .productBox table td .pDesc .pDescBox div a { text-align: center;}

	/* search View 업체상세페이지 */
	.searchView { border-bottom: 1px solid #e1e1e1; }
	.searchView .searchTitle {  padding-bottom:20px; }
	.searchView .row { border:0; }
	.searchVIew .row  { border:0; }
	.searchView .row .row_group_2 { width: 100%; float: left;  border-bottom: 1px solid #e1e1e1;}
	.searchView .row .row_group_2 .question { font-size: 11px; }
	.searchView .row .row_group_2 .answer { font-size: 11px; }
	.searchView .row .row_group_1 .question { width: 50%; font-size: 11px; height: 50px; line-height: 50px;}
	.searchView .row .row_group_1 .answer { width: 50%;	font-size: 11px; height: 50px;}

	.search .contentWrap .pager { width: 100%; padding-bottom: 50px;}
	.search .contentWrap .pager ul { width: 100%;	text-align: center;	 }
	.search .contentWrap .pager ul li {margin: 0; width: 8.33%; }
	.search .contentWrap .pager ul li a { box-sizing: border-box; font-size:12px;}

	/* product Popup */
	.search .productWrap .productContent { width: 100%; padding: 5px;}

	/* productView.html 반응형 작업 180828 배다빈 추가 */
	.productView .proViewTop { overflow: hidden; }
	.productView .proViewTop .conBoxWrap { width: 100%;  float: none; }
	.productView .proViewTop .conBoxWrap .conBox { transform: scale(1); left: 0; top: 0; }
	.productView .proViewTop .conIntro { width: 100%; height: auto; float: none; }
	.productView .proViewTop .conIntro .row { margin-top: 10px; }
	.productView .proViewTop .conIntro .row .question { text-align: left; padding-left: 10px; }
	.productView .proViewTop .conIntro .row .answer { width: 100%; font-size: 14px; line-height: 20px;}
	.productView .proViewTop .conIntro .row .joinHow { padding-bottom: 20px; }
	.productView .proViewTop .conIntro .row .joinHow > li { width: 20%; height: 100px;}
	.productView .proViewTop .conIntro .row .joinHow > li > div { font-size: 12px; }

	.productView .proViewTop .conIntro .btnLine { overflow: hidden; }
	.productView .proViewTop .conIntro .btnLine > div { float: left; width: 20%; box-sizing: border-box; padding: 0 2px;}
	.productView .proViewTop .conIntro .btnLine > div button { width: 100%; }
	.productView .proViewTop .conIntro .btnLine .goCall { width: 100%; font-size: 10px; line-height: 15px;}
	.productView .proViewTop .conIntro .btnLine .goCall .i_call { display: block; background-size: 22px; top: 0; margin: 6px auto 0; }

	.productView .proViewTop .conStats { }
	.productView .proViewTop .conStats .conGrade { float:none; width: 100%; padding-right: 0; padding-bottom: 20px;}
	.productView .proViewTop .conStats .gradeBox { font-size: 30px; }
	.productView .proViewTop .conStats .gradeBox .star i { font-size: 30px; }
	.productView .proViewTop .conStats .gradeTitle { font-size: 14px; }
	.productView .proViewTop .conStats .conDate { float: none; width: 100%; }
	.productView .proViewTop .conStats .question { font-size: 14px; }
	.productView .proViewTop .conStats .conDate .conDateBox ul li { font-size: 12px; }
	.productView .proViewTop .conStats .conDate .conDateBox ul li span { font-size: 30px; }
	.productView .proViewTop .conStats .conDate .conDateDesc { font-size: 14px; }

	
	.productView .proViewBottom h4.warning { font-size: 12px; text-align: left; padding: 5px 10px 10px;}
	.productView .proViewBottom h4.warning strong { margin-right:5px;}
	.productView .proViewBottom h4.warning .i_warning { margin-right: 5px; }
	
	.productView .proViewBottom .proNavi { overflow: hidden; height: 40px;}
	.productView .proViewBottom .proNavi ul { overflow-x: auto; overflow-y: hidden;}
	.productView .proViewBottom .proNavi ul > li { font-size: 14px; padding: 10px 5px; }

	.productView .proViewBottom .proContent .proView { float: none; width: 100%; padding-right: 0; }
	.productView .proViewBottom .proContent .proComp h4 { font-size: 15px; }
	.productView .proViewBottom .proContent .proComp h4 .snsBox ul li { padding: 0 5px; }

	.productView .proViewBottom .proContent .proComp h4 .snsBox span.i_sns { background-size: 25px; width: 25px;height: 25px; }

	.productView .proViewBottom .proContent section h4 { font-size: 15px; }
	.productView .proViewBottom .proContent section > ul > li { padding: 10px 0px; }

	.productView .proViewBottom .proContent .proComp .gradeBox { font-size: 25px; }
	.productView .proViewBottom .proContent .proComp .gradeBox .star i { font-size: 25px; }
	.productView .proViewBottom .proContent .proComp .gradeTitle { font-size: 14px; }
	.productView .proViewBottom .proContent .proComp .profileWrap .profile { width: 100px; }
	.productView .proViewBottom .proContent .proComp > ul > li > ul > li { font-size: 12px; }
	.productView .proViewBottom .proContent .proComp .companyMap { height: 300px; }
	.productView .proViewBottom .proContent .proComp .reviewBox ul li { padding: 10px; }
	.productView .proViewBottom .proContent .proComp .reviewBox ul li .rGender { width: 50px; height: 50px; background-size: 50px; margin-top: 5px;}
	.productView .proViewBottom .proContent .proComp .reviewBox ul li .rGrade { padding-top: 0; padding-bottom: 0; padding-left: 10px;}
	.productView .proViewBottom .proContent .proComp .reviewBox ul li .rGrade i { font-size: 14px; }
	.productView .proViewBottom .proContent .proComp .reviewBox ul li .rName { font-size: 18px; padding-left: 10px; }
	.productView .proViewBottom .proContent .proComp .reviewBox ul li .rDate { line-height: 30px; }
	.productView .proViewBottom .proContent .proComp .reviewBox ul li .rReport {line-height: 30px;}
	.productView .proViewBottom .proContent .proComp .reviewBox ul li .rDesc p { padding: 10px 10px; }
	.productView .proViewBottom .proContent section > ul > li .question { font-size: 14px; }
	.productView .proViewBottom .proContent section > ul > li .answer { font-size: 13px; line-height: 22px;}

	.productView .proViewBottom .proContent .proCalc ul > li .calcTitle { float: none;  width: 200px; text-align: left; box-sizing: border-box; padding-left: 5px;}
	.productView .proViewBottom .proContent .proCalc ul > li .calcInput { float: none; width: 100%; }
	.productView .proViewBottom .proContent .proCalc ul > li .calcInput input {width: 80%;}
	.productView .proViewBottom .proContent .proCalc ul > li .calcInput .addon { width: 20%; }
	.productView .proViewBottom .proContent .proCalc ul > li .calcInput ul { width: 100%; }
	.productView .proViewBottom .proContent .proCalc ul > li .calcInput ul li { padding-right: 0; }
	.productView .proViewBottom .proContent .proCalc ul > li .calcInput ul li div { border-right: 0;box-sizing: border-box; font-size: 14px;}
	.productView .proViewBottom .proContent .proCalc ul > li .calcInput ul li.br1 div { border-right: 1px solid #ddd; }
	.productView .proViewBottom .proContent .proCalc ul > li .btnBox { text-align: center; }
	
	.productView .proViewBottom .proContent .proAside { width: 100%; float: none; }
	.productView .proViewBottom .proAside .asideTitle { font-size: 15px; padding: 10px 0; }
	.productView .proViewBottom .proAside .asideBox { border-left: 0; border-right: 0; }

	/* ---------- loanresult.html 반응형 작업 180830 배다빈 추가 ---------- */
	.productView .loanResultTop .conTotal { width: 100%; float: none; margin-top: 20px; height: 180px;}
	.productView .loanResultTop .conTotal .totalTitle { font-size: 18px; padding-top: 10px;}
	.productView .loanResultTop .conTotal b { font-size: 60px; }
	.productView .loanResultTop .conTotal .totalDesc { font-size: 14px; }

	.productView .loanResultTop .conBoxWrap { padding: 0; height: auto; }
	.productView .loanResultTop .conBoxWrap .con50 { width: 100%; float:none; }
	.productView .loanResultTop .conBoxWrap > .loading9 { width: 100%; float: none; padding-top: 20px;}
	.productView .loanResultTop .conBoxWrap > .loading9 .loadingBox { transform: rotate(90deg);  margin: 0 auto; width: 130px; height: 100px; line-height: 100px;}
	.productView .loanResultTop .conBoxWrap > .loading9 i { margin-top: 0; width: 15px; height: 15px;}
	.productView .loanResultTop .conBoxWrap .conBox { left: 0; width: 100%;  }
	.productView .loanResultTop .conBoxWrap .conBox ul { text-align: center; }
	.productView .loanResultTop .conBoxWrap .conBox ul li { display: inline-block; float: none;}
	.productView .loanResultTop .conBoxWrap .conBox ul li .custom { width: 100%; }
	.productView .loanResultTop .conBoxWrap .conBox ul li .custom .cDesc { float: none; width: 100%; clear: both; position: absolute; top: 43px; padding-left: 50px; box-sizing: border-box;}
	.productView .loanResultTop .conBoxWrap .conBox ul li .custom .cDesc .cLimit { float:none; display: inline-block; }
	.productView .loanResultTop .conBoxWrap .conBox ul li .custom .cDesc .cCate {float: none; display: inline-block; position: relative; top: 5px;}
	/* ---------- //loanresult.html 반응형 작업 180830 배다빈 추가 ---------- */

	/* ---------- listView_customer.html 레이아웃 변경 180904 배다빈 추가 ---------- */
	.listView .listTab ul li div { font-size: 11px; }
	.listView .listTabBox .ltDesc p { padding: 15px 15px; font-size: 14px;}
	.listView .listTabBox .ltCalc .calcWrap { width: 90%; }
	.listView .listTabBox .ltContent2 .ltCalc .calcWrap { width: 100%; }
	.listView .listTabBox .ltContent2 .ltCalc .calcWrap .calcBox { padding-top: 30px; padding-bottom: 20px;}
	.listView .listTabBox .ltContent2 .ltCalc .calcWrap .calcBox .calcDesc .cTop { font-size: 14px; width: 200px; box-sizing: border-box; padding: 0 5px; }
	.listView .listTabBox .ltContent2 .ltCalc .calcWrap .calcBox .calcDesc .cBottom { font-size: 14px; }
	.listView .listTabBox .ltContent2 .ltCalc .calcWrap .calcBox .calcDesc .lh55 { line-height: 120px; }
	.listView .listTabBox .ltResult h4 { width: 100%; font-size: 22px; line-height: 36px; padding-bottom: 10px;}
	.listView .listTabBox .ltResult p { width: 90%; font-size: 14px;}
	.listView .listTabBox .ltTable {}
	.listView .listTabBox .ltTable table .thGroup { display: none; }
	.listView .listTabBox .ltTable table tr { border: 1px solid #ddd; width: 90%; margin: 20px auto; display: block; box-sizing: border-box; padding: 20px 20px; border-radius: 10px; box-shadow: 3px 3px 3px 0 rgba(0,0,0,.28);}
	.listView .listTabBox .ltTable table td { display: block; width: 100%; text-align: right; line-height: 36px; border:0;}
	.listView .listTabBox .ltTable table td::before { content: attr(data-label); float: left; text-transform: uppercase; font-weight: bold;}
	/* ---------- //listView_customer.html 레이아웃 변경 180904 배다빈 추가 ---------- */

	.popupReserve .wrap { left: 0; margin-left: 0; width: 100%; padding: 20px 10px;}
	.popupReserve .wrap .reserveBox select { padding: 8px 12px; margin-right: 0;}

}

@media only screen and (min-width:530px ) and (max-width: 766px){
	/* product Popup */
	.search .productWrap .productContent { width: 50%; padding: 5px;}
}


@media only screen and (max-width: 359px) {

	.search .contentWrap .pager { width: 100%; }
	.search .contentWrap .pager ul { width: 100%;	text-align: center;	 }
	.search .contentWrap .pager ul li {margin: 0; width: 8.33%; }
	.search .contentWrap .pager ul li a { box-sizing: border-box; font-size:10px;}
		
	.listView .listTabBox section .pager { width: 100%; }
	.listView .listTabBox section .pager ul { width: 100%;	text-align: center;	 }
	.listView .listTabBox section .pager ul li {margin: 0; width: 8.33%; }
	.listView .listTabBox section .pager ul li a { box-sizing: border-box; font-size:10px;}
}



